openapi: 3.2.0
info:
  title: Kaltura Session API
  version: '1.0'
  description: 'Operations tagged session across 2 of this provider''s published API definitions: ott.openapi.json, ovp.openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://tvpapi-us-preprod.ott.kaltura.com/api_v3
- url: http://tvpapi-us-preprod.ott.kaltura.com/api_v3
- url: https://www.kaltura.com/api_v3
- url: http://www.kaltura.com/api_v3
security:
- ks: []
tags:
- name: Session
paths:
  /service/session/action/get:
    post:
      description: Parses KS
      operationId: session.get
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KalturaSession'
            text/xml:
              schema:
                $ref: '#/components/schemas/KalturaSession'
      tags:
      - Session
      x-kaltura-format: post
      x-kaltura-parameters:
      - session
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OTTRequest'
              properties:
                session:
                  type: string
              type: object
      summary: Session get
      x-summary-source: derived
    servers:
    - url: https://tvpapi-us-preprod.ott.kaltura.com/api_v3
    - url: http://tvpapi-us-preprod.ott.kaltura.com/api_v3
  /service/session/action/revoke:
    post:
      description: Revokes all the sessions (KS) of a given user
      operationId: session.revoke
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
      tags:
      - Session
      x-kaltura-format: post
      x-kaltura-parameters: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OTTRequest'
              properties: {}
              type: object
      summary: Session revoke
      x-summary-source: derived
    servers:
    - url: https://tvpapi-us-preprod.ott.kaltura.com/api_v3
    - url: http://tvpapi-us-preprod.ott.kaltura.com/api_v3
  /service/session/action/switchUser:
    post:
      description: Switching the user in the session by generating a new session for a new user within the same household
      operationId: session.switchUser
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KalturaLoginSession'
            text/xml:
              schema:
                $ref: '#/components/schemas/KalturaLoginSession'
        x-Errors:
          description: '* `UserNotActivated`: undefined'
      tags:
      - Session
      x-kaltura-format: post
      x-kaltura-parameters:
      - userIdToSwitch
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OTTRequest'
              properties:
                userIdToSwitch:
                  type: string
              type: object
      summary: Session switch user
      x-summary-source: derived
    servers:
    - url: https://tvpapi-us-preprod.ott.kaltura.com/api_v3
    - url: http://tvpapi-us-preprod.ott.kaltura.com/api_v3
  /service/session/action/end:
    post:
      description: End a session with the Kaltura server, making the current KS invalid.
      operationId: session.end
      parameters:
      - $ref: '#/components/parameters/ks'
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/clientTag'
      - $ref: '#/components/parameters/partnerId'
      - $ref: '#/components/parameters/language'
      - $ref: '#/components/parameters/responseProfile'
      responses:
        '200':
          description: Success
      tags:
      - Session
      x-kaltura-format: post
      x-kaltura-parameters: []
      summary: Session end
      x-summary-source: derived
    servers:
    - url: https://www.kaltura.com/api_v3
    - url: http://www.kaltura.com/api_v3
  /service/session/action/impersonate:
    post:
      description: 'Start an impersonated session with Kaltura''s server.


        The result KS is the session key that you should pass to all services that requires a ticket.'
      operationId: session.impersonate
      parameters:
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/clientTag'
      - $ref: '#/components/parameters/partnerId'
      - $ref: '#/components/parameters/language'
      - $ref: '#/components/parameters/responseProfile'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
        x-Errors:
          description: '* `START_SESSION_ERROR`: Error while starting session for partner [@PID@]'
      security: []
      tags:
      - Session
      x-kaltura-format: post
      x-kaltura-parameters:
      - secret
      - impersonatedPartnerId
      - userId
      - type
      - partnerId
      - expiry
      - privileges
      requestBody:
        content:
          application/json:
            schema:
              properties:
                expiry:
                  default: 86400
                  type: integer
                impersonatedPartnerId:
                  type: integer
                partnerId:
                  type: integer
                privileges:
                  type: string
                secret:
                  type: string
                  x-inputType: password
                type:
                  default: 0
                  enum:
                  - 0
                  - 2
                  type: integer
                  x-enumLabels:
                  - USER
                  - ADMIN
                  x-enumType: KalturaSessionType
                userId:
                  type: string
              required:
              - secret
              - impersonatedPartnerId
              type: object
      summary: Session impersonate
      x-summary-source: derived
    servers:
    - url: https://www.kaltura.com/api_v3
    - url: http://www.kaltura.com/api_v3
  /service/session/action/impersonateByKs:
    post:
      description: 'Start an impersonated session with Kaltura''s server.


        The result KS info contains the session key that you should pass to all services that requires a ticket.


        Type, expiry and privileges won''t be changed if they''re not set'
      operationId: session.impersonateByKs
      parameters:
      - $ref: '#/components/parameters/ks'
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/clientTag'
      - $ref: '#/components/parameters/partnerId'
      - $ref: '#/components/parameters/language'
      - $ref: '#/components/parameters/responseProfile'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KalturaSessionInfo'
        x-Errors:
          description: '* `START_SESSION_ERROR`: Error while starting session for partner [@PID@]'
      tags:
      - Session
      x-kaltura-format: post
      x-kaltura-parameters:
      - session
      - type
      - expiry
      - privileges
      requestBody:
        content:
          application/json:
            schema:
              properties:
                expiry:
                  type: integer
                privileges:
                  type: string
                session:
                  type: string
                type:
                  enum:
                  - 0
                  - 2
                  type: integer
                  x-enumLabels:
                  - USER
                  - ADMIN
                  x-enumType: KalturaSessionType
              required:
              - session
              type: object
      summary: Session impersonate by ks
      x-summary-source: derived
    servers:
    - url: https://www.kaltura.com/api_v3
    - url: http://www.kaltura.com/api_v3
  /service/session/action/start:
    post:
      description: 'Start a session with Kaltura''s server.


        The result KS is the session key that you should pass to all services that requires a ticket.'
      operationId: session.start
      parameters:
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/clientTag'
      - $ref: '#/components/parameters/partnerId'
      - $ref: '#/components/parameters/language'
      - $ref: '#/components/parameters/responseProfile'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
        x-Errors:
          description: '* `START_SESSION_ERROR`: Error while starting session for partner [@PID@]'
      security: []
      tags:
      - Session
      x-kaltura-format: post
      x-kaltura-parameters:
      - secret
      - userId
      - type
      - partnerId
      - expiry
      - privileges
      requestBody:
        content:
          application/json:
            schema:
              properties:
                expiry:
                  default: 86400
                  type: integer
                partnerId:
                  type: integer
                privileges:
                  type: string
                secret:
                  type: string
                  x-inputType: password
                type:
                  default: 0
                  enum:
                  - 0
                  - 2
                  type: integer
                  x-enumLabels:
                  - USER
                  - ADMIN
                  x-enumType: KalturaSessionType
                userId:
                  type: string
              required:
              - secret
              type: object
      summary: Session start
      x-summary-source: derived
    servers:
    - url: https://www.kaltura.com/api_v3
    - url: http://www.kaltura.com/api_v3
  /service/session/action/startWidgetSession:
    post:
      description: Start a session for Kaltura's flash widgets
      operationId: session.startWidgetSession
      parameters:
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/clientTag'
      - $ref: '#/components/parameters/partnerId'
      - $ref: '#/components/parameters/language'
      - $ref: '#/components/parameters/responseProfile'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KalturaStartWidgetSessionResponse'
        x-Errors:
          description: '* `INVALID_WIDGET_ID`: Unknown widget [@WIDGET_ID@]

            * `MISSING_KS`: Missing KS, session not established

            * `INVALID_KS`: Invalid KS "@KSID@", Error "@ERR_CODE@,@ERR_DESC@"

            * `START_WIDGET_SESSION_ERROR`: error while starting session for widget id [@WIDGET_ID@]'
      security: []
      tags:
      - Session
      x-kaltura-format: post
      x-kaltura-parameters:
      - widgetId
      - expiry
      requestBody:
        content:
          application/json:
            schema:
              properties:
                expiry:
                  default: 86400
                  type: integer
                widgetId:
                  type: string
              required:
              - widgetId
              type: object
      summary: Session start widget session
      x-summary-source: derived
    servers:
    - url: https://www.kaltura.com/api_v3
    - url: http://www.kaltura.com/api_v3
components:
  schemas:
    OTTRequest:
      properties:
        ks:
          type: string
        version:
          default: 3.6.287.20720
          type: string
      type: object
    KalturaLoginSession:
      description: Login response
      properties:
        ks:
          description: Access token in a KS format
          type: string
      title: KalturaLoginSession
      type: object
    KalturaSession:
      description: Kaltura Session
      properties:
        createDate:
          description: Create date
          type: integer
        expiry:
          description: Expiry
          type: integer
        ks:
          description: KS
          type: string
        partnerId:
          description: Partner identifier
          type: integer
        privileges:
          description: Privileges
          type: string
        udid:
          description: UDID
          type: string
        userId:
          description: User identifier
          type: string
      title: KalturaSession
      type: object
    KalturaIdeticDistributionProfileFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaIdeticDistributionProfileBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaIdeticDistributionProfileOrderBy
      title: KalturaIdeticDistributionProfileFilter
      type: object
    KalturaLiveChannelMatchAttributeCondition:
      allOf:
      - $ref: '#/components/schemas/KalturaSearchMatchAttributeCondition'
      description: "Auto-generated class.\n Used to search KalturaLiveChannel attributes. Use KalturaLiveChannelMatchAttribute enum to provide attribute name.\n/"
      properties:
        attribute:
          description: 'Enum Type: `KalturaLiveChannelMatchAttribute`'
          enum:
          - adminTags
          - categoriesIds
          - creatorId
          - description
          - durationType
          - flavorParamsIds
          - groupId
          - id
          - name
          - referenceId
          - replacedEntryId
          - replacingEntryId
          - searchText
          - tags
          - userId
          type: string
          x-enumLabels:
          - ADMIN_TAGS
          - CATEGORIES_IDS
          - CREATOR_ID
          - DESCRIPTION
          - DURATION_TYPE
          - FLAVOR_PARAMS_IDS
          - GROUP_ID
          - ID
          - NAME
          - REFERENCE_ID
          - REPLACED_ENTRY_ID
          - REPLACING_ENTRY_ID
          - SEARCH_TEXT
          - TAGS
          - USER_ID
          x-enumType: KalturaLiveChannelMatchAttribute
      title: KalturaLiveChannelMatchAttributeCondition
      type: object
    KalturaAttUverseDistributionProfileFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaAttUverseDistributionProfileBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaAttUverseDistributionProfileOrderBy
      title: KalturaAttUverseDistributionProfileFilter
      type: object
    KalturaAuditTrailBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaRelatedFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaAuditTrailFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        actionEqual:
          description: 'Enum Type: `KalturaAuditTrailAction`'
          enum:
          - CHANGED
          - CONTENT_VIEWED
          - COPIED
          - CREATED
          - DELETED
          - FILE_SYNC_CREATED
          - RELATION_ADDED
          - RELATION_REMOVED
          - VIEWED
          type: string
          x-enumLabels:
          - CHANGED
          - CONTENT_VIEWED
          - COPIED
          - CREATED
          - DELETED
          - FILE_SYNC_CREATED
          - RELATION_ADDED
          - RELATION_REMOVED
          - VIEWED
          x-enumType: KalturaAuditTrailAction
        actionIn:
          type: string
        auditObjectTypeEqual:
          description: 'Enum Type: `KalturaAuditTrailObjectType`'
          enum:
          - BatchJob
          - EmailIngestionProfile
          - FileSync
          - KshowKuser
          - Metadata
          - MetadataProfile
          - Partner
          - Permission
          - ReachProfile
          - UploadToken
          - UserLoginData
          - UserRole
          - accessControl
          - category
          - categoryEntry
          - conversionProfile2
          - entry
          - flavorAsset
          - flavorParams
          - flavorParamsConversionProfile
          - flavorParamsOutput
          - kshow
          - kuser
          - mediaInfo
          - moderation
          - roughcutEntry
          - syndicationFeed
          - thumbAsset
          - thumbParams
          - thumbParamsOutput
          - uiConf
          - widget
          type: string
          x-enumLabels:
          - BATCH_JOB
          - EMAIL_INGESTION_PROFILE
          - FILE_SYNC
          - KSHOW_KUSER
          - METADATA
          - METADATA_PROFILE
          - PARTNER
          - PERMISSION
          - REACH_PROFILE
          - UPLOAD_TOKEN
          - USER_LOGIN_DATA
          - USER_ROLE
          - ACCESS_CONTROL
          - CATEGORY
          - CATEGORY_ENTRY
          - CONVERSION_PROFILE_2
          - ENTRY
          - FLAVOR_ASSET
          - FLAVOR_PARAMS
          - FLAVOR_PARAMS_CONVERSION_PROFILE
          - FLAVOR_PARAMS_OUTPUT
          - KSHOW
          - KUSER
          - MEDIA_INFO
          - MODERATION
          - ROUGHCUT
          - SYNDICATION
          - THUMBNAIL_ASSET
          - THUMBNAIL_PARAMS
          - THUMBNAIL_PARAMS_OUTPUT
          - UI_CONF
          - WIDGET
          x-enumType: KalturaAuditTrailObjectType
        auditObjectTypeIn:
          type: string
        clientTagEqual:
          type: string
        contextEqual:
          description: 'Enum Type: `KalturaAuditTrailContext`'
          enum:
          - -1
          - 0
          - 1
          - 2
          type: integer
          x-enumLabels:
          - CLIENT
          - SCRIPT
          - PS2
          - API_V3
          x-enumType: KalturaAuditTrailContext
        contextIn:
          type: string
        createdAtGreaterThanOrEqual:
          type: integer
        createdAtLessThanOrEqual:
          type: integer
        entryIdEqual:
          type: string
        entryIdIn:
          type: string
        entryPointEqual:
          type: string
        entryPointIn:
          type: string
        idEqual:
          type: integer
        ipAddressEqual:
          type: string
        ipAddressIn:
          type: string
        ksEqual:
          type: string
        masterPartnerIdEqual:
          type: integer
        masterPartnerIdIn:
          type: string
        objectIdEqual:
          type: string
        objectIdIn:
          type: string
        objectType:
          enum:
          - KalturaAuditTrailFilter
          type: string
        parsedAtGreaterThanOrEqual:
          type: integer
        parsedAtLessThanOrEqual:
          type: integer
        partnerIdEqual:
          type: integer
        partnerIdIn:
          type: string
        relatedObjectIdEqual:
          type: string
        relatedObjectIdIn:
          type: string
        relatedObjectTypeEqual:
          description: 'Enum Type: `KalturaAuditTrailObjectType`'
          enum:
          - BatchJob
          - EmailIngestionProfile
          - FileSync
          - KshowKuser
          - Metadata
          - MetadataProfile
          - Partner
          - Permission
          - ReachProfile
          - UploadToken
          - UserLoginData
          - UserRole
          - accessControl
          - category
          - categoryEntry
          - conversionProfile2
          - entry
          - flavorAsset
          - flavorParams
          - flavorParamsConversionProfile
          - flavorParamsOutput
          - kshow
          - kuser
          - mediaInfo
          - moderation
          - roughcutEntry
          - syndicationFeed
          - thumbAsset
          - thumbParams
          - thumbParamsOutput
          - uiConf
          - widget
          type: string
          x-enumLabels:
          - BATCH_JOB
          - EMAIL_INGESTION_PROFILE
          - FILE_SYNC
          - KSHOW_KUSER
          - METADATA
          - METADATA_PROFILE
          - PARTNER
          - PERMISSION
          - REACH_PROFILE
          - UPLOAD_TOKEN
          - USER_LOGIN_DATA
          - USER_ROLE
          - ACCESS_CONTROL
          - CATEGORY
          - CATEGORY_ENTRY
          - CONVERSION_PROFILE_2
          - ENTRY
          - FLAVOR_ASSET
          - FLAVOR_PARAMS
          - FLAVOR_PARAMS_CONVERSION_PROFILE
          - FLAVOR_PARAMS_OUTPUT
          - KSHOW
          - KUSER
          - MEDIA_INFO
          - MODERATION
          - ROUGHCUT
          - SYNDICATION
          - THUMBNAIL_ASSET
          - THUMBNAIL_PARAMS
          - THUMBNAIL_PARAMS_OUTPUT
          - UI_CONF
          - WIDGET
          x-enumType: KalturaAuditTrailObjectType
        relatedObjectTypeIn:
          type: string
        requestIdEqual:
          type: string
        requestIdIn:
          type: string
        serverNameEqual:
          type: string
        serverNameIn:
          type: string
        statusEqual:
          description: 'Enum Type: `KalturaAuditTrailStatus`'
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-enumLabels:
          - PENDING
          - READY
          - FAILED
          x-enumType: KalturaAuditTrailStatus
        statusIn:
          type: string
        userIdEqual:
          type: string
        userIdIn:
          type: string
      title: KalturaAuditTrailBaseFilter
      type: object
      x-abstract: true
    KalturaWidevineFlavorParamsOutputBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFlavorParamsOutputFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaWidevineFlavorParamsOutputFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaWidevineFlavorParamsOutputFilter
          type: string
      title: KalturaWidevineFlavorParamsOutputBaseFilter
      type: object
      x-abstract: true
    KalturaYouTubeDistributionProviderFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaYouTubeDistributionProviderBaseFilter'
      properties:
        orderBy:
          type: string
          x-enumLabels: []
          x-enumType: KalturaYouTubeDistributionProviderOrderBy
      title: KalturaYouTubeDistributionProviderFilter
      type: object
    KalturaKontikiStorageProfileBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaStorageProfileFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaKontikiStorageProfileFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaKontikiStorageProfileFilter
          type: string
      title: KalturaKontikiStorageProfileBaseFilter
      type: object
      x-abstract: true
    KalturaCategoryUserAdvancedFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaSearchItem'
      properties:
        memberIdEq:
          type: string
        memberIdIn:
          type: string
        memberPermissionsMatchAnd:
          type: string
        memberPermissionsMatchOr:
          type: string
      title: KalturaCategoryUserAdvancedFilter
      type: object
    KalturaFtpScheduledDistributionProviderFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFtpScheduledDistributionProviderBaseFilter'
      properties:
        orderBy:
          type: string
          x-enumLabels: []
          x-enumType: KalturaFtpScheduledDistributionProviderOrderBy
      title: KalturaFtpScheduledDistributionProviderFilter
      type: object
    KalturaVodScheduleEventFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaVodScheduleEventBaseFilter'
      properties: {}
      title: KalturaVodScheduleEventFilter
      type: object
    KalturaApiParameterPermissionItemFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaApiParameterPermissionItemBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +id
          - +updatedAt
          - -createdAt
          - -id
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - ID_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - ID_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaApiParameterPermissionItemOrderBy
      title: KalturaApiParameterPermissionItemFilter
      type: object
    KalturaDeliveryProfileGenericHdsBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaDeliveryProfileFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaDeliveryProfileGenericHdsFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaDeliveryProfileGenericHdsFilter
          type: string
      title: KalturaDeliveryProfileGenericHdsBaseFilter
      type: object
      x-abstract: true
    KalturaDeliveryProfileGenericSilverLightBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaDeliveryProfileFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaDeliveryProfileGenericSilverLightFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaDeliveryProfileGenericSilverLightFilter
          type: string
      title: KalturaDeliveryProfileGenericSilverLightBaseFilter
      type: object
      x-abstract: true
    KalturaPlaylistBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaBaseEntryFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaPlaylistFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaPlaylistFilter
          type: string
      title: KalturaPlaylistBaseFilter
      type: object
      x-abstract: true
    KalturaMediaFlavorParamsFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaMediaFlavorParamsBaseFilter'
      properties:
        orderBy:
          type: string
          x-enumLabels: []
          x-enumType: KalturaMediaFlavorParamsOrderBy
      title: KalturaMediaFlavorParamsFilter
      type: object
    KalturaContentDistributionSearchItem:
      allOf:
      - $ref: '#/components/schemas/KalturaSearchItem'
      properties:
        distributionProfileId:
          type: integer
        distributionSunStatus:
          description: 'Enum Type: `KalturaEntryDistributionSunStatus`'
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-enumLabels:
          - BEFORE_SUNRISE
          - AFTER_SUNRISE
          - AFTER_SUNSET
          x-enumType: KalturaEntryDistributionSunStatus
        entryDistributionFlag:
          description: 'Enum Type: `KalturaEntryDistributionFlag`'
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          type: integer
          x-enumLabels:
          - NONE
          - SUBMIT_REQUIRED
          - DELETE_REQUIRED
          - UPDATE_REQUIRED
          - ENABLE_REQUIRED
          - DISABLE_REQUIRED
          x-enumType: KalturaEntryDistributionFlag
        entryDistributionStatus:
          description: 'Enum Type: `KalturaEntryDistributionStatus`'
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          type: integer
          x-enumLabels:
          - PENDING
          - QUEUED
          - READY
          - DELETED
          - SUBMITTING
          - UPDATING
          - DELETING
          - ERROR_SUBMITTING
          - ERROR_UPDATING
          - ERROR_DELETING
          - REMOVED
          - IMPORT_SUBMITTING
          - IMPORT_UPDATING
          x-enumType: KalturaEntryDistributionStatus
        entryDistributionValidationErrors:
          description: Comma seperated validation error types
          type: string
        hasEntryDistributionValidationErrors:
          type: boolean
        noDistributionProfiles:
          type: boolean
      title: KalturaContentDistributionSearchItem
      type: object
    KalturaTvinciDistributionProfileBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaConfigurableDistributionProfileFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaTvinciDistributionProfileFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaTvinciDistributionProfileFilter
          type: string
      title: KalturaTvinciDistributionProfileBaseFilter
      type: object
      x-abstract: true
    KalturaAssetBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaRelatedFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaAssetFilter'
      - $ref: '#/components/schemas/KalturaAttachmentAssetFilter'
      - $ref: '#/components/schemas/KalturaTranscriptAssetFilter'
      - $ref: '#/components/schemas/KalturaCaptionAssetFilter'
      - $ref: '#/components/schemas/KalturaCaptionAssetItemFilter'
      - $ref: '#/components/schemas/KalturaFlavorAssetFilter'
      - $ref: '#/components/schemas/KalturaLiveAssetFilter'
      - $ref: '#/components/schemas/KalturaWidevineFlavorAssetFilter'
      - $ref: '#/components/schemas/KalturaThumbAssetFilter'
      - $ref: '#/components/schemas/KalturaTimedThumbAssetFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        createdAtGreaterThanOrEqual:
          type: integer
        createdAtLessThanOrEqual:
          type: integer
        deletedAtGreaterThanOrEqual:
          type: integer
        deletedAtLessThanOrEqual:
          type: integer
        entryIdEqual:
          type: string
        entryIdIn:
          type: string
        idEqual:
          type: string
        idIn:
          type: string
        objectType:
          enum:
          - KalturaAssetFilter
          - KalturaAttachmentAssetFilter
          - KalturaTranscriptAssetFilter
          - KalturaCaptionAssetFilter
          - KalturaCaptionAssetItemFilter
          - KalturaFlavorAssetFilter
          - KalturaLiveAssetFilter
          - KalturaWidevineFlavorAssetFilter
          - KalturaThumbAssetFilter
          - KalturaTimedThumbAssetFilter
          type: string
        partnerIdEqual:
          type: integer
        partnerIdIn:
          type: string
        sizeGreaterThanOrEqual:
          type: integer
        sizeLessThanOrEqual:
          type: integer
        tagsLike:
          type: string
        tagsMultiLikeAnd:
          type: string
        tagsMultiLikeOr:
          type: string
        updatedAtGreaterThanOrEqual:
          type: integer
        updatedAtLessThanOrEqual:
          type: integer
      title: KalturaAssetBaseFilter
      type: object
      x-abstract: true
    KalturaTimeWarnerDistributionProfileFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaTimeWarnerDistributionProfileBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaTimeWarnerDistributionProfileOrderBy
      title: KalturaTimeWarnerDistributionProfileFilter
      type: object
    KalturaBusinessProcessNotificationTemplateBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaEventNotificationTemplateFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaBusinessProcessNotificationTemplateFilter'
      - $ref: '#/components/schemas/KalturaBusinessProcessAbortNotificationTemplateFilter'
      - $ref: '#/components/schemas/KalturaBusinessProcessSignalNotificationTemplateFilter'
      - $ref: '#/components/schemas/KalturaBusinessProcessStartNotificationTemplateFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaBusinessProcessNotificationTemplateFilter
          - KalturaBusinessProcessAbortNotificationTemplateFilter
          - KalturaBusinessProcessSignalNotificationTemplateFilter
          - KalturaBusinessProcessStartNotificationTemplateFilter
          type: string
      title: KalturaBusinessProcessNotificationTemplateBaseFilter
      type: object
      x-abstract: true
    KalturaSearchMatchAttributeCondition:
      allOf:
      - $ref: '#/components/schemas/KalturaAttributeCondition'
      anyOf:
      - $ref: '#/components/schemas/KalturaBaseEntryMatchAttributeCondition'
      - $ref: '#/components/schemas/KalturaDataEntryMatchAttributeCondition'
      - $ref: '#/components/schemas/KalturaDocumentEntryMatchAttributeCondition'
      - $ref: '#/components/schemas/KalturaExternalMediaEntryMatchAttributeCondition'
      - $ref: '#/components/schemas/KalturaLiveChannelMatchAttributeCondition'
      - $ref: '#/components/schemas/KalturaLiveEntryMatchAttributeCondition'
      - $ref: '#/components/schemas/KalturaLiveStreamAdminEntryMatchAttributeCondition'
      - $ref: '#/components/schemas/KalturaLiveStreamEntryMatchAttributeCondition'
      - $ref: '#/components/schemas/KalturaMediaEntryMatchAttributeCondition'
      - $ref: '#/components/schemas/KalturaMixEntryMatchAttributeCondition'
      - $ref: '#/components/schemas/KalturaPlayableEntryMatchAttributeCondition'
      - $ref: '#/components/schemas/KalturaPlaylistMatchAttributeCondition'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        not:
          type: boolean
        objectType:
          enum:
          - KalturaBaseEntryMatchAttributeCondition
          - KalturaDataEntryMatchAttributeCondition
          - KalturaDocumentEntryMatchAttributeCondition
          - KalturaExternalMediaEntryMatchAttributeCondition
          - KalturaLiveChannelMatchAttributeCondition
          - KalturaLiveEntryMatchAttributeCondition
          - KalturaLiveStreamAdminEntryMatchAttributeCondition
          - KalturaLiveStreamEntryMatchAttributeCondition
          - KalturaMediaEntryMatchAttributeCondition
          - KalturaMixEntryMatchAttributeCondition
          - KalturaPlayableEntryMatchAttributeCondition
          - KalturaPlaylistMatchAttributeCondition
          type: string
      title: KalturaSearchMatchAttributeCondition
      type: object
      x-abstract: true
    KalturaAmazonS3StorageProfileBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaStorageProfileFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaAmazonS3StorageProfileFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaAmazonS3StorageProfileFilter
          type: string
      title: KalturaAmazonS3StorageProfileBaseFilter
      type: object
      x-abstract: true
    KalturaYouTubeDistributionProfileFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaYouTubeDistributionProfileBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaYouTubeDistributionProfileOrderBy
      title: KalturaYouTubeDistributionProfileFilter
      type: object
    KalturaYoutubeApiDistributionProviderFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaYoutubeApiDistributionProviderBaseFilter'
      properties:
        orderBy:
          type: string
          x-enumLabels: []
          x-enumType: KalturaYoutubeApiDistributionProviderOrderBy
      title: KalturaYoutubeApiDistributionProviderFilter
      type: object
    KalturaConferenceServerNodeFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaConferenceServerNodeBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +heartbeatTime
          - +updatedAt
          - -createdAt
          - -heartbeatTime
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - HEARTBEAT_TIME_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - HEARTBEAT_TIME_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaConferenceServerNodeOrderBy
      title: KalturaConferenceServerNodeFilter
      type: object
    KalturaLiveStreamScheduleEventFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaLiveStreamScheduleEventBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +endDate
          - +priority
          - +startDate
          - +summary
          - +updatedAt
          - -createdAt
          - -endDate
          - -priority
          - -startDate
          - -summary
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - END_DATE_ASC
          - PRIORITY_ASC
          - START_DATE_ASC
          - SUMMARY_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - END_DATE_DESC
          - PRIORITY_DESC
          - START_DATE_DESC
          - SUMMARY_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaLiveStreamScheduleEventOrderBy
      title: KalturaLiveStreamScheduleEventFilter
      type: object
    KalturaThumbParamsOutputFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaThumbParamsOutputBaseFilter'
      properties:
        orderBy:
          type: string
          x-enumLabels: []
          x-enumType: KalturaThumbParamsOutputOrderBy
      title: KalturaThumbParamsOutputFilter
      type: object
    KalturaCodeCuePointFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaCodeCuePointBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +duration
          - +endTime
          - +intId
          - +partnerSortValue
          - +startTime
          - +triggeredAt
          - +updatedAt
          - -createdAt
          - -duration
          - -endTime
          - -intId
          - -partnerSortValue
          - -startTime
          - -triggeredAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - DURATION_ASC
          - END_TIME_ASC
          - INT_ID_ASC
          - PARTNER_SORT_VALUE_ASC
          - START_TIME_ASC
          - TRIGGERED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - DURATION_DESC
          - END_TIME_DESC
          - INT_ID_DESC
          - PARTNER_SORT_VALUE_DESC
          - START_TIME_DESC
          - TRIGGERED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaCodeCuePointOrderBy
      title: KalturaCodeCuePointFilter
      type: object
    KalturaUverseDistributionProfileFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaUverseDistributionProfileBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaUverseDistributionProfileOrderBy
      title: KalturaUverseDistributionProfileFilter
      type: object
    KalturaActivitiBusinessProcessServerBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaBusinessProcessServerFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaActivitiBusinessProcessServerFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaActivitiBusinessProcessServerFilter
          type: string
      title: KalturaActivitiBusinessProcessServerBaseFilter
      type: object
      x-abstract: true
    KalturaAvnDistributionProviderBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaDistributionProviderFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaAvnDistributionProviderFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaAvnDistributionProviderFilter
          type: string
      title: KalturaAvnDistributionProviderBaseFilter
      type: object
      x-abstract: true
    KalturaDropFolderFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaDropFolderBaseFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaDropFolderFilter'
      - $ref: '#/components/schemas/KalturaFeedDropFolderFilter'
      - $ref: '#/components/schemas/KalturaRemoteDropFolderFilter'
      - $ref: '#/components/schemas/KalturaFtpDropFolderFilter'
      - $ref: '#/components/schemas/KalturaSshDropFolderFilter'
      - $ref: '#/components/schemas/KalturaScpDropFolderFilter'
      - $ref: '#/components/schemas/KalturaSftpDropFolderFilter'
      - $ref: '#/components/schemas/KalturaWebexDropFolderFilter'
      - $ref: '#/components/schemas/KalturaZoomDropFolderFilter'
      discriminator:
        propertyName: objectType
      properties:
        currentDc:
          description: 'Enum Type: `KalturaNullableBoolean`'
          enum:
          - -1
          - 0
          - 1
          type: integer
          x-enumLabels:
          - NULL_VALUE
          - FALSE_VALUE
          - TRUE_VALUE
          x-enumType: KalturaNullableBoolean
        objectType:
          enum:
          - KalturaDropFolderFilter
          - KalturaFeedDropFolderFilter
          - KalturaRemoteDropFolderFilter
          - KalturaFtpDropFolderFilter
          - KalturaSshDropFolderFilter
          - KalturaScpDropFolderFilter
          - KalturaSftpDropFolderFilter
          - KalturaWebexDropFolderFilter
          - KalturaZoomDropFolderFilter
          type: string
        orderBy:
          enum:
          - +createdAt
          - +id
          - +name
          - +updatedAt
          - -createdAt
          - -id
          - -name
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - ID_ASC
          - NAME_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - ID_DESC
          - NAME_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaDropFolderOrderBy
      title: KalturaDropFolderFilter
      type: object
    KalturaDeliveryProfileRtmpFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaDeliveryProfileRtmpBaseFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaDeliveryProfileRtmpFilter'
      - $ref: '#/components/schemas/KalturaDeliveryProfileGenericRtmpFilter'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaDeliveryProfileRtmpFilter
          - KalturaDeliveryProfileGenericRtmpFilter
          type: string
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaDeliveryProfileRtmpOrderBy
      title: KalturaDeliveryProfileRtmpFilter
      type: object
    KalturaResponseProfileMapping:
      anyOf:
      - $ref: '#/components/schemas/KalturaResponseProfileMapping'
      - $ref: '#/components/schemas/KalturaMetadataResponseProfileMapping'
      discriminator:
        propertyName: objectType
      properties:
        allowNull:
          type: boolean
        filterProperty:
          type: string
        objectType:
          enum:
          - KalturaResponseProfileMapping
          - KalturaMetadataResponseProfileMapping
          type: string
        parentProperty:
          type: string
      title: KalturaResponseProfileMapping
      type: object
    KalturaWebexDropFolderFileFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaWebexDropFolderFileBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +fileName
          - +fileSize
          - +fileSizeLastSetAt
          - +id
          - +parsedFlavor
          - +parsedSlug
          - +updatedAt
          - -createdAt
          - -fileName
          - -fileSize
          - -fileSizeLastSetAt
          - -id
          - -parsedFlavor
          - -parsedSlug
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - FILE_NAME_ASC
          - FILE_SIZE_ASC
          - FILE_SIZE_LAST_SET_AT_ASC
          - ID_ASC
          - PARSED_FLAVOR_ASC
          - PARSED_SLUG_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - FILE_NAME_DESC
          - FILE_SIZE_DESC
          - FILE_SIZE_LAST_SET_AT_DESC
          - ID_DESC
          - PARSED_FLAVOR_DESC
          - PARSED_SLUG_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaWebexDropFolderFileOrderBy
      title: KalturaWebexDropFolderFileFilter
      type: object
    KalturaCategoryUserFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaCategoryUserBaseFilter'
      properties:
        categoryDirectMembers:
          description: Return the list of categoryUser that are not inherited from parent category - only the direct categoryUsers.
          type: boolean
        freeText:
          description: Free text search on user id or screen name
          type: string
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaCategoryUserOrderBy
        relatedGroupsByUserId:
          description: Return a list of categoryUser that related to the userId in this field by groups
          type: string
      title: KalturaCategoryUserFilter
      type: object
    KalturaFacebookDistributionProfileBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaConfigurableDistributionProfileFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaFacebookDistributionProfileFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaFacebookDistributionProfileFilter
          type: string
      title: KalturaFacebookDistributionProfileBaseFilter
      type: object
      x-abstract: true
    KalturaMediaServerNodeFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaMediaServerNodeBaseFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaMediaServerNodeFilter'
      - $ref: '#/components/schemas/KalturaLiveClusterMediaServerNodeBaseFilter'
      - $ref: '#/components/schemas/KalturaLiveClusterMediaServerNodeFilter'
      - $ref: '#/components/schemas/KalturaWowzaMediaServerNodeFilter'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaMediaServerNodeFilter
          - KalturaLiveClusterMediaServerNodeBaseFilter
          - KalturaLiveClusterMediaServerNodeFilter
          - KalturaWowzaMediaServerNodeFilter
          type: string
        orderBy:
          enum:
          - +createdAt
          - +heartbeatTime
          - +updatedAt
          - -createdAt
          - -heartbeatTime
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - HEARTBEAT_TIME_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - HEARTBEAT_TIME_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaMediaServerNodeOrderBy
      title: KalturaMediaServerNodeFilter
      type: object
    KalturaConfigurableDistributionProfileFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaConfigurableDistributionProfileBaseFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaConfigurableDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaAttUverseDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaAvnDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaComcastMrssDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaCortexApiDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaCrossKalturaDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaDailymotionDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaDoubleClickDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaFacebookDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaFreewheelGenericDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaFtpDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaHuluDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaIdeticDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaMetroPcsDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaMsnDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaNdnDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaQuickPlayDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaSynacorHboDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaTVComDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaTimeWarnerDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaTvinciDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaUnicornDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaUverseClickToOrderDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaUverseDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaVerizonVcastDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaYahooDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaYouTubeDistributionProfileFilter'
      - $ref: '#/components/schemas/KalturaYoutubeApiDistributionProfileFilter'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaConfigurableDistributionProfileFilter
          - KalturaAttUverseDistributionProfileFilter
          - KalturaAvnDistributionProfileFilter
          - KalturaComcastMrssDistributionProfileFilter
          - KalturaCortexApiDistributionProfileFilter
          - KalturaCrossKalturaDistributionProfileFilter
          - KalturaDailymotionDistributionProfileFilter
          - KalturaDoubleClickDistributionProfileFilter
          - KalturaFacebookDistributionProfileFilter
          - KalturaFreewheelGenericDistributionProfileFilter
          - KalturaFtpDistributionProfileFilter
          - KalturaHuluDistributionProfileFilter
          - KalturaIdeticDistributionProfileFilter
          - KalturaMetroPcsDistributionProfileFilter
          - KalturaMsnDistributionProfileFilter
          - KalturaNdnDistributionProfileFilter
          - KalturaQuickPlayDistributionProfileFilter
          - KalturaSynacorHboDistributionProfileFilter
          - KalturaTVComDistributionProfileFilter
          - KalturaTimeWarnerDistributionProfileFilter
          - KalturaTvinciDistributionProfileFilter
          - KalturaUnicornDistributionProfileFilter
          - KalturaUverseClickToOrderDistributionProfileFilter
          - KalturaUverseDistributionProfileFilter
          - KalturaVerizonVcastDistributionProfileFilter
          - KalturaYahooDistributionProfileFilter
          - KalturaYouTubeDistributionProfileFilter
          - KalturaYoutubeApiDistributionProfileFilter
          type: string
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaConfigurableDistributionProfileOrderBy
      title: KalturaConfigurableDistributionProfileFilter
      type: object
    KalturaDoubleClickDistributionProfileFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaDoubleClickDistributionProfileBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaDoubleClickDistributionProfileOrderBy
      title: KalturaDoubleClickDistributionProfileFilter
      type: object
    KalturaScheduledTaskProfileBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaScheduledTaskProfileFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        createdAtGreaterThanOrEqual:
          type: integer
        createdAtLessThanOrEqual:
          type: integer
        idEqual:
          type: integer
        idIn:
          type: string
        lastExecutionStartedAtGreaterThanOrEqual:
          type: integer
        lastExecutionStartedAtLessThanOrEqual:
          type: integer
        lastExecutionStartedAtLessThanOrEqualOrNull:
          type: integer
        objectType:
          enum:
          - KalturaScheduledTaskProfileFilter
          type: string
        partnerIdEqual:
          type: integer
        partnerIdIn:
          type: string
        statusEqual:
          description: 'Enum Type: `KalturaScheduledTaskProfileStatus`'
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: integer
          x-enumLabels:
          - DISABLED
          - ACTIVE
          - DELETED
          - SUSPENDED
          - DRY_RUN_ONLY
          x-enumType: KalturaScheduledTaskProfileStatus
        statusIn:
          type: string
        systemNameEqual:
          type: string
        systemNameIn:
          type: string
        updatedAtGreaterThanOrEqual:
          type: integer
        updatedAtLessThanOrEqual:
          type: integer
      title: KalturaScheduledTaskProfileBaseFilter
      type: object
      x-abstract: true
    KalturaSyndicationDistributionProviderFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaSyndicationDistributionProviderBaseFilter'
      properties:
        orderBy:
          type: string
          x-enumLabels: []
          x-enumType: KalturaSyndicationDistributionProviderOrderBy
      title: KalturaSyndicationDistributionProviderFilter
      type: object
    KalturaFlavorAssetBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaAssetFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaFlavorAssetFilter'
      - $ref: '#/components/schemas/KalturaLiveAssetFilter'
      - $ref: '#/components/schemas/KalturaWidevineFlavorAssetFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        flavorParamsIdEqual:
          type: integer
        flavorParamsIdIn:
          type: string
        objectType:
          enum:
          - KalturaFlavorAssetFilter
          - KalturaLiveAssetFilter
          - KalturaWidevineFlavorAssetFilter
          type: string
        statusEqual:
          description: 'Enum Type: `KalturaFlavorAssetStatus`'
          enum:
          - -1
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          type: integer
          x-enumLabels:
          - ERROR
          - QUEUED
          - CONVERTING
          - READY
          - DELETED
          - NOT_APPLICABLE
          - TEMP
          - WAIT_FOR_CONVERT
          - IMPORTING
          - VALIDATING
          - EXPORTING
          x-enumType: KalturaFlavorAssetStatus
        statusIn:
          type: string
        statusNotIn:
          type: string
      title: KalturaFlavorAssetBaseFilter
      type: object
      x-abstract: true
    KalturaRatingCountFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaRatingCountBaseFilter'
      properties:
        orderBy:
          type: string
          x-enumLabels: []
          x-enumType: KalturaRatingCountOrderBy
      title: KalturaRatingCountFilter
      type: object
    KalturaCategoryEntryBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaRelatedFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaCategoryEntryFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        categoryFullIdsStartsWith:
          type: string
        categoryIdEqual:
          type: integer
        categoryIdIn:
          type: string
        createdAtGreaterThanOrEqual:
          type: integer
        createdAtLessThanOrEqual:
          type: integer
        creatorUserIdEqual:
          type: string
        creatorUserIdIn:
          type: string
        entryIdEqual:
          type: string
        entryIdIn:
          type: string
        objectType:
          enum:
          - KalturaCategoryEntryFilter
          type: string
        statusEqual:
          description: 'Enum Type: `KalturaCategoryEntryStatus`'
          enum:
          - 1
          - 2
          - 3
          - 4
          type: integer
          x-enumLabels:
          - PENDING
          - ACTIVE
          - DELETED
          - REJECTED
          x-enumType: KalturaCategoryEntryStatus
        statusIn:
          type: string
      title: KalturaCategoryEntryBaseFilter
      type: object
      x-abstract: true
    KalturaIndexAdvancedFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaSearchItem'
      anyOf:
      - $ref: '#/components/schemas/KalturaIndexAdvancedFilter'
      - $ref: '#/components/schemas/KalturaEntryIndexAdvancedFilter'
      discriminator:
        propertyName: objectType
      properties:
        depthGreaterThanEqual:
          type: integer
        indexIdGreaterThan:
          type: integer
        objectType:
          enum:
          - KalturaIndexAdvancedFilter
          - KalturaEntryIndexAdvancedFilter
          type: string
      title: KalturaIndexAdvancedFilter
      type: object
    KalturaPodcastDistributionProfileFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaPodcastDistributionProfileBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaPodcastDistributionProfileOrderBy
      title: KalturaPodcastDistributionProfileFilter
      type: object
    KalturaAccessControlFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaAccessControlBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - -createdAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - CREATED_AT_DESC
          x-enumType: KalturaAccessControlOrderBy
      title: KalturaAccessControlFilter
      type: object
    KalturaTvinciDistributionProviderBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaDistributionProviderFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaTvinciDistributionProviderFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaTvinciDistributionProviderFilter
          type: string
      title: KalturaTvinciDistributionProviderBaseFilter
      type: object
      x-abstract: true
    KalturaQuizUserEntryFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaQuizUserEntryBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaQuizUserEntryOrderBy
      title: KalturaQuizUserEntryFilter
      type: object
    KalturaMetadataBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaRelatedFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaMetadataFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        createdAtGreaterThanOrEqual:
          type: integer
        createdAtLessThanOrEqual:
          type: integer
        metadataObjectTypeEqual:
          description: 'Enum Type: `KalturaMetadataObjectType`


            When null, default is KalturaMetadataObjectType::ENTRY'
          enum:
          - adCuePointMetadata.AdCuePoint
          - annotationMetadata.Annotation
          - codeCuePointMetadata.CodeCuePoint
          - quiz.AnswerCuePoint
          - quiz.QuestionCuePoint
          - thumbCuePointMetadata.thumbCuePoint
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          type: string
          x-enumLabels:
          - AD_CUE_POINT
          - ANNOTATION
          - CODE_CUE_POINT
          - ANSWER_CUE_POINT
          - QUESTION_CUE_POINT
          - THUMB_CUE_POINT
          - ENTRY
          - CATEGORY
          - USER
          - PARTNER
          - DYNAMIC_OBJECT
          - USER_ENTRY
          x-enumType: KalturaMetadataObjectType
        metadataProfileIdEqual:
          type: integer
        metadataProfileIdIn:
          type: string
        metadataProfileVersionEqual:
          type: integer
        metadataProfileVersionGreaterThanOrEqual:
          type: integer
        metadataProfileVersionLessThanOrEqual:
          type: integer
        objectIdEqual:
          type: string
        objectIdIn:
          type: string
        objectType:
          enum:
          - KalturaMetadataFilter
          type: string
        partnerIdEqual:
          type: integer
        statusEqual:
          description: 'Enum Type: `KalturaMetadataStatus`'
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-enumLabels:
          - VALID
          - INVALID
          - DELETED
          x-enumType: KalturaMetadataStatus
        statusIn:
          type: string
        updatedAtGreaterThanOrEqual:
          type: integer
        updatedAtLessThanOrEqual:
          type: integer
        versionEqual:
          type: integer
        versionGreaterThanOrEqual:
          type: integer
        versionLessThanOrEqual:
          type: integer
      title: KalturaMetadataBaseFilter
      type: object
      x-abstract: true
    KalturaVirusScanProfileBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaVirusScanProfileFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        createdAtGreaterThanOrEqual:
          type: integer
        createdAtLessThanOrEqual:
          type: integer
        engineTypeEqual:
          description: 'Enum Type: `KalturaVirusScanEngineType`'
          enum:
          - clamAVScanEngine.ClamAV
          - symantecScanEngine.SymantecScanDirectEngine
          - symantecScanEngine.SymantecScanEngine
          - symantecScanEngine.SymantecScanJavaEngine
          type: string
          x-enumLabels:
          - CLAMAV_SCAN_ENGINE
          - SYMANTEC_SCAN_DIRECT_ENGINE
          - SYMANTEC_SCAN_ENGINE
          - SYMANTEC_SCAN_JAVA_ENGINE
          x-enumType: KalturaVirusScanEngineType
        engineTypeIn:
          type: string
        idEqual:
          type: integer
        idIn:
          type: string
        nameEqual:
          type: string
        nameLike:
          type: string
        objectType:
          enum:
          - KalturaVirusScanProfileFilter
          type: string
        partnerIdEqual:
          type: integer
        partnerIdIn:
          type: string
        statusEqual:
          description: 'Enum Type: `KalturaVirusScanProfileStatus`'
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-enumLabels:
          - DISABLED
          - ENABLED
          - DELETED
          x-enumType: KalturaVirusScanProfileStatus
        statusIn:
          type: string
        updatedAtGreaterThanOrEqual:
          type: integer
        updatedAtLessThanOrEqual:
          type: integer
      title: KalturaVirusScanProfileBaseFilter
      type: object
      x-abstract: true
    KalturaFlavorParamsOutputBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFlavorParamsFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaFlavorParamsOutputFilter'
      - $ref: '#/components/schemas/KalturaDocumentFlavorParamsOutputFilter'
      - $ref: '#/components/schemas/KalturaImageFlavorParamsOutputFilter'
      - $ref: '#/components/schemas/KalturaMediaFlavorParamsOutputFilter'
      - $ref: '#/components/schemas/KalturaPdfFlavorParamsOutputFilter'
      - $ref: '#/components/schemas/KalturaSwfFlavorParamsOutputFilter'
      - $ref: '#/components/schemas/KalturaWidevineFlavorParamsOutputFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        flavorAssetIdEqual:
          type: string
        flavorAssetVersionEqual:
          type: string
        flavorParamsIdEqual:
          type: integer
        flavorParamsVersionEqual:
          type: string
        objectType:
          enum:
          - KalturaFlavorParamsOutputFilter
          - KalturaDocumentFlavorParamsOutputFilter
          - KalturaImageFlavorParamsOutputFilter
          - KalturaMediaFlavorParamsOutputFilter
          - KalturaPdfFlavorParamsOutputFilter
          - KalturaSwfFlavorParamsOutputFilter
          - KalturaWidevineFlavorParamsOutputFilter
          type: string
      title: KalturaFlavorParamsOutputBaseFilter
      type: object
      x-abstract: true
    KalturaLiveEntryMatchAttributeCondition:
      allOf:
      - $ref: '#/components/schemas/KalturaSearchMatchAttributeCondition'
      description: "Auto-generated class.\n Used to search KalturaLiveEntry attributes. Use KalturaLiveEntryMatchAttribute enum to provide attribute name.\n/"
      properties:
        attribute:
          description: 'Enum Type: `KalturaLiveEntryMatchAttribute`'
          enum:
          - adminTags
          - categoriesIds
          - creatorId
          - description
          - durationType
          - flavorParamsIds
          - groupId
          - id
          - name
          - referenceId
          - replacedEntryId
          - replacingEntryId
          - searchText
          - tags
          - userId
          type: string
          x-enumLabels:
          - ADMIN_TAGS
          - CATEGORIES_IDS
          - CREATOR_ID
          - DESCRIPTION
          - DURATION_TYPE
          - FLAVOR_PARAMS_IDS
          - GROUP_ID
          - ID
          - NAME
          - REFERENCE_ID
          - REPLACED_ENTRY_ID
          - REPLACING_ENTRY_ID
          - SEARCH_TEXT
          - TAGS
          - USER_ID
          x-enumType: KalturaLiveEntryMatchAttribute
      title: KalturaLiveEntryMatchAttributeCondition
      type: object
    KalturaAnswerCuePointFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaAnswerCuePointBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +intId
          - +partnerSortValue
          - +startTime
          - +triggeredAt
          - +updatedAt
          - -createdAt
          - -intId
          - -partnerSortValue
          - -startTime
          - -triggeredAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - INT_ID_ASC
          - PARTNER_SORT_VALUE_ASC
          - START_TIME_ASC
          - TRIGGERED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - INT_ID_DESC
          - PARTNER_SORT_VALUE_DESC
          - START_TIME_DESC
          - TRIGGERED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaAnswerCuePointOrderBy
      title: KalturaAnswerCuePointFilter
      type: object
    KalturaSyndicationDistributionProviderBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaDistributionProviderFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaSyndicationDistributionProviderFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaSyndicationDistributionProviderFilter
          type: string
      title: KalturaSyndicationDistributionProviderBaseFilter
      type: object
      x-abstract: true
    KalturaPushNotificationTemplateFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaPushNotificationTemplateBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +id
          - +updatedAt
          - -createdAt
          - -id
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - ID_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - ID_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaPushNotificationTemplateOrderBy
      title: KalturaPushNotificationTemplateFilter
      type: object
    KalturaImageFlavorParamsOutputFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaImageFlavorParamsOutputBaseFilter'
      properties:
        orderBy:
          type: string
          x-enumLabels: []
          x-enumType: KalturaImageFlavorParamsOutputOrderBy
      title: KalturaImageFlavorParamsOutputFilter
      type: object
    KalturaConferenceServerNodeBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaServerNodeFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaConferenceServerNodeFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaConferenceServerNodeFilter
          type: string
      title: KalturaConferenceServerNodeBaseFilter
      type: object
      x-abstract: true
    KalturaBatchJobFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaBatchJobBaseFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaBatchJobFilter'
      - $ref: '#/components/schemas/KalturaBatchJobFilterExt'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaBatchJobFilter
          - KalturaBatchJobFilterExt
          type: string
        orderBy:
          enum:
          - +createdAt
          - +estimatedEffort
          - +executionAttempts
          - +finishTime
          - +lockVersion
          - +priority
          - +queueTime
          - +status
          - +updatedAt
          - -createdAt
          - -estimatedEffort
          - -executionAttempts
          - -finishTime
          - -lockVersion
          - -priority
          - -queueTime
          - -status
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - ESTIMATED_EFFORT_ASC
          - EXECUTION_ATTEMPTS_ASC
          - FINISH_TIME_ASC
          - LOCK_VERSION_ASC
          - PRIORITY_ASC
          - QUEUE_TIME_ASC
          - STATUS_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - ESTIMATED_EFFORT_DESC
          - EXECUTION_ATTEMPTS_DESC
          - FINISH_TIME_DESC
          - LOCK_VERSION_DESC
          - PRIORITY_DESC
          - QUEUE_TIME_DESC
          - STATUS_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaBatchJobOrderBy
      title: KalturaBatchJobFilter
      type: object
    KalturaMediaEntryBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaPlayableEntryFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaMediaEntryFilter'
      - $ref: '#/components/schemas/KalturaMediaEntryFilterForPlaylist'
      - $ref: '#/components/schemas/KalturaExternalMediaEntryFilter'
      - $ref: '#/components/schemas/KalturaLiveEntryFilter'
      - $ref: '#/components/schemas/KalturaLiveChannelFilter'
      - $ref: '#/components/schemas/KalturaLiveStreamEntryFilter'
      - $ref: '#/components/schemas/KalturaLiveStreamAdminEntryFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        flavorParamsIdsMatchAnd:
          type: string
        flavorParamsIdsMatchOr:
          type: string
        mediaDateGreaterThanOrEqual:
          type: integer
        mediaDateLessThanOrEqual:
          type: integer
        mediaTypeEqual:
          description: 'Enum Type: `KalturaMediaType`'
          enum:
          - 1
          - 2
          - 5
          - 201
          - 202
          - 203
          - 204
          type: integer
          x-enumLabels:
          - VIDEO
          - IMAGE
          - AUDIO
          - LIVE_STREAM_FLASH
          - LIVE_STREAM_WINDOWS_MEDIA
          - LIVE_STREAM_REAL_MEDIA
          - LIVE_STREAM_QUICKTIME
          x-enumType: KalturaMediaType
        mediaTypeIn:
          type: string
        objectType:
          enum:
          - KalturaMediaEntryFilter
          - KalturaMediaEntryFilterForPlaylist
          - KalturaExternalMediaEntryFilter
          - KalturaLiveEntryFilter
          - KalturaLiveChannelFilter
          - KalturaLiveStreamEntryFilter
          - KalturaLiveStreamAdminEntryFilter
          type: string
        sourceTypeEqual:
          description: 'Enum Type: `KalturaSourceType`'
          enum:
          - limeLight.LIVE_STREAM
          - velocix.VELOCIX_LIVE
          - '1'
          - '2'
          - '5'
          - '6'
          - '29'
          - '30'
          - '31'
          - '32'
          - '33'
          - '34'
          - '35'
          - '36'
          - '37'
          - '42'
          type: string
          x-enumLabels:
          - LIMELIGHT_LIVE
          - VELOCIX_LIVE
          - FILE
          - WEBCAM
          - URL
          - SEARCH_PROVIDER
          - AKAMAI_LIVE
          - MANUAL_LIVE_STREAM
          - AKAMAI_UNIVERSAL_LIVE
          - LIVE_STREAM
          - LIVE_CHANNEL
          - RECORDED_LIVE
          - CLIP
          - KALTURA_RECORDED_LIVE
          - LECTURE_CAPTURE
          - LIVE_STREAM_ONTEXTDATA_CAPTIONS
          x-enumType: KalturaSourceType
        sourceTypeIn:
          type: string
        sourceTypeNotEqual:
          description: 'Enum Type: `KalturaSourceType`'
          enum:
          - limeLight.LIVE_STREAM
          - velocix.VELOCIX_LIVE
          - '1'
          - '2'
          - '5'
          - '6'
          - '29'
          - '30'
          - '31'
          - '32'
          - '33'
          - '34'
          - '35'
          - '36'
          - '37'
          - '42'
          type: string
          x-enumLabels:
          - LIMELIGHT_LIVE
          - VELOCIX_LIVE
          - FILE
          - WEBCAM
          - URL
          - SEARCH_PROVIDER
          - AKAMAI_LIVE
          - MANUAL_LIVE_STREAM
          - AKAMAI_UNIVERSAL_LIVE
          - LIVE_STREAM
          - LIVE_CHANNEL
          - RECORDED_LIVE
          - CLIP
          - KALTURA_RECORDED_LIVE
          - LECTURE_CAPTURE
          - LIVE_STREAM_ONTEXTDATA_CAPTIONS
          x-enumType: KalturaSourceType
        sourceTypeNotIn:
          type: string
      title: KalturaMediaEntryBaseFilter
      type: object
      x-abstract: true
    KalturaSearchCondition:
      allOf:
      - $ref: '#/components/schemas/KalturaSearchItem'
      anyOf:
      - $ref: '#/components/schemas/KalturaSearchCondition'
      - $ref: '#/components/schemas/KalturaSearchComparableCondition'
      - $ref: '#/components/schemas/KalturaSearchMatchCondition'
      discriminator:
        propertyName: objectType
      properties:
        field:
          type: string
        objectType:
          enum:
          - KalturaSearchCondition
          - KalturaSearchComparableCondition
          - KalturaSearchMatchCondition
          type: string
        value:
          type: string
      title: KalturaSearchCondition
      type: object
    KalturaUploadTokenBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaUploadTokenFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        fileNameEqual:
          type: string
        fileSizeEqual:
          type: number
        idEqual:
          type: string
        idIn:
          type: string
        objectType:
          enum:
          - KalturaUploadTokenFilter
          type: string
        statusEqual:
          description: 'Enum Type: `KalturaUploadTokenStatus`'
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          type: integer
          x-enumLabels:
          - PENDING
          - PARTIAL_UPLOAD
          - FULL_UPLOAD
          - CLOSED
          - TIMED_OUT
          - DELETED
          x-enumType: KalturaUploadTokenStatus
        statusIn:
          type: string
        userIdEqual:
          type: string
      title: KalturaUploadTokenBaseFilter
      type: object
      x-abstract: true
    KalturaFlavorParamsFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFlavorParamsBaseFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaFlavorParamsFilter'
      - $ref: '#/components/schemas/KalturaDocumentFlavorParamsFilter'
      - $ref: '#/components/schemas/KalturaFlavorParamsOutputFilter'
      - $ref: '#/components/schemas/KalturaDocumentFlavorParamsOutputFilter'
      - $ref: '#/components/schemas/KalturaImageFlavorParamsOutputFilter'
      - $ref: '#/components/schemas/KalturaMediaFlavorParamsOutputFilter'
      - $ref: '#/components/schemas/KalturaPdfFlavorParamsOutputFilter'
      - $ref: '#/components/schemas/KalturaSwfFlavorParamsOutputFilter'
      - $ref: '#/components/schemas/KalturaWidevineFlavorParamsOutputFilter'
      - $ref: '#/components/schemas/KalturaImageFlavorParamsFilter'
      - $ref: '#/components/schemas/KalturaLiveParamsFilter'
      - $ref: '#/components/schemas/KalturaMediaFlavorParamsFilter'
      - $ref: '#/components/schemas/KalturaPdfFlavorParamsFilter'
      - $ref: '#/components/schemas/KalturaSwfFlavorParamsFilter'
      - $ref: '#/components/schemas/KalturaWidevineFlavorParamsFilter'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaFlavorParamsFilter
          - KalturaDocumentFlavorParamsFilter
          - KalturaFlavorParamsOutputFilter
          - KalturaDocumentFlavorParamsOutputFilter
          - KalturaImageFlavorParamsOutputFilter
          - KalturaMediaFlavorParamsOutputFilter
          - KalturaPdfFlavorParamsOutputFilter
          - KalturaSwfFlavorParamsOutputFilter
          - KalturaWidevineFlavorParamsOutputFilter
          - KalturaImageFlavorParamsFilter
          - KalturaLiveParamsFilter
          - KalturaMediaFlavorParamsFilter
          - KalturaPdfFlavorParamsFilter
          - KalturaSwfFlavorParamsFilter
          - KalturaWidevineFlavorParamsFilter
          type: string
        orderBy:
          type: string
          x-enumLabels: []
          x-enumType: KalturaFlavorParamsOrderBy
      title: KalturaFlavorParamsFilter
      type: object
    KalturaCaptionAssetItemFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaCaptionAssetFilter'
      properties:
        contentLike:
          type: string
        contentMultiLikeAnd:
          type: string
        contentMultiLikeOr:
          type: string
        endTimeGreaterThanOrEqual:
          type: integer
        endTimeLessThanOrEqual:
          type: integer
        labelEqual:
          type: string
        labelIn:
          type: string
        languageEqual:
          description: 'Enum Type: `KalturaLanguage`'
          enum:
          - Abaza
          - Abkhazian
          - Abnaki Western
          - Abure
          - Achang
          - Achinese
          - Achterhooks
          - Achumawi
          - Adioukrou
          - Adyghe; Adygei
          - Adynyamathanha
          - Afade
          - Afar
          - Afrikaans
          - Aghem
          - Aghul
          - Aguacateco
          - Aguaruna
          - Ainu (Japan)
          - Akkadian
          - Aklanon
          - Akum
          - Alabama
          - Albanian
          - Albanian (Gheg)
          - Albanian (Tosk)
          - Aleut
          - Algonquian languages
          - Algonquin
          - Altai (Southern)
          - Amharic
          - Angloromani
          - Apache (Jicarilla)
          - Apache (Western)
          - Arabic
          - Arabic (standard)
          - Arabic Tunisian Spoken
          - Aramaic
          - Aramaic Samaritan
          - Arapaho
          - Araucanian
          - Arikara
          - Armenian
          - Aromanian
          - Assamese
          - Assiniboine
          - Assyrian Neo-Aramaic
          - Asturian
          - Athapascan languages
          - Atikamekw
          - Awadhi
          - Aymara
          - Azerbaijani
          - Babine
          - Badaga
          - Bai
          - Balinese
          - Balochi Southern
          - Balti
          - Baluchi
          - Basa (Cameroon)
          - Bashkir
          - Basque
          - Bavarian
          - Beaver
          - Beja
          - Bemba (Zambia)
          - Bengali (Bangla)
          - Betawi
          - Bezhta
          - Bhili
          - Bhojpuri
          - Bhutani
          - Bihari
          - Bikol
          - Bini
          - Bishnupriya Manipuri
          - Bislama
          - Breton
          - Buginese
          - Bulgarian
          - Buriat
          - Burmese
          - Byelorussian (Belarusian)
          - Caddo
          - Cambodian
          - Cantonese
          - Carrier
          - Carrier Southern
          - Catalan
          - Catawba
          - Cayuga
          - Cebuano
          - Chagatai
          - Chaldean Neo-Aramaic
          - Cherokee
          - Cheyenne
          - Chickasaw
          - Chilcotin
          - Chinese
          - Chinook jargon
          - Chipewyan
          - Chippewa
          - Choctaw
          - Chor
          - Chukot
          - Cimbrian
          - Clallam Klallam
          - Cochimi
          - Cocopa
          - Colognian
          - Comanche
          - Comorian
          - Comox
          - Coptic
          - Corsican
          - Cree
          - Creek
          - Crimean Tatar
          - Croatian
          - Cupeo
          - Czech
          - Dakota
          - Danish
          - Dargwa
          - Dari (Persian)
          - Dari Zoroastrian
          - Dehu
          - Delaware
          - Dinka
          - Dogri (generic)
          - Dogrib
          - Dolgan
          - Dong
          - Duala
          - Dungan
          - Dutch
          - Dyula
          - E
          - Emilian
          - English
          - English (American)
          - English (British)
          - English Middle (1100-1500)
          - Erzya
          - Esperanto
          - Estonian
          - Even
          - Evenki
          - Faeroese
          - Fala
          - Fang (Equatorial Guinea)
          - Farsi
          - Fiji
          - Filipino
          - Finnish
          - Finnish (Tornedalen)
          - Fon
          - Franco-Prove
          - Frankish
          - French
          - French (Canada)
          - Frisian
          - Frisian Northern
          - Friulian
          - Fur
          - Ga
          - Gaelic (Manx)
          - Gaelic (Scottish)
          - Gagauz
          - Galician
          - Gan
          - Geez
          - Georgian
          - German
          - German Hutterite
          - German Pennsylvania
          - Gilbertese
          - Gilyak Nivkh
          - Gitxsan
          - Greek
          - Greek Ancient (to 1453)
          - Greenlandic
          - Guarani
          - Gujarati
          - Gwichin
          - Haida
          - Hainanese
          - Haisla
          - Hakka
          - Halkomelem
          - Han
          - Hani
          - Hausa
          - Hawaiian
          - Hebrew
          - Heiltsuk
          - Hidatsa
          - Hiligaynon
          - Hindi
          - Hmong
          - Hokkien
          - Hopi
          - Huizhou Chinese
          - Hungarian
          - Icelandic
          - Ikposo
          - Iloko
          - Inari Sami
          - Indonesian
          - Ingrian
          - Ingush
          - Interlingua
          - Interlingue
          - Inuinnaqtun
          - Inuktitut
          - Inupiak
          - Irish
          - Iroquoian languages
          - Italian
          - Itelmen
          - Japanese
          - Javanese
          - Jinyu Chinese
          - Jju
          - Judeo-Crimean Tatar
          - Judeo-Georgian
          - Jutish
          - Kabardian
          - Kabuverdianu
          - Kabyle
          - Kachchi
          - Kaikavian literary language (Kajkavian)
          - Kalmyk Oirat
          - Kannada
          - Kansa
          - Karachay-Balkar
          - Karagas
          - Karaim
          - Karakalpak
          - Karelian
          - Kashmiri
          - Kashubian
          - Kaska
          - Kawi
          - Kazakh
          - Khakas
          - Khalaj Turkic
          - Khanty
          - Khasi
          - Khmer Northern
          - Kickapoo
          - Kinyarwanda (Ruanda)
          - Kiowa
          - Kirghiz
          - Kirundi (Rundi)
          - Klingon tlhIngan-Hol
          - Kodava
          - Komi-Permyak
          - Konkani (generic)
          - Konkani (specific)
          - Konkani Goan
          - Korean
          - Koryak
          - Kosraean
          - Kotava
          - Kpelle
          - Kumiai
          - Kumyk
          - Kurdish
          - Kutenai
          - Kwakiutl
          - Laal
          - Ladin
          - Ladino
          - Lahnda
          - Lahu
          - Lak
          - Laki
          - Lakota
          - Laothian
          - Latin
          - Latvian (Lettish)
          - Laz
          - Lezghian
          - Ligurian
          - Lillooet
          - Limbu
          - Limburgish ( Limburger)
          - Lingala
          - Lithuanian
          - Lojban
          - Loma (Liberia)
          - Lombard
          - Low German Low Saxon
          - Lozi
          - Luba-Lulua
          - Lucumi
          - Ludian
          - Lule Sami
          - Lunda
          - Luo (Kenya and Tanzania)
          - Lushootseed
          - Luxembourgish (Letzeburgesch)
          - Macedonian
          - Madurese
          - Magahi
          - Maithili
          - Malagasy
          - Malay
          - Malayalam
          - Malecite-Passamaquoddy
          - Maltese
          - Manchu
          - Mandaic
          - Mandan
          - Mandarin Chinese
          - Mansi
          - Maori
          - Maranao
          - Marathi
          - Mari (Russia)
          - Marwari
          - Masai
          - Mayo
          - Meitei
          - Mende (Sierra Leone)
          - Menominee
          - Michif
          - Micmac
          - Min Bei Chinese
          - Min Dong Chinese
          - Minangkabau
          - Mingrelian
          - Mirandese
          - Mohawk
          - Moksha
          - Moldavian
          - Mon
          - Mongolian
          - Montagnais
          - Morisyen
          - Mossi
          - Mozarabic
          - Multilingual
          - Muong
          - Nama (Namibia)
          - Nanai
          - Naskapi
          - Nauru
          - Neapolitan
          - Nepali
          - Newari Nepal Bhasa
          - Nganasan
          - Nisgaa
          - Niuean
          - No linguistic content
          - Nogai
          - Norse Old
          - Northern Sotho Pedi Sepedi
          - Norwegian
          - Novial
          - Nyamwezi
          - Nyoro
          - Nyungah
          - Occitan
          - Ojibwa Central
          - Ojibwa Eastern
          - Ojibwa Northwestern
          - Ojibwa Severn
          - Ojibwa Western
          - Ojibwe, Ojibwa
          - Okanagan
          - Okinawan Central
          - Old English
          - Oneida
          - Onondaga
          - Oriya
          - Oromo (Afan, Galla)
          - Ottawa
          - Paipai
          - Palauan
          - Pampanga
          - Pangasinan
          - Papiamento
          - Pashto (Pushto)
          - Persian
          - Persian (Dari)
          - Pfaelzisch
          - Picard
          - Piedmontese
          - Pirah
          - Pitcairn-Norfolk
          - Plautdietsch
          - Polish
          - Pontic
          - Portuguese
          - Portuguese (Brazil)
          - Potawatomi
          - Prussian
          - Pulaar
          - Punjabi
          - Qashqai
          - Qawasqar
          - Quechua
          - Quich Central
          - Rapanui
          - Rarotongan
          - Reserved for local use.
          - Rhaeto-Romance
          - Romagnol
          - Romani Kalo Finnish
          - Romani Sinte
          - Romanian
          - Romanian Istro
          - Romanian Megleno
          - Romany
          - Runion Creole French
          - Russian
          - Rusyn
          - Saint Lucian Creole French
          - Sakha
          - Salar
          - Salish Straits
          - Salishan languages
          - Sami Kildin
          - Sami languages
          - Samoan
          - Sangro
          - Sanskrit
          - Santali
          - Saramaccan
          - Sardinian Sassarese
          - Saterland Frisian
          - Saxon Upper
          - Scots
          - Sechelt
          - Seediq
          - Sekani
          - Selkup
          - Seneca
          - Serbian
          - Serbo-Croatian
          - Seri
          - Sesotho
          - Setswana
          - Shawnee
          - Shona
          - Shor
          - Shoshoni
          - Shuswap
          - Sicilian
          - Sidamo
          - Siksika
          - Silesian
          - Sindhi
          - Sinhalese
          - Siswati
          - Skolt Sami
          - Slavey North
          - Slavey South
          - Slovak
          - Slovenian
          - Somali
          - Soninke
          - Sorbian Lower
          - Sorbian Upper
          - Southern Sami
          - Southern Tutchone
          - Spanish
          - Spanish (Latin America)
          - Sranan
          - Stoney
          - Sudovian
          - Sumerian
          - Sundanese
          - Svan
          - Swabian
          - Swahili (Kiswahili)
          - Swedish
          - Swedish Sign Language
          - Swiss German Alemannic Alsatian
          - Syriac
          - Tabassaran
          - Tachawit
          - Tachelhit
          - Tagalog
          - Tagbanwa
          - Tagish
          - Tahltan
          - Tai Na
          - Taiwanese Mandarin
          - Tajik
          - Talysh
          - Tamajaq Tawallammat
          - Tamasheq
          - Tamazight Central Atlas
          - Tamil
          - Tarahumara Central
          - Tat Muslim
          - Tatar
          - Telugu
          - Teo Chew
          - Tetum
          - Thai
          - Thai (Northern)
          - Thai Northeastern
          - Thompson
          - Tibetan
          - Tigre
          - Tigrinya
          - Tlingit
          - Toda
          - Tohono Oodham
          - Tok Pisin
          - Tonga
          - Tonga (Nyasa)
          - Tsez
          - Tsimshian
          - Tsonga
          - Tulu
          - Tumbuka
          - Tumzabt
          - Tupinamb
          - Turkana
          - Turkish
          - Turkish Ottoman
          - Turkmen
          - Tuscarora
          - Tuvalu
          - Tuvinian
          - Twi
          - Ubykh
          - Udi
          - Udmurt
          - Uighur
          - Ukrainian
          - Undefined
          - Urdu
          - Urum
          - Uzbek
          - Venetian
          - Veps
          - Vietnamese
          - Volapuk
          - Voro
          - Votic
          - Vro
          - Waorani
          - Waray (Philippines)
          - Welsh
          - Western Farsi
          - Western Neo-Aramaic
          - Wiyot
          - Wolof
          - Wu Chinese
          - Wymysorys
          - Xhosa
          - Yanesha
          - Yiddish
          - Yoruba
          - Zapotec Isthmus
          - Zarma
          - Zulu
          type: string
          x-enumType: KalturaLanguage
        languageIn:
          type: string
        partnerDescriptionLike:
          type: string
        partnerDescriptionMultiLikeAnd:
          type: string
        partnerDescriptionMultiLikeOr:
          type: string
        startTimeGreaterThanOrEqual:
          type: integer
        startTimeLessThanOrEqual:
          type: integer
      title: KalturaCaptionAssetItemFilter
      type: object
    KalturaAttachmentAssetFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaAttachmentAssetBaseFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaAttachmentAssetFilter'
      - $ref: '#/components/schemas/KalturaTranscriptAssetFilter'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaAttachmentAssetFilter
          - KalturaTranscriptAssetFilter
          type: string
        orderBy:
          enum:
          - +createdAt
          - +deletedAt
          - +size
          - +updatedAt
          - -createdAt
          - -deletedAt
          - -size
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - DELETED_AT_ASC
          - SIZE_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - DELETED_AT_DESC
          - SIZE_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaAttachmentAssetOrderBy
      title: KalturaAttachmentAssetFilter
      type: object
    KalturaCaptionAssetBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaAssetFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaCaptionAssetFilter'
      - $ref: '#/components/schemas/KalturaCaptionAssetItemFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        captionParamsIdEqual:
          type: integer
        captionParamsIdIn:
          type: string
        formatEqual:
          description: 'Enum Type: `KalturaCaptionType`'
          enum:
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          type: string
          x-enumLabels:
          - SRT
          - DFXP
          - WEBVTT
          - CAP
          - SCC
          x-enumType: KalturaCaptionType
        formatIn:
          type: string
        objectType:
          enum:
          - KalturaCaptionAssetFilter
          - KalturaCaptionAssetItemFilter
          type: string
        statusEqual:
          description: 'Enum Type: `KalturaCaptionAssetStatus`'
          enum:
          - -1
          - 0
          - 2
          - 3
          - 7
          - 9
          type: integer
          x-enumLabels:
          - ERROR
          - QUEUED
          - READY
          - DELETED
          - IMPORTING
          - EXPORTING
          x-enumType: KalturaCaptionAssetStatus
        statusIn:
          type: string
        statusNotIn:
          type: string
      title: KalturaCaptionAssetBaseFilter
      type: object
      x-abstract: true
    KalturaAssetParamsOutputBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaAssetParamsFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaAssetParamsOutputFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaAssetParamsOutputFilter
          type: string
      title: KalturaAssetParamsOutputBaseFilter
      type: object
      x-abstract: true
    KalturaGroupUserBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaRelatedFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaGroupUserFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        createdAtGreaterThanOrEqual:
          type: integer
        createdAtLessThanOrEqual:
          type: integer
        groupIdEqual:
          type: string
        groupIdIn:
          type: string
        objectType:
          enum:
          - KalturaGroupUserFilter
          type: string
        statusEqual:
          description: 'Enum Type: `KalturaGroupUserStatus`'
          enum:
          - 0
          - 1
          type: integer
          x-enumLabels:
          - ACTIVE
          - DELETED
          x-enumType: KalturaGroupUserStatus
        statusIn:
          type: string
        updatedAtGreaterThanOrEqual:
          type: integer
        updatedAtLessThanOrEqual:
          type: integer
        userIdEqual:
          type: string
        userIdIn:
          type: string
      title: KalturaGroupUserBaseFilter
      type: object
      x-abstract: true
    KalturaEventNotificationTemplateBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaEventNotificationTemplateFilter'
      - $ref: '#/components/schemas/KalturaBusinessProcessNotificationTemplateFilter'
      - $ref: '#/components/schemas/KalturaBusinessProcessAbortNotificationTemplateFilter'
      - $ref: '#/components/schemas/KalturaBusinessProcessSignalNotificationTemplateFilter'
      - $ref: '#/components/schemas/KalturaBusinessProcessStartNotificationTemplateFilter'
      - $ref: '#/components/schemas/KalturaEmailNotificationTemplateFilter'
[...]
