swagger: '2.0'
info:
  description: The Kaltura OTT API
  title: Kaltura OTT accessControl jobs API
  version: 3.6.287.20720
host: tvpapi-us-preprod.ott.kaltura.com
basePath: /api_v3
schemes:
- https
- http
produces:
- application/json
- text/xml
security:
- ks: []
tags:
- description: "batch service lets you handle different batch process from remote machines.\n As opposed to other objects in the system, locking mechanism is critical in this case.\n For this reason the GetExclusiveXX, UpdateExclusiveXX and FreeExclusiveXX actions are important for the system's integrity.\n In general - updating batch object should be done only using the UpdateExclusiveXX which in turn can be called only after \n acuiring a batch objet properly (using  GetExclusiveXX).\n If an object was aquired and should be returned to the pool in it's initial state - use the FreeExclusiveXX action \n Terminology:\n LocationId\n ServerID\n ParternGroups"
  name: jobs
paths:
  /service/jobs/action/abortBulkUpload:
    post:
      description: batch abortBulkUploadAction aborts and returns the status of bulk upload task
      operationId: jobs.abortBulkUpload
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/abortCaptureThumb:
    post:
      description: batch abortCaptureThumbAction aborts and returns the status of capture thumbnail task
      operationId: jobs.abortCaptureThumb
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/abortConvert:
    post:
      description: batch abortConvertAction aborts and returns the status of convert task
      operationId: jobs.abortConvert
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/abortConvertCollection:
    post:
      description: batch abortConvertCollectionAction aborts and returns the status of convert profile task
      operationId: jobs.abortConvertCollection
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/abortConvertProfile:
    post:
      description: batch abortConvertProfileAction aborts and returns the status of convert profile task
      operationId: jobs.abortConvertProfile
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/abortExtractMedia:
    post:
      description: batch abortExtractMediaAction aborts and returns the status of extract media task
      operationId: jobs.abortExtractMedia
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/abortImport:
    post:
      description: batch abortImportAction aborts and returns the status of import task
      operationId: jobs.abortImport
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/abortJob:
    post:
      description: batch abortJobAction aborts and returns the status of task
      operationId: jobs.abortJob
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
            jobType:
              enum:
              - ReachInternal.ReachInternalQueueHandler
              - '0'
              - caption.convertcaptionasset
              - caption.parsemultilanguagecaptionasset
              - captionSearch.parseCaptionAsset
              - contentDistribution.DistributionDelete
              - contentDistribution.DistributionDisable
              - contentDistribution.DistributionEnable
              - contentDistribution.DistributionFetchReport
              - contentDistribution.DistributionSubmit
              - contentDistribution.DistributionSync
              - contentDistribution.DistributionUpdate
              - dropFolder.DropFolderContentProcessor
              - dropFolder.DropFolderWatcher
              - eventNotification.EventNotificationHandler
              - integration.Integration
              - reach.EntryVendorTasksCsv
              - reach.SyncReachCreditTask
              - scheduledTask.ScheduledTask
              - tagSearch.IndexTagsByPrivacyContext
              - tagSearch.TagResolve
              - virusScan.VirusScan
              - widevine.WidevineRepositorySync
              - '1'
              - '2'
              - '3'
              - '4'
              - '5'
              - '6'
              - '7'
              - '10'
              - '11'
              - '14'
              - '15'
              - '16'
              - '17'
              - '18'
              - '19'
              - '20'
              - '21'
              - '22'
              - '23'
              - '24'
              - '25'
              - '26'
              - '27'
              - '28'
              - '29'
              - '30'
              - '31'
              - '32'
              - '33'
              - '34'
              - '35'
              - '36'
              - '37'
              - '38'
              - '39'
              - '40'
              - '41'
              - '42'
              - '43'
              - '44'
              - '45'
              - '46'
              - '47'
              - '48'
              - '49'
              - '50'
              - '51'
              - '52'
              - '53'
              - '54'
              - '55'
              - '56'
              type: string
              x-enumLabels:
              - REACH_INTERNAL_QUEUE_HANDLER
              - CONVERT
              - CONVERT_CAPTION_ASSET
              - PARSE_MULTI_LANGUAGE_CAPTION_ASSET
              - PARSE_CAPTION_ASSET
              - DISTRIBUTION_DELETE
              - DISTRIBUTION_DISABLE
              - DISTRIBUTION_ENABLE
              - DISTRIBUTION_FETCH_REPORT
              - DISTRIBUTION_SUBMIT
              - DISTRIBUTION_SYNC
              - DISTRIBUTION_UPDATE
              - DROP_FOLDER_CONTENT_PROCESSOR
              - DROP_FOLDER_WATCHER
              - EVENT_NOTIFICATION_HANDLER
              - INTEGRATION
              - ENTRY_VENDOR_TASK_CSV
              - SYNC_REACH_CREDIT_TASK
              - SCHEDULED_TASK
              - INDEX_TAGS
              - TAG_RESOLVE
              - VIRUS_SCAN
              - WIDEVINE_REPOSITORY_SYNC
              - IMPORT
              - DELETE
              - FLATTEN
              - BULKUPLOAD
              - DVDCREATOR
              - DOWNLOAD
              - OOCONVERT
              - CONVERT_PROFILE
              - POSTCONVERT
              - EXTRACT_MEDIA
              - MAIL
              - NOTIFICATION
              - CLEANUP
              - SCHEDULER_HELPER
              - BULKDOWNLOAD
              - DB_CLEANUP
              - PROVISION_PROVIDE
              - CONVERT_COLLECTION
              - STORAGE_EXPORT
              - PROVISION_DELETE
              - STORAGE_DELETE
              - EMAIL_INGESTION
              - METADATA_IMPORT
              - METADATA_TRANSFORM
              - FILESYNC_IMPORT
              - CAPTURE_THUMB
              - DELETE_FILE
              - INDEX
              - MOVE_CATEGORY_ENTRIES
              - COPY
              - CONCAT
              - CONVERT_LIVE_SEGMENT
              - COPY_PARTNER
              - VALIDATE_LIVE_MEDIA_SERVERS
              - SYNC_CATEGORY_PRIVACY_CONTEXT
              - LIVE_REPORT_EXPORT
              - RECALCULATE_CACHE
              - LIVE_TO_VOD
              - COPY_CAPTIONS
              - CHUNKED_ENCODE_JOB_SCHEDULER
              - SERVER_NODE_MONITOR
              - USERS_CSV
              - CLIP_CONCAT
              - COPY_CUE_POINTS
              - EXPORT_CSV
              - REPORT_EXPORT
              - LIVE_ENTRY_ARCHIVE
              - STORAGE_UPDATE
              - STORAGE_PERIODIC_EXPORT
              - STORAGE_PERIODIC_PURGE
              - STORAGE_PERIODIC_DELETE_LOCAL
              - REACH_JOB_CLEANER
              x-enumType: KalturaBatchJobType
          required:
          - jobId
          - jobType
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
      - jobType
  /service/jobs/action/abortMail:
    post:
      description: batch abortMailAction aborts and returns the status of mail task
      operationId: jobs.abortMail
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/abortNotification:
    post:
      description: batch abortNotificationAction aborts and returns the status of notification task
      operationId: jobs.abortNotification
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/abortPostConvert:
    post:
      description: batch abortPostConvertAction aborts and returns the status of post convert task
      operationId: jobs.abortPostConvert
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/abortProvisionDelete:
    post:
      description: batch abortProvisionDeleteAction aborts and returns the status of ProvisionDelete task
      operationId: jobs.abortProvisionDelete
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/abortProvisionProvide:
    post:
      description: batch abortProvisionProvideAction aborts and returns the status of ProvisionProvide task
      operationId: jobs.abortProvisionProvide
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/abortStorageDelete:
    post:
      description: batch abortStorageDeleteAction aborts and returns the status of export task
      operationId: jobs.abortStorageDelete
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/abortStorageExport:
    post:
      description: batch abortStorageExportAction aborts and returns the status of export task
      operationId: jobs.abortStorageExport
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/addBatchJob:
    post:
      description: batch addBatchJob action allows to add a generic BatchJob
      operationId: jobs.addBatchJob
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            batchJob:
              $ref: '#/definitions/KalturaBatchJob'
          required:
          - batchJob
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJob'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - batchJob
  /service/jobs/action/addConvertProfileJob:
    post:
      description: batch addConvertProfileJobAction creates a new convert profile job
      operationId: jobs.addConvertProfileJob
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            entryId:
              type: string
          required:
          - entryId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - entryId
  /service/jobs/action/addMailJob:
    post:
      description: Adds new mail job
      operationId: jobs.addMailJob
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            mailJobData:
              $ref: '#/definitions/KalturaMailJobData'
          required:
          - mailJobData
          type: object
      responses:
        '200':
          description: Success
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - mailJobData
  /service/jobs/action/boostEntryJobs:
    post:
      description: batch boostEntryJobsAction boosts all the jobs associated with the entry
      operationId: jobs.boostEntryJobs
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            entryId:
              type: string
          required:
          - entryId
          type: object
      responses:
        '200':
          description: Success
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - entryId
  /service/jobs/action/deleteBulkUpload:
    post:
      description: batch deleteBulkUploadAction deletes and returns the status of bulk upload task
      operationId: jobs.deleteBulkUpload
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/deleteCaptureThumb:
    post:
      description: batch deleteCaptureThumbAction deletes and returns the status of capture thumbnail task
      operationId: jobs.deleteCaptureThumb
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/deleteConvert:
    post:
      description: batch deleteConvertAction deletes and returns the status of convert task
      operationId: jobs.deleteConvert
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/deleteConvertCollection:
    post:
      description: batch deleteConvertCollectionAction deletes and returns the status of convert profile task
      operationId: jobs.deleteConvertCollection
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/deleteConvertProfile:
    post:
      description: batch deleteConvertProfileAction deletes and returns the status of convert profile task
      operationId: jobs.deleteConvertProfile
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/deleteExtractMedia:
    post:
      description: batch deleteExtractMediaAction deletes and returns the status of extract media task
      operationId: jobs.deleteExtractMedia
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/deleteImport:
    post:
      description: batch deleteImportAction deletes and returns the status of import task
      operationId: jobs.deleteImport
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/deleteJob:
    post:
      description: batch deleteJobAction deletes and returns the status of task
      operationId: jobs.deleteJob
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
            jobType:
              enum:
              - ReachInternal.ReachInternalQueueHandler
              - '0'
              - caption.convertcaptionasset
              - caption.parsemultilanguagecaptionasset
              - captionSearch.parseCaptionAsset
              - contentDistribution.DistributionDelete
              - contentDistribution.DistributionDisable
              - contentDistribution.DistributionEnable
              - contentDistribution.DistributionFetchReport
              - contentDistribution.DistributionSubmit
              - contentDistribution.DistributionSync
              - contentDistribution.DistributionUpdate
              - dropFolder.DropFolderContentProcessor
              - dropFolder.DropFolderWatcher
              - eventNotification.EventNotificationHandler
              - integration.Integration
              - reach.EntryVendorTasksCsv
              - reach.SyncReachCreditTask
              - scheduledTask.ScheduledTask
              - tagSearch.IndexTagsByPrivacyContext
              - tagSearch.TagResolve
              - virusScan.VirusScan
              - widevine.WidevineRepositorySync
              - '1'
              - '2'
              - '3'
              - '4'
              - '5'
              - '6'
              - '7'
              - '10'
              - '11'
              - '14'
              - '15'
              - '16'
              - '17'
              - '18'
              - '19'
              - '20'
              - '21'
              - '22'
              - '23'
              - '24'
              - '25'
              - '26'
              - '27'
              - '28'
              - '29'
              - '30'
              - '31'
              - '32'
              - '33'
              - '34'
              - '35'
              - '36'
              - '37'
              - '38'
              - '39'
              - '40'
              - '41'
              - '42'
              - '43'
              - '44'
              - '45'
              - '46'
              - '47'
              - '48'
              - '49'
              - '50'
              - '51'
              - '52'
              - '53'
              - '54'
              - '55'
              - '56'
              type: string
              x-enumLabels:
              - REACH_INTERNAL_QUEUE_HANDLER
              - CONVERT
              - CONVERT_CAPTION_ASSET
              - PARSE_MULTI_LANGUAGE_CAPTION_ASSET
              - PARSE_CAPTION_ASSET
              - DISTRIBUTION_DELETE
              - DISTRIBUTION_DISABLE
              - DISTRIBUTION_ENABLE
              - DISTRIBUTION_FETCH_REPORT
              - DISTRIBUTION_SUBMIT
              - DISTRIBUTION_SYNC
              - DISTRIBUTION_UPDATE
              - DROP_FOLDER_CONTENT_PROCESSOR
              - DROP_FOLDER_WATCHER
              - EVENT_NOTIFICATION_HANDLER
              - INTEGRATION
              - ENTRY_VENDOR_TASK_CSV
              - SYNC_REACH_CREDIT_TASK
              - SCHEDULED_TASK
              - INDEX_TAGS
              - TAG_RESOLVE
              - VIRUS_SCAN
              - WIDEVINE_REPOSITORY_SYNC
              - IMPORT
              - DELETE
              - FLATTEN
              - BULKUPLOAD
              - DVDCREATOR
              - DOWNLOAD
              - OOCONVERT
              - CONVERT_PROFILE
              - POSTCONVERT
              - EXTRACT_MEDIA
              - MAIL
              - NOTIFICATION
              - CLEANUP
              - SCHEDULER_HELPER
              - BULKDOWNLOAD
              - DB_CLEANUP
              - PROVISION_PROVIDE
              - CONVERT_COLLECTION
              - STORAGE_EXPORT
              - PROVISION_DELETE
              - STORAGE_DELETE
              - EMAIL_INGESTION
              - METADATA_IMPORT
              - METADATA_TRANSFORM
              - FILESYNC_IMPORT
              - CAPTURE_THUMB
              - DELETE_FILE
              - INDEX
              - MOVE_CATEGORY_ENTRIES
              - COPY
              - CONCAT
              - CONVERT_LIVE_SEGMENT
              - COPY_PARTNER
              - VALIDATE_LIVE_MEDIA_SERVERS
              - SYNC_CATEGORY_PRIVACY_CONTEXT
              - LIVE_REPORT_EXPORT
              - RECALCULATE_CACHE
              - LIVE_TO_VOD
              - COPY_CAPTIONS
              - CHUNKED_ENCODE_JOB_SCHEDULER
              - SERVER_NODE_MONITOR
              - USERS_CSV
              - CLIP_CONCAT
              - COPY_CUE_POINTS
              - EXPORT_CSV
              - REPORT_EXPORT
              - LIVE_ENTRY_ARCHIVE
              - STORAGE_UPDATE
              - STORAGE_PERIODIC_EXPORT
              - STORAGE_PERIODIC_PURGE
              - STORAGE_PERIODIC_DELETE_LOCAL
              - REACH_JOB_CLEANER
              x-enumType: KalturaBatchJobType
          required:
          - jobId
          - jobType
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
      - jobType
  /service/jobs/action/deleteMail:
    post:
      description: batch deleteMailAction deletes and returns the status of mail task
      operationId: jobs.deleteMail
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/deleteNotification:
    post:
      description: batch deleteNotificationAction deletes and returns the status of notification task
      operationId: jobs.deleteNotification
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/deletePostConvert:
    post:
      description: batch deletePostConvertAction deletes and returns the status of post convert task
      operationId: jobs.deletePostConvert
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/deleteProvisionDelete:
    post:
      description: batch deleteProvisionDeleteAction deletes and returns the status of ProvisionDelete task
      operationId: jobs.deleteProvisionDelete
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/deleteProvisionProvide:
    post:
      description: batch deleteProvisionProvideAction deletes and returns the status of ProvisionProvide task
      operationId: jobs.deleteProvisionProvide
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/deleteStorageDelete:
    post:
      description: batch deleteStorageDeleteAction deletes and returns the status of export task
      operationId: jobs.deleteStorageDelete
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/deleteStorageExport:
    post:
      description: batch deleteStorageExportAction deletes and returns the status of export task
      operationId: jobs.deleteStorageExport
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/getBulkUploadStatus:
    post:
      description: "// --------------------------------- ProvisionDeleteJob functions \t--------------------------------- //\n\n// --------------------------------- BulkUploadJob functions \t--------------------------------- //\n\n/batch getBulkUploadStatusAction returns the status of bulk upload task"
      operationId: jobs.getBulkUploadStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/getCaptureThumbStatus:
    post:
      description: batch getCaptureThumbStatusAction returns the status of capture thumbnail task
      operationId: jobs.getCaptureThumbStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/getConvertCollectionStatus:
    post:
      description: batch getConvertCollectionStatusAction returns the status of convert task
      operationId: jobs.getConvertCollectionStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/getConvertProfileStatus:
    post:
      description: batch getConvertProfileStatusAction returns the status of convert task
      operationId: jobs.getConvertProfileStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/getConvertStatus:
    post:
      description: batch getConvertStatusAction returns the status of convert task
      operationId: jobs.getConvertStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/getExtractMediaStatus:
    post:
      description: batch getExtractMediaStatusAction returns the status of extract media task
      operationId: jobs.getExtractMediaStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/getImportStatus:
    post:
      description: batch getImportStatusAction returns the status of import task
      operationId: jobs.getImportStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/getMailStatus:
    post:
      description: batch getMailStatusAction returns the status of mail task
      operationId: jobs.getMailStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/getNotificationStatus:
    post:
      description: batch getNotificationStatusAction returns the status of Notification task
      operationId: jobs.getNotificationStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/getPostConvertStatus:
    post:
      description: batch getPostConvertStatusAction returns the status of post convert task
      operationId: jobs.getPostConvertStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/getProvisionDeleteStatus:
    post:
      description: "// --------------------------------- ProvisionProvideJob functions \t--------------------------------- //\n\n// --------------------------------- ProvisionDeleteJob functions \t--------------------------------- //\n\n/batch getProvisionDeleteStatusAction returns the status of ProvisionDelete task"
      operationId: jobs.getProvisionDeleteStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/getProvisionProvideStatus:
    post:
      description: "// --------------------------------- ImportJob functions \t--------------------------------- //\n\n// --------------------------------- ProvisionProvideJob functions \t--------------------------------- //\n\n/batch getProvisionProvideStatusAction returns the status of ProvisionProvide task"
      operationId: jobs.getProvisionProvideStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/getStatus:
    post:
      description: batch getStatusAction returns the status of task
      operationId: jobs.getStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
            jobType:
              enum:
              - ReachInternal.ReachInternalQueueHandler
              - '0'
              - caption.convertcaptionasset
              - caption.parsemultilanguagecaptionasset
              - captionSearch.parseCaptionAsset
              - contentDistribution.DistributionDelete
              - contentDistribution.DistributionDisable
              - contentDistribution.DistributionEnable
              - contentDistribution.DistributionFetchReport
              - contentDistribution.DistributionSubmit
              - contentDistribution.DistributionSync
              - contentDistribution.DistributionUpdate
              - dropFolder.DropFolderContentProcessor
              - dropFolder.DropFolderWatcher
              - eventNotification.EventNotificationHandler
              - integration.Integration
              - reach.EntryVendorTasksCsv
              - reach.SyncReachCreditTask
              - scheduledTask.ScheduledTask
              - tagSearch.IndexTagsByPrivacyContext
              - tagSearch.TagResolve
              - virusScan.VirusScan
              - widevine.WidevineRepositorySync
              - '1'
              - '2'
              - '3'
              - '4'
              - '5'
              - '6'
              - '7'
              - '10'
              - '11'
              - '14'
              - '15'
              - '16'
              - '17'
              - '18'
              - '19'
              - '20'
              - '21'
              - '22'
              - '23'
              - '24'
              - '25'
              - '26'
              - '27'
              - '28'
              - '29'
              - '30'
              - '31'
              - '32'
              - '33'
              - '34'
              - '35'
              - '36'
              - '37'
              - '38'
              - '39'
              - '40'
              - '41'
              - '42'
              - '43'
              - '44'
              - '45'
              - '46'
              - '47'
              - '48'
              - '49'
              - '50'
              - '51'
              - '52'
              - '53'
              - '54'
              - '55'
              - '56'
              type: string
              x-enumLabels:
              - REACH_INTERNAL_QUEUE_HANDLER
              - CONVERT
              - CONVERT_CAPTION_ASSET
              - PARSE_MULTI_LANGUAGE_CAPTION_ASSET
              - PARSE_CAPTION_ASSET
              - DISTRIBUTION_DELETE
              - DISTRIBUTION_DISABLE
              - DISTRIBUTION_ENABLE
              - DISTRIBUTION_FETCH_REPORT
              - DISTRIBUTION_SUBMIT
              - DISTRIBUTION_SYNC
              - DISTRIBUTION_UPDATE
              - DROP_FOLDER_CONTENT_PROCESSOR
              - DROP_FOLDER_WATCHER
              - EVENT_NOTIFICATION_HANDLER
              - INTEGRATION
              - ENTRY_VENDOR_TASK_CSV
              - SYNC_REACH_CREDIT_TASK
              - SCHEDULED_TASK
              - INDEX_TAGS
              - TAG_RESOLVE
              - VIRUS_SCAN
              - WIDEVINE_REPOSITORY_SYNC
              - IMPORT
              - DELETE
              - FLATTEN
              - BULKUPLOAD
              - DVDCREATOR
              - DOWNLOAD
              - OOCONVERT
              - CONVERT_PROFILE
              - POSTCONVERT
              - EXTRACT_MEDIA
              - MAIL
              - NOTIFICATION
              - CLEANUP
              - SCHEDULER_HELPER
              - BULKDOWNLOAD
              - DB_CLEANUP
              - PROVISION_PROVIDE
              - CONVERT_COLLECTION
              - STORAGE_EXPORT
              - PROVISION_DELETE
              - STORAGE_DELETE
              - EMAIL_INGESTION
              - METADATA_IMPORT
              - METADATA_TRANSFORM
              - FILESYNC_IMPORT
              - CAPTURE_THUMB
              - DELETE_FILE
              - INDEX
              - MOVE_CATEGORY_ENTRIES
              - COPY
              - CONCAT
              - CONVERT_LIVE_SEGMENT
              - COPY_PARTNER
              - VALIDATE_LIVE_MEDIA_SERVERS
              - SYNC_CATEGORY_PRIVACY_CONTEXT
              - LIVE_REPORT_EXPORT
              - RECALCULATE_CACHE
              - LIVE_TO_VOD
              - COPY_CAPTIONS
              - CHUNKED_ENCODE_JOB_SCHEDULER
              - SERVER_NODE_MONITOR
              - USERS_CSV
              - CLIP_CONCAT
              - COPY_CUE_POINTS
              - EXPORT_CSV
              - REPORT_EXPORT
              - LIVE_ENTRY_ARCHIVE
              - STORAGE_UPDATE
              - STORAGE_PERIODIC_EXPORT
              - STORAGE_PERIODIC_PURGE
              - STORAGE_PERIODIC_DELETE_LOCAL
              - REACH_JOB_CLEANER
              x-enumType: KalturaBatchJobType
            pager:
              $ref: '#/definitions/KalturaFilterPager'
          required:
          - jobId
          - jobType
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
      - jobType
      - pager
  /service/jobs/action/getStorageDeleteStatus:
    post:
      description: batch getStorageDeleteStatusAction returns the status of export task
      operationId: jobs.getStorageDeleteStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/getStorageExportStatus:
    post:
      description: batch getStorageExportStatusAction returns the status of export task
      operationId: jobs.getStorageExportStatus
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/listBatchJobs:
    post:
      description: list Batch Jobs
      operationId: jobs.listBatchJobs
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            filter:
              $ref: '#/definitions/KalturaBatchJobFilter'
            pager:
              $ref: '#/definitions/KalturaFilterPager'
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobListResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - filter
      - pager
  /service/jobs/action/retryBulkUpload:
    post:
      description: batch retryBulkUploadAction retries and returns the status of bulk upload task
      operationId: jobs.retryBulkUpload
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/retryCaptureThumb:
    post:
      description: batch retryCaptureThumbAction retries and returns the status of capture thumbnail task
      operationId: jobs.retryCaptureThumb
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/retryConvert:
    post:
      description: batch retryConvertAction retries and returns the status of convert task
      operationId: jobs.retryConvert
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/retryConvertCollection:
    post:
      description: batch retryConvertCollectionAction retries and returns the status of convert profile task
      operationId: jobs.retryConvertCollection
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/retryConvertProfile:
    post:
      description: batch retryConvertProfileAction retries and returns the status of convert profile task
      operationId: jobs.retryConvertProfile
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/retryExtractMedia:
    post:
      description: batch retryExtractMediaAction retries and returns the status of extract media task
      operationId: jobs.retryExtractMedia
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/retryImport:
    post:
      description: batch retryImportAction retries and returns the status of import task
      operationId: jobs.retryImport
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/retryJob:
    post:
      description: batch retryJobAction aborts and returns the status of task
      operationId: jobs.retryJob
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            force:
              default: false
              type: boolean
            jobId:
              type: integer
            jobType:
              enum:
              - ReachInternal.ReachInternalQueueHandler
              - '0'
              - caption.convertcaptionasset
              - caption.parsemultilanguagecaptionasset
              - captionSearch.parseCaptionAsset
              - contentDistribution.DistributionDelete
              - contentDistribution.DistributionDisable
              - contentDistribution.DistributionEnable
              - contentDistribution.DistributionFetchReport
              - contentDistribution.DistributionSubmit
              - contentDistribution.DistributionSync
              - contentDistribution.DistributionUpdate
              - dropFolder.DropFolderContentProcessor
              - dropFolder.DropFolderWatcher
              - eventNotification.EventNotificationHandler
              - integration.Integration
              - reach.EntryVendorTasksCsv
              - reach.SyncReachCreditTask
              - scheduledTask.ScheduledTask
              - tagSearch.IndexTagsByPrivacyContext
              - tagSearch.TagResolve
              - virusScan.VirusScan
              - widevine.WidevineRepositorySync
              - '1'
              - '2'
              - '3'
              - '4'
              - '5'
              - '6'
              - '7'
              - '10'
              - '11'
              - '14'
              - '15'
              - '16'
              - '17'
              - '18'
              - '19'
              - '20'
              - '21'
              - '22'
              - '23'
              - '24'
              - '25'
              - '26'
              - '27'
              - '28'
              - '29'
              - '30'
              - '31'
              - '32'
              - '33'
              - '34'
              - '35'
              - '36'
              - '37'
              - '38'
              - '39'
              - '40'
              - '41'
              - '42'
              - '43'
              - '44'
              - '45'
              - '46'
              - '47'
              - '48'
              - '49'
              - '50'
              - '51'
              - '52'
              - '53'
              - '54'
              - '55'
              - '56'
              type: string
              x-enumLabels:
              - REACH_INTERNAL_QUEUE_HANDLER
              - CONVERT
              - CONVERT_CAPTION_ASSET
              - PARSE_MULTI_LANGUAGE_CAPTION_ASSET
              - PARSE_CAPTION_ASSET
              - DISTRIBUTION_DELETE
              - DISTRIBUTION_DISABLE
              - DISTRIBUTION_ENABLE
              - DISTRIBUTION_FETCH_REPORT
              - DISTRIBUTION_SUBMIT
              - DISTRIBUTION_SYNC
              - DISTRIBUTION_UPDATE
              - DROP_FOLDER_CONTENT_PROCESSOR
              - DROP_FOLDER_WATCHER
              - EVENT_NOTIFICATION_HANDLER
              - INTEGRATION
              - ENTRY_VENDOR_TASK_CSV
              - SYNC_REACH_CREDIT_TASK
              - SCHEDULED_TASK
              - INDEX_TAGS
              - TAG_RESOLVE
              - VIRUS_SCAN
              - WIDEVINE_REPOSITORY_SYNC
              - IMPORT
              - DELETE
              - FLATTEN
              - BULKUPLOAD
              - DVDCREATOR
              - DOWNLOAD
              - OOCONVERT
              - CONVERT_PROFILE
              - POSTCONVERT
              - EXTRACT_MEDIA
              - MAIL
              - NOTIFICATION
              - CLEANUP
              - SCHEDULER_HELPER
              - BULKDOWNLOAD
              - DB_CLEANUP
              - PROVISION_PROVIDE
              - CONVERT_COLLECTION
              - STORAGE_EXPORT
              - PROVISION_DELETE
              - STORAGE_DELETE
              - EMAIL_INGESTION
              - METADATA_IMPORT
              - METADATA_TRANSFORM
              - FILESYNC_IMPORT
              - CAPTURE_THUMB
              - DELETE_FILE
              - INDEX
              - MOVE_CATEGORY_ENTRIES
              - COPY
              - CONCAT
              - CONVERT_LIVE_SEGMENT
              - COPY_PARTNER
              - VALIDATE_LIVE_MEDIA_SERVERS
              - SYNC_CATEGORY_PRIVACY_CONTEXT
              - LIVE_REPORT_EXPORT
              - RECALCULATE_CACHE
              - LIVE_TO_VOD
              - COPY_CAPTIONS
              - CHUNKED_ENCODE_JOB_SCHEDULER
              - SERVER_NODE_MONITOR
              - USERS_CSV
              - CLIP_CONCAT
              - COPY_CUE_POINTS
              - EXPORT_CSV
              - REPORT_EXPORT
              - LIVE_ENTRY_ARCHIVE
              - STORAGE_UPDATE
              - STORAGE_PERIODIC_EXPORT
              - STORAGE_PERIODIC_PURGE
              - STORAGE_PERIODIC_DELETE_LOCAL
              - REACH_JOB_CLEANER
              x-enumType: KalturaBatchJobType
          required:
          - jobId
          - jobType
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
      - jobType
      - force
  /service/jobs/action/retryMail:
    post:
      description: batch retryMailAction retries and returns the status of mail task
      operationId: jobs.retryMail
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/retryNotification:
    post:
      description: batch retryNotificationAction retries and returns the status of notification task
      operationId: jobs.retryNotification
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/retryPostConvert:
    post:
      description: batch retryPostConvertAction retries and returns the status of post convert task
      operationId: jobs.retryPostConvert
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/retryProvisionDelete:
    post:
      description: batch retryProvisionDeleteAction retries and returns the status of ProvisionDelete task
      operationId: jobs.retryProvisionDelete
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/retryProvisionProvide:
    post:
      description: batch retryProvisionProvideAction retries and returns the status of ProvisionProvide task
      operationId: jobs.retryProvisionProvide
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/retryStorageDelete:
    post:
      description: batch retryStorageDeleteAction retries and returns the status of export task
      operationId: jobs.retryStorageDelete
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
  /service/jobs/action/retryStorageExport:
    post:
      description: batch retryStorageExportAction retries and returns the status of export task
      operationId: jobs.retryStorageExport
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            jobId:
              type: integer
          required:
          - jobId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaBatchJobResponse'
      tags:
      - jobs
      x-kaltura-format: post
      x-kaltura-parameters:
      - jobId
definitions:
  KalturaPushToNewsDistributionProfile:
    allOf:
    - $ref: '#/definitions/KalturaConfigurableDistributionProfile'
    properties:
      basePath:
        type: string
      bodyXslt:
        type: string
      certificateKey:
        type: string
      host:
        type: string
      ips:
        type: string
      namedItem:
        type: string
      password:
        type: string
        x-inputType: password
      port:
        type: integer
      protocol:
        description: '`insertOnly`


          Enum Type: `KalturaDistributionProtocol`'
        enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        - 10
        type: integer
        x-enumLabels:
        - FTP
        - SCP
        - SFTP
        - HTTP
        - HTTPS
        - ASPERA
        x-enumType: KalturaDistributionProtocol
      recentNewsTimeInterval:
        type: integer
      username:
        type: string
    title: KalturaPushToNewsDistributionProfile
    type: object
  KalturaBatchJobListResponse:
    allOf:
    - $ref: '#/definitions/KalturaListResponse'
    properties:
      objects:
        items:
          $ref: '#/definitions/KalturaBatchJob'
        type: array
    title: KalturaBatchJobListResponse
    type: object
  KalturaUverseDistributionProfile:
    allOf:
    - $ref: '#/definitions/KalturaConfigurableDistributionProfile'
    properties:
      channelCopyright:
        type: string
      channelDescription:
        type: string
      channelImageLink:
        type: string
      channelImageTitle:
        type: string
      channelImageUrl:
        type: string
      channelLanguage:
        type: string
      channelLink:
        type: string
      channelTitle:
        type: string
      feedUrl:
        description: '`readOnly`'
        readOnly: true
        type: string
      ftpHost:
        type: string
      ftpLogin:
        type: string
      ftpPassword:
        type: string
    title: KalturaUverseDistributionProfile
    type: object
  KalturaServerNode:
    anyOf:
    - $ref: '#/definitions/KalturaConferenceServerNode'
    - $ref: '#/definitions/KalturaSipServerNode'
    - $ref: '#/definitions/KalturaEdgeServerNode'
    - $ref: '#/definitions/KalturaLiveClusterMediaServerNode'
    - $ref: '#/definitions/KalturaWowzaMediaServerNode'
    description: '`abstract`'
    discriminator: objectType
    properties:
      createdAt:
        description: '`readOnly`'
        readOnly: true
        type: integer
      dc:
        description: '`readOnly`


          DC where the serverNode is located'
        readOnly: true
        type: integer
      description:
        type: string
      environment:
        description: Environment
        type: string
      heartbeatTime:
        description: '`readOnly`'
        readOnly: true
        type: integer
      hostName:
        description: serverNode hostName
        type: string
      id:
        description: '`readOnly`'
        readOnly: true
        type: integer
      name:
        description: serverNode name
        type: string
      objectType:
        enum:
        - KalturaConferenceServerNode
        - KalturaSipServerNode
        - KalturaEdgeServerNode
        - KalturaLiveClusterMediaServerNode
        - KalturaWowzaMediaServerNode
        type: string
      parentId:
        description: Id of the parent serverNode
        type: string
      partnerId:
        description: '`readOnly`'
        readOnly: true
        type: integer
      status:
        description: '`readOnly`


          Enum Type: `KalturaServerNodeStatus`'
        enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        readOnly: true
        type: integer
        x-enumLabels:
        - ACTIVE
        - DISABLED
        - DELETED
        - NOT_REGISTERED
        - NOT_OPERATIONAL
        x-enumType: KalturaServerNodeStatus
      systemName:
        description: serverNode uniqe system name
        type: string
      tags:
        description: serverNode tags
        type: string
      type:
        description: '`readOnly`


          Enum Type: `KalturaServerNodeType`'
        enum:
        - conference.CONFERENCE_SERVER
        - liveCluster.LIVE_CLUSTER_MEDIA_SERVER
        - sip.SIP_SERVER
        - wowza.WOWZA_MEDIA_SERVER
        - '1'
        readOnly: true
        type: string
        x-enumLabels:
        - CONFERENCE_SERVER
        - LIVE_CLUSTER_MEDIA_SERVER
        - SIP_SERVER
        - WOWZA_MEDIA_SERVER
        - EDGE
        x-enumType: KalturaServerNodeType
      updatedAt:
        description: '`readOnly`'
        readOnly: true
        type: integer
    title: KalturaServerNode
    type: object
    x-abstract: true
  KalturaIdeticDistributionProfileFilter:
    allOf:
    - $ref: '#/definitions/KalturaIdeticDistributionProfileBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +updatedAt
        - -createdAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaIdeticDistributionProfileOrderBy
    title: KalturaIdeticDistributionProfileFilter
    type: object
  KalturaQuizUserEntry:
    allOf:
    - $ref: '#/definitions/KalturaUserEntry'
    properties:
      calculatedScore:
        description: '`readOnly`'
        readOnly: true
        type: number
      feedback:
        type: string
      score:
        description: '`readOnly`'
        readOnly: true
        type: number
      version:
        description: '`readOnly`'
        readOnly: true
        type: integer
    title: KalturaQuizUserEntry
    type: object
  KalturaYahooDistributionProviderBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaDistributionProviderFilter'
    anyOf:
    - $ref: '#/definitions/KalturaYahooDistributionProviderFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaYahooDistributionProviderFilter
        type: string
    title: KalturaYahooDistributionProviderBaseFilter
    type: object
    x-abstract: true
  KalturaEmailNotificationUserRecipientJobData:
    allOf:
    - $ref: '#/definitions/KalturaEmailNotificationRecipientJobData'
    description: JobData representing the dynamic user receipient array
    properties:
      filter:
        $ref: '#/definitions/KalturaUserFilter'
    title: KalturaEmailNotificationUserRecipientJobData
    type: object
  KalturaPodcastDistributionProfileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaDistributionProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaPodcastDistributionProfileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaPodcastDistributionProfileFilter
        type: string
    title: KalturaPodcastDistributionProfileBaseFilter
    type: object
    x-abstract: true
  KalturaDrmProfile:
    anyOf:
    - $ref: '#/definitions/KalturaDrmProfile'
    - $ref: '#/definitions/KalturaFairplayDrmProfile'
    - $ref: '#/definitions/KalturaPlayReadyProfile'
    - $ref: '#/definitions/KalturaWidevineProfile'
    discriminator: objectType
    properties:
      createdAt:
        description: '`readOnly`'
        readOnly: true
        type: integer
      defaultPolicy:
        type: string
      description:
        type: string
      id:
        description: '`readOnly`'
        readOnly: true
        type: integer
      licenseServerUrl:
        type: string
      name:
        type: string
      objectType:
        enum:
        - KalturaDrmProfile
        - KalturaFairplayDrmProfile
        - KalturaPlayReadyProfile
        - KalturaWidevineProfile
        type: string
      partnerId:
        description: '`insertOnly`'
        type: integer
      provider:
        description: 'Enum Type: `KalturaDrmProviderType`'
        enum:
        - fairplay.FAIRPLAY
        - playReady.PLAY_READY
        - widevine.WIDEVINE
        - '1'
        type: string
        x-enumLabels:
        - FAIRPLAY
        - PLAY_READY
        - WIDEVINE
        - CENC
        x-enumType: KalturaDrmProviderType
      signingKey:
        type: string
      status:
        description: 'Enum Type: `KalturaDrmProfileStatus`'
        enum:
        - 1
        - 2
        type: integer
        x-enumLabels:
        - ACTIVE
        - DELETED
        x-enumType: KalturaDrmProfileStatus
      updatedAt:
        description: '`readOnly`'
        readOnly: true
        type: integer
    title: KalturaDrmProfile
    type: object
  KalturaStorageProfile:
    anyOf:
    - $ref: '#/definitions/KalturaStorageProfile'
    - $ref: '#/definitions/KalturaAmazonS3StorageProfile'
    - $ref: '#/definitions/KalturaKontikiStorageProfile'
    discriminator: objectType
    properties:
      allowAutoDelete:
        description: Flag sugnifying that the storage exported content should be deleted when soure entry is deleted
        type: integer
      createFileLink:
        description: Indicates to the local file transfer manager to create a link to the file instead of copying it
        type: boolean
      createdAt:
        description: '`readOnly`'
        readOnly: true
        type: integer
      deliveryPriority:
        description: Delivery Priority
        type: integer
      deliveryProfileIds:
        items:
          $ref: '#/definitions/KalturaKeyValue'
        type: array
      deliveryStatus:
        description: 'Enum Type: `KalturaStorageProfileDeliveryStatus`'
        enum:
        - 1
        - 2
        type: integer
        x-enumLabels:
        - ACTIVE
        - BLOCKED
        x-enumType: KalturaStorageProfileDeliveryStatus
      desciption:
        type: string
      excludedEntryTypes:
        type: string
      excludedFlavorParamsIds:
        type: string
      exportPeriodically:
        type: boolean
      flavorParamsIds:
        type: string
      id:
        description: '`readOnly`'
        readOnly: true
        type: integer
      maxConcurrentConnections:
        type: integer
      maxFileSize:
        type: integer
      minFileSize:
        type: integer
      name:
        type: string
      objectType:
        enum:
        - KalturaStorageProfile
        - KalturaAmazonS3StorageProfile
        - KalturaKontikiStorageProfile
        type: string
      packagerUrl:
        type: string
      partnerId:
        description: '`readOnly`'
        readOnly: true
        type: integer
      passPhrase:
        type: string
      pathManagerClass:
        type: string
      pathManagerParams:
        items:
          $ref: '#/definitions/KalturaKeyValue'
        type: array
      pathPrefix:
        type: string
      port:
        type: integer
      privateKey:
        type: string
      protocol:
        description: 'Enum Type: `KalturaStorageProfileProtocol`'
        enum:
        - kontiki.KONTIKI
        - '0'
        - '1'
        - '2'
        - '3'
        - '6'
        - '7'
        type: string
        x-enumLabels:
        - KONTIKI
        - KALTURA_DC
        - FTP
        - SCP
        - SFTP
        - S3
        - LOCAL
        x-enumType: KalturaStorageProfileProtocol
      publicKey:
        type: string
      readyBehavior:
        description: 'Enum Type: `KalturaStorageProfileReadyBehavior`'
        enum:
        - 0
        - 1
        type: integer
        x-enumLabels:
        - NO_IMPACT
        - REQUIRED
        x-enumType: KalturaStorageProfileReadyBehavior
      rules:
        items:
          $ref: '#/definitions/KalturaRule'
        type: array
      shouldExportCaptions:
        type: boolean
      shouldExportThumbs:
        type: boolean
      status:
        description: 'Enum Type: `KalturaStorageProfileStatus`'
        enum:
        - 1
        - 2
        - 3
        type: integer
        x-enumLabels:
        - DISABLED
        - AUTOMATIC
        - MANUAL
        x-enumType: KalturaStorageProfileStatus
      storageBaseDir:
        type: string
      storageFtpPassiveMode:
        type: boolean
      storagePassword:
        type: string
      storageUrl:
        type: string
      storageUsername:
        type: string
      systemName:
        type: string
      trigger:
        description: No need to create enum for temp field
        type: integer
      updatedAt:
        description: '`readOnly`'
        readOnly: true
        type: integer
    title: KalturaStorageProfile
    type: object
  KalturaEntryVendorTaskCsvJobData:
    allOf:
    - $ref: '#/definitions/KalturaExportCsvJobData'
    properties:
      filter:
        $ref: '#/definitions/KalturaEntryVendorTaskFilter'
    title: KalturaEntryVendorTaskCsvJobData
    type: object
  KalturaUserLoginDataListResponse:
    allOf:
    - $ref: '#/definitions/KalturaListResponse'
    properties:
      objects:
        items:
          $ref: '#/definitions/KalturaUserLoginData'
        type: array
    title: KalturaUserLoginDataListResponse
    type: object
  KalturaMsnDistributionProfileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaConfigurableDistributionProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaMsnDistributionProfileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaMsnDistributionProfileFilter
        type: string
    title: KalturaMsnDistributionProfileBaseFilter
    type: object
    x-abstract: true
  KalturaUrlTokenizerCht:
    allOf:
    - $ref: '#/definitions/KalturaUrlTokenizer'
    properties: {}
    title: KalturaUrlTokenizerCht
    type: object
  KalturaFtpDropFolderBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaRemoteDropFolderFilter'
    anyOf:
    - $ref: '#/definitions/KalturaFtpDropFolderFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaFtpDropFolderFilter
        type: string
    title: KalturaFtpDropFolderBaseFilter
    type: object
    x-abstract: true
  KalturaAttUverseDistributionFile:
    properties:
      assetId:
        type: string
      assetType:
        description: 'Enum Type: `KalturaAssetType`'
        enum:
        - attachment.Attachment
        - caption.Caption
        - document.Document
        - document.Image
        - document.PDF
        - document.SWF
        - thumbCuePoint.timedThumb
        - transcript.Transcript
        - widevine.WidevineFlavor
        - '1'
        - '2'
        - '3'
        type: string
        x-enumLabels:
        - ATTACHMENT
        - CAPTION
        - DOCUMENT
        - IMAGE
        - PDF
        - SWF
        - TIMED_THUMB_ASSET
        - TRANSCRIPT
        - WIDEVINE_FLAVOR
        - FLAVOR
        - THUMBNAIL
        - LIVE
        x-enumType: KalturaAssetType
      localFilePath:
        type: string
      remoteFilename:
        type: string
    title: KalturaAttUverseDistributionFile
    type: object
  KalturaString:
    description: A string representation to return an array of strings
    properties:
      value:
        type: string
    title: KalturaString
    type: object
  KalturaDistributionProviderListResponse:
    allOf:
    - $ref: '#/definitions/KalturaListResponse'
    properties:
      objects:
        items:
          $ref: '#/definitions/KalturaDistributionProvider'
        type: array
    title: KalturaDistributionProviderListResponse
    type: object
  KalturaFreewheelDistributionProfileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaDistributionProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaFreewheelDistributionProfileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaFreewheelDistributionProfileFilter
        type: string
    title: KalturaFreewheelDistributionProfileBaseFilter
    type: object
    x-abstract: true
  KalturaScheduleEventResourceListResponse:
    allOf:
    - $ref: '#/definitions/KalturaListResponse'
    properties:
      objects:
        items:
          $ref: '#/definitions/KalturaScheduleEventResource'
        type: array
    title: KalturaScheduleEventResourceListResponse
    type: object
  KalturaThumbAssetFilter:
    allOf:
    - $ref: '#/definitions/KalturaThumbAssetBaseFilter'
    anyOf:
    - $ref: '#/definitions/KalturaThumbAssetFilter'
    - $ref: '#/definitions/KalturaTimedThumbAssetFilter'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaThumbAssetFilter
        - KalturaTimedThumbAssetFilter
        type: string
      orderBy:
        enum:
        - +createdAt
        - +deletedAt
        - +size
        - +updatedAt
        - -createdAt
        - -deletedAt
        - -size
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - DELETED_AT_ASC
        - SIZE_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - DELETED_AT_DESC
        - SIZE_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaThumbAssetOrderBy
    title: KalturaThumbAssetFilter
    type: object
  KalturaPermissionItem:
    anyOf:
    - $ref: '#/definitions/KalturaApiActionPermissionItem'
    - $ref: '#/definitions/KalturaApiParameterPermissionItem'
    description: '`abstract`'
    discriminator: objectType
    properties:
      createdAt:
        description: '`readOnly`'
        readOnly: true
        type: integer
      id:
        description: '`readOnly`'
        readOnly: true
        type: integer
      objectType:
        enum:
        - KalturaApiActionPermissionItem
        - KalturaApiParameterPermissionItem
        type: string
      partnerId:
        description: '`readOnly`'
        readOnly: true
        type: integer
      tags:
        type: string
      type:
        description: '`readOnly`


          Enum Type: `KalturaPermissionItemType`'
        enum:
        - kApiActionPermissionItem
        - kApiParameterPermissionItem
        readOnly: true
        type: string
        x-enumLabels:
        - API_ACTION_ITEM
        - API_PARAMETER_ITEM
        x-enumType: KalturaPermissionItemType
      updatedAt:
        description: '`readOnly`'
        readOnly: true
        type: integer
    title: KalturaPermissionItem
    type: object
    x-abstract: true
  KalturaVendorChapteringCatalogItem:
    allOf:
    - $ref: '#/definitions/KalturaVendorCatalogItem'
    properties: {}
    title: KalturaVendorChapteringCatalogItem
    type: object
  KalturaDeliveryProfileForensicWatermark:
    allOf:
    - $ref: '#/definitions/KalturaDeliveryProfile'
    properties:
      encryptionIv:
        description: The iv used to encrypt the URI (128 bits)
        type: string
      encryptionKey:
        description: The key used to encrypt the URI (256 bits)
        type: string
      encryptionRegex:
        description: The regex used to match the encrypted part of the URI (according to the 'encrypt' named group)
        type: string
      internalUrl:
        items:
          $ref: '#/definitions/KalturaKeyValue'
        type: array
    title: KalturaDeliveryProfileForensicWatermark
    type: object
  KalturaAssetParamsOutput:
    allOf:
    - $ref: '#/definitions/KalturaAssetParams'
    properties:
      assetId:
        type: string
      assetParamsId:
        type: integer
      assetParamsVersion:
        type: string
      assetVersion:
        type: string
      format:
        description: 'Enum Type: `KalturaContainerFormat`


          The container format of the Flavor Params'
        enum:
        - 3gp
        - applehttp
        - avi
        - bif
        - bmp
        - copy
        - flv
        - hls
        - isma
        - ismv
        - jpg
        - m2ts
        - m4v
        - mkv
        - mov
        - mp3
        - mp4
        - mpeg
        - mpegts
        - mxf
        - ogg
        - ogv
        - pdf
        - png
        - swf
        - wav
        - webm
        - wma
        - wmv
        - wvm
        type: string
        x-enumLabels:
        - _3GP
        - APPLEHTTP
        - AVI
        - BIF
        - BMP
        - COPY
        - FLV
        - HLS
        - ISMA
        - ISMV
        - JPG
        - M2TS
        - M4V
        - MKV
        - MOV
        - MP3
        - MP4
        - MPEG
        - MPEGTS
        - MXF
        - OGG
        - OGV
        - PDF
        - PNG
        - SWF
        - WAV
        - WEBM
        - WMA
        - WMV
        - WVM
        x-enumType: KalturaContainerFormat
      readyBehavior:
        type: integer
    title: KalturaAssetParamsOutput
    type: object
  KalturaTVComDistributionProfileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaConfigurableDistributionProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaTVComDistributionProfileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaTVComDistributionProfileFilter
        type: string
    title: KalturaTVComDistributionProfileBaseFilter
    type: object
    x-abstract: true
  KalturaUnlimitedVendorCredit:
    allOf:
    - $ref: '#/definitions/KalturaBaseVendorCredit'
    properties:
      credit:
        description: '`readOnly`'
        readOnly: true
        type: integer
      fromDate:
        type: integer
        x-inputType: datetime
    title: KalturaUnlimitedVendorCredit
    type: object
  KalturaThumbAssetListResponse:
    allOf:
    - $ref: '#/definitions/KalturaListResponse'
    properties:
      objects:
        items:
          $ref: '#/definitions/KalturaThumbAsset'
        type: array
    title: KalturaThumbAssetListResponse
    type: object
  KalturaSearchItem:
    anyOf:
    - $ref: '#/definitions/KalturaCatalogItemAdvancedFilter'
    - $ref: '#/definitions/KalturaCategoryEntryAdvancedFilter'
    - $ref: '#/definitions/KalturaCategoryUserAdvancedFilter'
    - $ref: '#/definitions/KalturaContentDistributionSearchItem'
    - $ref: '#/definitions/KalturaEntryCaptionAdvancedFilter'
    - $ref: '#/definitions/KalturaEntryCaptionAssetSearchItem'
    - $ref: '#/definitions/KalturaEntryCuePointSearchFilter'
    - $ref: '#/definitions/KalturaEntryTranscriptAssetSearchItem'
    - $ref: '#/definitions/KalturaForensicWatermarkAdvancedFilter'
    - $ref: '#/definitions/KalturaIndexAdvancedFilter'
    - $ref: '#/definitions/KalturaQuizAdvancedFilter'
    - $ref: '#/definitions/KalturaSearchCondition'
    - $ref: '#/definitions/KalturaSearchOperator'
    - $ref: '#/definitions/KalturaViewHistoryUserEntryAdvancedFilter'
    - $ref: '#/definitions/KalturaWatchLaterUserEntryAdvancedFilter'
    - $ref: '#/definitions/KalturaBaseEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaDataEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaDocumentEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaExternalMediaEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveChannelCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveStreamAdminEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveStreamEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaMediaEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaMixEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaPlayableEntryCompareAttributeCondition'
[...]
