swagger: '2.0'
info:
  description: The Kaltura OTT API
  title: Kaltura OTT accessControl volatileInteractivity API
  version: 3.6.287.20720
host: tvpapi-us-preprod.ott.kaltura.com
basePath: /api_v3
schemes:
- https
- http
produces:
- application/json
- text/xml
security:
- ks: []
tags:
- name: volatileInteractivity
  x-plugin: interactivity
paths:
  /service/interactivity_volatileinteractivity/action/add:
    post:
      description: add a volatile interactivity object
      operationId: volatileInteractivity.add
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            entryId:
              type: string
            kalturaVolatileInteractivity:
              $ref: '#/definitions/KalturaVolatileInteractivity'
          required:
          - entryId
          - kalturaVolatileInteractivity
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaVolatileInteractivity'
      tags:
      - volatileInteractivity
      x-kaltura-format: post
      x-kaltura-parameters:
      - entryId
      - kalturaVolatileInteractivity
  /service/interactivity_volatileinteractivity/action/delete:
    post:
      description: Delete a volatile interactivity object by entry id
      operationId: volatileInteractivity.delete
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            entryId:
              type: string
          required:
          - entryId
          type: object
      responses:
        '200':
          description: Success
      tags:
      - volatileInteractivity
      x-kaltura-format: post
      x-kaltura-parameters:
      - entryId
  /service/interactivity_volatileinteractivity/action/get:
    post:
      description: Retrieve a volatile interactivity object by entry id
      operationId: volatileInteractivity.get
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            entryId:
              type: string
          required:
          - entryId
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaVolatileInteractivity'
      tags:
      - volatileInteractivity
      x-kaltura-format: post
      x-kaltura-parameters:
      - entryId
  /service/interactivity_volatileinteractivity/action/update:
    post:
      description: Update a volatile interactivity object
      operationId: volatileInteractivity.update
      parameters:
      - $ref: '#/parameters/ks'
      - $ref: '#/parameters/format'
      - $ref: '#/parameters/clientTag'
      - $ref: '#/parameters/partnerId'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/responseProfile'
      - in: body
        name: body
        schema:
          properties:
            entryId:
              type: string
            kalturaVolatileInteractivity:
              $ref: '#/definitions/KalturaVolatileInteractivity'
            version:
              type: integer
          required:
          - entryId
          - version
          - kalturaVolatileInteractivity
          type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KalturaVolatileInteractivity'
      tags:
      - volatileInteractivity
      x-kaltura-format: post
      x-kaltura-parameters:
      - entryId
      - version
      - kalturaVolatileInteractivity
definitions:
  KalturaDistributionProviderFilter:
    allOf:
    - $ref: '#/definitions/KalturaDistributionProviderBaseFilter'
    anyOf:
    - $ref: '#/definitions/KalturaDistributionProviderFilter'
    - $ref: '#/definitions/KalturaAttUverseDistributionProviderFilter'
    - $ref: '#/definitions/KalturaAvnDistributionProviderFilter'
    - $ref: '#/definitions/KalturaComcastMrssDistributionProviderFilter'
    - $ref: '#/definitions/KalturaCortexApiDistributionProviderFilter'
    - $ref: '#/definitions/KalturaCrossKalturaDistributionProviderFilter'
    - $ref: '#/definitions/KalturaDailymotionDistributionProviderFilter'
    - $ref: '#/definitions/KalturaDoubleClickDistributionProviderFilter'
    - $ref: '#/definitions/KalturaFacebookDistributionProviderFilter'
    - $ref: '#/definitions/KalturaFreewheelDistributionProviderFilter'
    - $ref: '#/definitions/KalturaFreewheelGenericDistributionProviderFilter'
    - $ref: '#/definitions/KalturaFtpDistributionProviderFilter'
    - $ref: '#/definitions/KalturaFtpScheduledDistributionProviderFilter'
    - $ref: '#/definitions/KalturaGenericDistributionProviderFilter'
    - $ref: '#/definitions/KalturaHuluDistributionProviderFilter'
    - $ref: '#/definitions/KalturaIdeticDistributionProviderFilter'
    - $ref: '#/definitions/KalturaMetroPcsDistributionProviderFilter'
    - $ref: '#/definitions/KalturaMsnDistributionProviderFilter'
    - $ref: '#/definitions/KalturaNdnDistributionProviderFilter'
    - $ref: '#/definitions/KalturaPodcastDistributionProviderFilter'
    - $ref: '#/definitions/KalturaQuickPlayDistributionProviderFilter'
    - $ref: '#/definitions/KalturaSynacorHboDistributionProviderFilter'
    - $ref: '#/definitions/KalturaSyndicationDistributionProviderFilter'
    - $ref: '#/definitions/KalturaTVComDistributionProviderFilter'
    - $ref: '#/definitions/KalturaTimeWarnerDistributionProviderFilter'
    - $ref: '#/definitions/KalturaTvinciDistributionProviderFilter'
    - $ref: '#/definitions/KalturaUnicornDistributionProviderFilter'
    - $ref: '#/definitions/KalturaUverseClickToOrderDistributionProviderFilter'
    - $ref: '#/definitions/KalturaUverseDistributionProviderFilter'
    - $ref: '#/definitions/KalturaVerizonVcastDistributionProviderFilter'
    - $ref: '#/definitions/KalturaYahooDistributionProviderFilter'
    - $ref: '#/definitions/KalturaYouTubeDistributionProviderFilter'
    - $ref: '#/definitions/KalturaYoutubeApiDistributionProviderFilter'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaDistributionProviderFilter
        - KalturaAttUverseDistributionProviderFilter
        - KalturaAvnDistributionProviderFilter
        - KalturaComcastMrssDistributionProviderFilter
        - KalturaCortexApiDistributionProviderFilter
        - KalturaCrossKalturaDistributionProviderFilter
        - KalturaDailymotionDistributionProviderFilter
        - KalturaDoubleClickDistributionProviderFilter
        - KalturaFacebookDistributionProviderFilter
        - KalturaFreewheelDistributionProviderFilter
        - KalturaFreewheelGenericDistributionProviderFilter
        - KalturaFtpDistributionProviderFilter
        - KalturaFtpScheduledDistributionProviderFilter
        - KalturaGenericDistributionProviderFilter
        - KalturaHuluDistributionProviderFilter
        - KalturaIdeticDistributionProviderFilter
        - KalturaMetroPcsDistributionProviderFilter
        - KalturaMsnDistributionProviderFilter
        - KalturaNdnDistributionProviderFilter
        - KalturaPodcastDistributionProviderFilter
        - KalturaQuickPlayDistributionProviderFilter
        - KalturaSynacorHboDistributionProviderFilter
        - KalturaSyndicationDistributionProviderFilter
        - KalturaTVComDistributionProviderFilter
        - KalturaTimeWarnerDistributionProviderFilter
        - KalturaTvinciDistributionProviderFilter
        - KalturaUnicornDistributionProviderFilter
        - KalturaUverseClickToOrderDistributionProviderFilter
        - KalturaUverseDistributionProviderFilter
        - KalturaVerizonVcastDistributionProviderFilter
        - KalturaYahooDistributionProviderFilter
        - KalturaYouTubeDistributionProviderFilter
        - KalturaYoutubeApiDistributionProviderFilter
        type: string
      orderBy:
        type: string
        x-enumLabels: []
        x-enumType: KalturaDistributionProviderOrderBy
    title: KalturaDistributionProviderFilter
    type: object
  KalturaYouTubeDistributionProviderBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaDistributionProviderFilter'
    anyOf:
    - $ref: '#/definitions/KalturaYouTubeDistributionProviderFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaYouTubeDistributionProviderFilter
        type: string
    title: KalturaYouTubeDistributionProviderBaseFilter
    type: object
    x-abstract: true
  KalturaShortLinkFilter:
    allOf:
    - $ref: '#/definitions/KalturaShortLinkBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +expiresAt
        - +updatedAt
        - -createdAt
        - -expiresAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - EXPIRES_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - EXPIRES_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaShortLinkOrderBy
    title: KalturaShortLinkFilter
    type: object
  KalturaIdeticDistributionProfileFilter:
    allOf:
    - $ref: '#/definitions/KalturaIdeticDistributionProfileBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +updatedAt
        - -createdAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaIdeticDistributionProfileOrderBy
    title: KalturaIdeticDistributionProfileFilter
    type: object
  KalturaCameraScheduleResourceBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaScheduleResourceFilter'
    anyOf:
    - $ref: '#/definitions/KalturaCameraScheduleResourceFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaCameraScheduleResourceFilter
        type: string
    title: KalturaCameraScheduleResourceBaseFilter
    type: object
    x-abstract: true
  KalturaUverseDistributionProfileFilter:
    allOf:
    - $ref: '#/definitions/KalturaUverseDistributionProfileBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +updatedAt
        - -createdAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaUverseDistributionProfileOrderBy
    title: KalturaUverseDistributionProfileFilter
    type: object
  KalturaYahooDistributionProviderBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaDistributionProviderFilter'
    anyOf:
    - $ref: '#/definitions/KalturaYahooDistributionProviderFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaYahooDistributionProviderFilter
        type: string
    title: KalturaYahooDistributionProviderBaseFilter
    type: object
    x-abstract: true
  KalturaPodcastDistributionProfileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaDistributionProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaPodcastDistributionProfileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaPodcastDistributionProfileFilter
        type: string
    title: KalturaPodcastDistributionProfileBaseFilter
    type: object
    x-abstract: true
  KalturaFreewheelGenericDistributionProviderFilter:
    allOf:
    - $ref: '#/definitions/KalturaFreewheelGenericDistributionProviderBaseFilter'
    properties:
      orderBy:
        type: string
        x-enumLabels: []
        x-enumType: KalturaFreewheelGenericDistributionProviderOrderBy
    title: KalturaFreewheelGenericDistributionProviderFilter
    type: object
  KalturaQuizUserEntryBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaUserEntryFilter'
    anyOf:
    - $ref: '#/definitions/KalturaQuizUserEntryFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaQuizUserEntryFilter
        type: string
    title: KalturaQuizUserEntryBaseFilter
    type: object
    x-abstract: true
  KalturaVerizonVcastDistributionProfileFilter:
    allOf:
    - $ref: '#/definitions/KalturaVerizonVcastDistributionProfileBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +updatedAt
        - -createdAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaVerizonVcastDistributionProfileOrderBy
    title: KalturaVerizonVcastDistributionProfileFilter
    type: object
  KalturaDeliveryProfileAkamaiHdsFilter:
    allOf:
    - $ref: '#/definitions/KalturaDeliveryProfileAkamaiHdsBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +updatedAt
        - -createdAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaDeliveryProfileAkamaiHdsOrderBy
    title: KalturaDeliveryProfileAkamaiHdsFilter
    type: object
  KalturaQuestionCuePointFilter:
    allOf:
    - $ref: '#/definitions/KalturaQuestionCuePointBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +intId
        - +partnerSortValue
        - +startTime
        - +triggeredAt
        - +updatedAt
        - -createdAt
        - -intId
        - -partnerSortValue
        - -startTime
        - -triggeredAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - INT_ID_ASC
        - PARTNER_SORT_VALUE_ASC
        - START_TIME_ASC
        - TRIGGERED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - INT_ID_DESC
        - PARTNER_SORT_VALUE_DESC
        - START_TIME_DESC
        - TRIGGERED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaQuestionCuePointOrderBy
    title: KalturaQuestionCuePointFilter
    type: object
  KalturaAvnDistributionProviderFilter:
    allOf:
    - $ref: '#/definitions/KalturaAvnDistributionProviderBaseFilter'
    properties:
      orderBy:
        type: string
        x-enumLabels: []
        x-enumType: KalturaAvnDistributionProviderOrderBy
    title: KalturaAvnDistributionProviderFilter
    type: object
  KalturaPlayableEntryCompareAttributeCondition:
    allOf:
    - $ref: '#/definitions/KalturaSearchComparableAttributeCondition'
    description: "Auto-generated class.\n Used to search KalturaPlayableEntry attributes. Use KalturaPlayableEntryCompareAttribute enum to provide attribute name.\n/"
    properties:
      attribute:
        description: 'Enum Type: `KalturaPlayableEntryCompareAttribute`'
        enum:
        - accessControlId
        - createdAt
        - endDate
        - lastPlayedAt
        - moderationCount
        - moderationStatus
        - msDuration
        - partnerId
        - partnerSortValue
        - plays
        - rank
        - replacementStatus
        - startDate
        - status
        - totalRank
        - type
        - updatedAt
        - views
        type: string
        x-enumLabels:
        - ACCESS_CONTROL_ID
        - CREATED_AT
        - END_DATE
        - LAST_PLAYED_AT
        - MODERATION_COUNT
        - MODERATION_STATUS
        - MS_DURATION
        - PARTNER_ID
        - PARTNER_SORT_VALUE
        - PLAYS
        - RANK
        - REPLACEMENT_STATUS
        - START_DATE
        - STATUS
        - TOTAL_RANK
        - TYPE
        - UPDATED_AT
        - VIEWS
        x-enumType: KalturaPlayableEntryCompareAttribute
    title: KalturaPlayableEntryCompareAttributeCondition
    type: object
  KalturaIndexAdvancedFilter:
    allOf:
    - $ref: '#/definitions/KalturaSearchItem'
    anyOf:
    - $ref: '#/definitions/KalturaIndexAdvancedFilter'
    - $ref: '#/definitions/KalturaEntryIndexAdvancedFilter'
    discriminator: objectType
    properties:
      depthGreaterThanEqual:
        type: integer
      indexIdGreaterThan:
        type: integer
      objectType:
        enum:
        - KalturaIndexAdvancedFilter
        - KalturaEntryIndexAdvancedFilter
        type: string
    title: KalturaIndexAdvancedFilter
    type: object
  KalturaImageFlavorParamsOutputBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaFlavorParamsOutputFilter'
    anyOf:
    - $ref: '#/definitions/KalturaImageFlavorParamsOutputFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaImageFlavorParamsOutputFilter
        type: string
    title: KalturaImageFlavorParamsOutputBaseFilter
    type: object
    x-abstract: true
  KalturaFileSyncBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaFilter'
    anyOf:
    - $ref: '#/definitions/KalturaFileSyncFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      createdAtGreaterThanOrEqual:
        type: integer
      createdAtLessThanOrEqual:
        type: integer
      dcEqual:
        type: string
      dcIn:
        type: string
      fileObjectTypeEqual:
        description: 'Enum Type: `KalturaFileSyncObjectType`'
        enum:
        - contentDistribution.DistributionProfile
        - contentDistribution.EntryDistribution
        - contentDistribution.GenericDistributionAction
        - emailNotification.EmailNotificationTemplate
        - httpNotification.HttpNotificationTemplate
        - '1'
        - '2'
        - '3'
        - '4'
        - '5'
        - '6'
        - '7'
        - '8'
        - '9'
        type: string
        x-enumLabels:
        - DISTRIBUTION_PROFILE
        - ENTRY_DISTRIBUTION
        - GENERIC_DISTRIBUTION_ACTION
        - EMAIL_NOTIFICATION_TEMPLATE
        - HTTP_NOTIFICATION_TEMPLATE
        - ENTRY
        - UICONF
        - BATCHJOB
        - ASSET
        - METADATA
        - METADATA_PROFILE
        - SYNDICATION_FEED
        - CONVERSION_PROFILE
        - FILE_ASSET
        x-enumType: KalturaFileSyncObjectType
      fileObjectTypeIn:
        type: string
      fileSizeGreaterThanOrEqual:
        type: number
      fileSizeLessThanOrEqual:
        type: number
      fileTypeEqual:
        description: 'Enum Type: `KalturaFileSyncType`'
        enum:
        - 1
        - 2
        - 3
        type: integer
        x-enumLabels:
        - FILE
        - LINK
        - URL
        x-enumType: KalturaFileSyncType
      fileTypeIn:
        type: string
      linkCountGreaterThanOrEqual:
        type: integer
      linkCountLessThanOrEqual:
        type: integer
      linkedIdEqual:
        type: integer
      objectIdEqual:
        type: string
      objectIdIn:
        type: string
      objectSubTypeEqual:
        type: integer
      objectSubTypeIn:
        type: string
      objectType:
        enum:
        - KalturaFileSyncFilter
        type: string
      originalEqual:
        type: integer
      partnerIdEqual:
        type: integer
      readyAtGreaterThanOrEqual:
        type: integer
      readyAtLessThanOrEqual:
        type: integer
      statusEqual:
        description: 'Enum Type: `KalturaFileSyncStatus`'
        enum:
        - -1
        - 1
        - 2
        - 3
        - 4
        type: integer
        x-enumLabels:
        - ERROR
        - PENDING
        - READY
        - DELETED
        - PURGED
        x-enumType: KalturaFileSyncStatus
      statusIn:
        type: string
      syncTimeGreaterThanOrEqual:
        type: integer
      syncTimeLessThanOrEqual:
        type: integer
      updatedAtGreaterThanOrEqual:
        type: integer
      updatedAtLessThanOrEqual:
        type: integer
      versionEqual:
        type: string
      versionIn:
        type: string
    title: KalturaFileSyncBaseFilter
    type: object
    x-abstract: true
  KalturaFreewheelGenericDistributionProfileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaConfigurableDistributionProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaFreewheelGenericDistributionProfileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaFreewheelGenericDistributionProfileFilter
        type: string
    title: KalturaFreewheelGenericDistributionProfileBaseFilter
    type: object
    x-abstract: true
  KalturaWidevineFlavorParamsBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaFlavorParamsFilter'
    anyOf:
    - $ref: '#/definitions/KalturaWidevineFlavorParamsFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaWidevineFlavorParamsFilter
        type: string
    title: KalturaWidevineFlavorParamsBaseFilter
    type: object
    x-abstract: true
  KalturaUverseDistributionProviderFilter:
    allOf:
    - $ref: '#/definitions/KalturaUverseDistributionProviderBaseFilter'
    properties:
      orderBy:
        type: string
        x-enumLabels: []
        x-enumType: KalturaUverseDistributionProviderOrderBy
    title: KalturaUverseDistributionProviderFilter
    type: object
  KalturaMsnDistributionProfileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaConfigurableDistributionProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaMsnDistributionProfileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaMsnDistributionProfileFilter
        type: string
    title: KalturaMsnDistributionProfileBaseFilter
    type: object
    x-abstract: true
  KalturaSearchComparableAttributeCondition:
    allOf:
    - $ref: '#/definitions/KalturaAttributeCondition'
    anyOf:
    - $ref: '#/definitions/KalturaBaseEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaDataEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaDocumentEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaExternalMediaEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveChannelCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveStreamAdminEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveStreamEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaMediaEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaMixEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaPlayableEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaPlaylistCompareAttributeCondition'
    description: '`abstract`'
    discriminator: objectType
    properties:
      comparison:
        description: 'Enum Type: `KalturaSearchConditionComparison`'
        enum:
        - '1'
        - '2'
        - '3'
        - '4'
        - '5'
        - '6'
        type: string
        x-enumLabels:
        - EQUAL
        - GREATER_THAN
        - GREATER_THAN_OR_EQUAL
        - LESS_THAN
        - LESS_THAN_OR_EQUAL
        - NOT_EQUAL
        x-enumType: KalturaSearchConditionComparison
      objectType:
        enum:
        - KalturaBaseEntryCompareAttributeCondition
        - KalturaDataEntryCompareAttributeCondition
        - KalturaDocumentEntryCompareAttributeCondition
        - KalturaExternalMediaEntryCompareAttributeCondition
        - KalturaLiveChannelCompareAttributeCondition
        - KalturaLiveEntryCompareAttributeCondition
        - KalturaLiveStreamAdminEntryCompareAttributeCondition
        - KalturaLiveStreamEntryCompareAttributeCondition
        - KalturaMediaEntryCompareAttributeCondition
        - KalturaMixEntryCompareAttributeCondition
        - KalturaPlayableEntryCompareAttributeCondition
        - KalturaPlaylistCompareAttributeCondition
        type: string
    title: KalturaSearchComparableAttributeCondition
    type: object
    x-abstract: true
  KalturaDynamicObjectSearchItem:
    allOf:
    - $ref: '#/definitions/KalturaSearchOperator'
    properties:
      field:
        type: string
    title: KalturaDynamicObjectSearchItem
    type: object
  KalturaYahooDistributionProviderFilter:
    allOf:
    - $ref: '#/definitions/KalturaYahooDistributionProviderBaseFilter'
    properties:
      orderBy:
        type: string
        x-enumLabels: []
        x-enumType: KalturaYahooDistributionProviderOrderBy
    title: KalturaYahooDistributionProviderFilter
    type: object
  KalturaLiveStreamScheduleEventBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaEntryScheduleEventFilter'
    anyOf:
    - $ref: '#/definitions/KalturaLiveStreamScheduleEventFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaLiveStreamScheduleEventFilter
        type: string
    title: KalturaLiveStreamScheduleEventBaseFilter
    type: object
    x-abstract: true
  KalturaAnswerCuePointFilter:
    allOf:
    - $ref: '#/definitions/KalturaAnswerCuePointBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +intId
        - +partnerSortValue
        - +startTime
        - +triggeredAt
        - +updatedAt
        - -createdAt
        - -intId
        - -partnerSortValue
        - -startTime
        - -triggeredAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - INT_ID_ASC
        - PARTNER_SORT_VALUE_ASC
        - START_TIME_ASC
        - TRIGGERED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - INT_ID_DESC
        - PARTNER_SORT_VALUE_DESC
        - START_TIME_DESC
        - TRIGGERED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaAnswerCuePointOrderBy
    title: KalturaAnswerCuePointFilter
    type: object
  KalturaBusinessProcessServerBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaFilter'
    anyOf:
    - $ref: '#/definitions/KalturaBusinessProcessServerFilter'
    - $ref: '#/definitions/KalturaActivitiBusinessProcessServerFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      createdAtGreaterThanOrEqual:
        type: integer
      createdAtLessThanOrEqual:
        type: integer
      dcEqOrNull:
        type: integer
      dcEqual:
        type: integer
      idEqual:
        type: integer
      idIn:
        type: string
      idNotIn:
        type: string
      objectType:
        enum:
        - KalturaBusinessProcessServerFilter
        - KalturaActivitiBusinessProcessServerFilter
        type: string
      partnerIdEqual:
        type: integer
      partnerIdIn:
        type: string
      statusEqual:
        description: 'Enum Type: `KalturaBusinessProcessServerStatus`'
        enum:
        - '1'
        - '2'
        - '3'
        type: string
        x-enumLabels:
        - DISABLED
        - ENABLED
        - DELETED
        x-enumType: KalturaBusinessProcessServerStatus
      statusIn:
        type: string
      statusNotEqual:
        description: 'Enum Type: `KalturaBusinessProcessServerStatus`'
        enum:
        - '1'
        - '2'
        - '3'
        type: string
        x-enumLabels:
        - DISABLED
        - ENABLED
        - DELETED
        x-enumType: KalturaBusinessProcessServerStatus
      statusNotIn:
        type: string
      typeEqual:
        description: 'Enum Type: `KalturaBusinessProcessProvider`'
        enum:
        - activitiBusinessProcessNotification.Activiti
        type: string
        x-enumLabels:
        - ACTIVITI
        x-enumType: KalturaBusinessProcessProvider
      typeIn:
        type: string
      updatedAtGreaterThanOrEqual:
        type: integer
      updatedAtLessThanOrEqual:
        type: integer
    title: KalturaBusinessProcessServerBaseFilter
    type: object
    x-abstract: true
  KalturaTranscriptAssetFilter:
    allOf:
    - $ref: '#/definitions/KalturaTranscriptAssetBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +deletedAt
        - +size
        - +updatedAt
        - -createdAt
        - -deletedAt
        - -size
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - DELETED_AT_ASC
        - SIZE_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - DELETED_AT_DESC
        - SIZE_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaTranscriptAssetOrderBy
    title: KalturaTranscriptAssetFilter
    type: object
  KalturaFtpDropFolderBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaRemoteDropFolderFilter'
    anyOf:
    - $ref: '#/definitions/KalturaFtpDropFolderFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaFtpDropFolderFilter
        type: string
    title: KalturaFtpDropFolderBaseFilter
    type: object
    x-abstract: true
  KalturaScpDropFolderFilter:
    allOf:
    - $ref: '#/definitions/KalturaScpDropFolderBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +id
        - +name
        - +updatedAt
        - -createdAt
        - -id
        - -name
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - ID_ASC
        - NAME_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - ID_DESC
        - NAME_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaScpDropFolderOrderBy
    title: KalturaScpDropFolderFilter
    type: object
  KalturaDocumentFlavorParamsBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaFlavorParamsFilter'
    anyOf:
    - $ref: '#/definitions/KalturaDocumentFlavorParamsFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaDocumentFlavorParamsFilter
        type: string
    title: KalturaDocumentFlavorParamsBaseFilter
    type: object
    x-abstract: true
  KalturaDoubleClickDistributionProviderBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaDistributionProviderFilter'
    anyOf:
    - $ref: '#/definitions/KalturaDoubleClickDistributionProviderFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaDoubleClickDistributionProviderFilter
        type: string
    title: KalturaDoubleClickDistributionProviderBaseFilter
    type: object
    x-abstract: true
  KalturaUploadTokenFilter:
    allOf:
    - $ref: '#/definitions/KalturaUploadTokenBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - -createdAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - CREATED_AT_DESC
        x-enumType: KalturaUploadTokenOrderBy
    title: KalturaUploadTokenFilter
    type: object
  KalturaFreewheelDistributionProfileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaDistributionProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaFreewheelDistributionProfileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaFreewheelDistributionProfileFilter
        type: string
    title: KalturaFreewheelDistributionProfileBaseFilter
    type: object
    x-abstract: true
  KalturaScheduleResourceFilter:
    allOf:
    - $ref: '#/definitions/KalturaScheduleResourceBaseFilter'
    anyOf:
    - $ref: '#/definitions/KalturaScheduleResourceFilter'
    - $ref: '#/definitions/KalturaCameraScheduleResourceFilter'
    - $ref: '#/definitions/KalturaLiveEntryScheduleResourceFilter'
    - $ref: '#/definitions/KalturaLocationScheduleResourceFilter'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaScheduleResourceFilter
        - KalturaCameraScheduleResourceFilter
        - KalturaLiveEntryScheduleResourceFilter
        - KalturaLocationScheduleResourceFilter
        type: string
      orderBy:
        enum:
        - +createdAt
        - +updatedAt
        - -createdAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaScheduleResourceOrderBy
    title: KalturaScheduleResourceFilter
    type: object
  KalturaSyndicationDistributionProfileFilter:
    allOf:
    - $ref: '#/definitions/KalturaSyndicationDistributionProfileBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +updatedAt
        - -createdAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaSyndicationDistributionProfileOrderBy
    title: KalturaSyndicationDistributionProfileFilter
    type: object
  KalturaThumbAssetFilter:
    allOf:
    - $ref: '#/definitions/KalturaThumbAssetBaseFilter'
    anyOf:
    - $ref: '#/definitions/KalturaThumbAssetFilter'
    - $ref: '#/definitions/KalturaTimedThumbAssetFilter'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaThumbAssetFilter
        - KalturaTimedThumbAssetFilter
        type: string
      orderBy:
        enum:
        - +createdAt
        - +deletedAt
        - +size
        - +updatedAt
        - -createdAt
        - -deletedAt
        - -size
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - DELETED_AT_ASC
        - SIZE_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - DELETED_AT_DESC
        - SIZE_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaThumbAssetOrderBy
    title: KalturaThumbAssetFilter
    type: object
  KalturaTVComDistributionProfileFilter:
    allOf:
    - $ref: '#/definitions/KalturaTVComDistributionProfileBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +updatedAt
        - -createdAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaTVComDistributionProfileOrderBy
    title: KalturaTVComDistributionProfileFilter
    type: object
  KalturaEntryCaptionAdvancedFilter:
    allOf:
    - $ref: '#/definitions/KalturaSearchItem'
    properties:
      hasCaption:
        description: 'Enum Type: `KalturaNullableBoolean`'
        enum:
        - -1
        - 0
        - 1
        type: integer
        x-enumLabels:
        - NULL_VALUE
        - FALSE_VALUE
        - TRUE_VALUE
        x-enumType: KalturaNullableBoolean
    title: KalturaEntryCaptionAdvancedFilter
    type: object
  KalturaMediaServerNodeBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaDeliveryServerNodeFilter'
    anyOf:
    - $ref: '#/definitions/KalturaMediaServerNodeFilter'
    - $ref: '#/definitions/KalturaLiveClusterMediaServerNodeBaseFilter'
    - $ref: '#/definitions/KalturaLiveClusterMediaServerNodeFilter'
    - $ref: '#/definitions/KalturaWowzaMediaServerNodeFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaMediaServerNodeFilter
        - KalturaLiveClusterMediaServerNodeBaseFilter
        - KalturaLiveClusterMediaServerNodeFilter
        - KalturaWowzaMediaServerNodeFilter
        type: string
    title: KalturaMediaServerNodeBaseFilter
    type: object
    x-abstract: true
  KalturaSipEntryServerNodeBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaEntryServerNodeFilter'
    anyOf:
    - $ref: '#/definitions/KalturaSipEntryServerNodeFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaSipEntryServerNodeFilter
        type: string
    title: KalturaSipEntryServerNodeBaseFilter
    type: object
    x-abstract: true
  KalturaSipServerNodeBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaServerNodeFilter'
    anyOf:
    - $ref: '#/definitions/KalturaSipServerNodeFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaSipServerNodeFilter
        type: string
    title: KalturaSipServerNodeBaseFilter
    type: object
    x-abstract: true
  KalturaPdfFlavorParamsOutputBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaFlavorParamsOutputFilter'
    anyOf:
    - $ref: '#/definitions/KalturaPdfFlavorParamsOutputFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaPdfFlavorParamsOutputFilter
        type: string
    title: KalturaPdfFlavorParamsOutputBaseFilter
    type: object
    x-abstract: true
  KalturaTVComDistributionProfileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaConfigurableDistributionProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaTVComDistributionProfileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaTVComDistributionProfileFilter
        type: string
    title: KalturaTVComDistributionProfileBaseFilter
    type: object
    x-abstract: true
  KalturaFeedDropFolderFileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaDropFolderFileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaFeedDropFolderFileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaFeedDropFolderFileFilter
        type: string
    title: KalturaFeedDropFolderFileBaseFilter
    type: object
    x-abstract: true
  KalturaLiveChannelCompareAttributeCondition:
    allOf:
    - $ref: '#/definitions/KalturaSearchComparableAttributeCondition'
    description: "Auto-generated class.\n Used to search KalturaLiveChannel attributes. Use KalturaLiveChannelCompareAttribute enum to provide attribute name.\n/"
    properties:
      attribute:
        description: 'Enum Type: `KalturaLiveChannelCompareAttribute`'
        enum:
        - accessControlId
        - createdAt
        - endDate
        - lastPlayedAt
        - mediaDate
        - mediaType
        - moderationCount
        - moderationStatus
        - msDuration
        - partnerId
        - partnerSortValue
        - plays
        - rank
        - replacementStatus
        - startDate
        - status
        - totalRank
        - type
        - updatedAt
        - views
        type: string
        x-enumLabels:
        - ACCESS_CONTROL_ID
        - CREATED_AT
        - END_DATE
        - LAST_PLAYED_AT
        - MEDIA_DATE
        - MEDIA_TYPE
        - MODERATION_COUNT
        - MODERATION_STATUS
        - MS_DURATION
        - PARTNER_ID
        - PARTNER_SORT_VALUE
        - PLAYS
        - RANK
        - REPLACEMENT_STATUS
        - START_DATE
        - STATUS
        - TOTAL_RANK
        - TYPE
        - UPDATED_AT
        - VIEWS
        x-enumType: KalturaLiveChannelCompareAttribute
    title: KalturaLiveChannelCompareAttributeCondition
    type: object
  KalturaHuluDistributionProfileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaConfigurableDistributionProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaHuluDistributionProfileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaHuluDistributionProfileFilter
        type: string
    title: KalturaHuluDistributionProfileBaseFilter
    type: object
    x-abstract: true
  KalturaMediaEntryBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaPlayableEntryFilter'
    anyOf:
    - $ref: '#/definitions/KalturaMediaEntryFilter'
    - $ref: '#/definitions/KalturaMediaEntryFilterForPlaylist'
    - $ref: '#/definitions/KalturaExternalMediaEntryFilter'
    - $ref: '#/definitions/KalturaLiveEntryFilter'
    - $ref: '#/definitions/KalturaLiveChannelFilter'
    - $ref: '#/definitions/KalturaLiveStreamEntryFilter'
    - $ref: '#/definitions/KalturaLiveStreamAdminEntryFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      flavorParamsIdsMatchAnd:
        type: string
      flavorParamsIdsMatchOr:
        type: string
      mediaDateGreaterThanOrEqual:
        type: integer
      mediaDateLessThanOrEqual:
        type: integer
      mediaTypeEqual:
        description: 'Enum Type: `KalturaMediaType`'
        enum:
        - 1
        - 2
        - 5
        - 201
        - 202
        - 203
        - 204
        type: integer
        x-enumLabels:
        - VIDEO
        - IMAGE
        - AUDIO
        - LIVE_STREAM_FLASH
        - LIVE_STREAM_WINDOWS_MEDIA
        - LIVE_STREAM_REAL_MEDIA
        - LIVE_STREAM_QUICKTIME
        x-enumType: KalturaMediaType
      mediaTypeIn:
        type: string
      objectType:
        enum:
        - KalturaMediaEntryFilter
        - KalturaMediaEntryFilterForPlaylist
        - KalturaExternalMediaEntryFilter
        - KalturaLiveEntryFilter
        - KalturaLiveChannelFilter
        - KalturaLiveStreamEntryFilter
        - KalturaLiveStreamAdminEntryFilter
        type: string
      sourceTypeEqual:
        description: 'Enum Type: `KalturaSourceType`'
        enum:
        - limeLight.LIVE_STREAM
        - velocix.VELOCIX_LIVE
        - '1'
        - '2'
        - '5'
        - '6'
        - '29'
        - '30'
        - '31'
        - '32'
        - '33'
        - '34'
        - '35'
        - '36'
        - '37'
        - '42'
        type: string
        x-enumLabels:
        - LIMELIGHT_LIVE
        - VELOCIX_LIVE
        - FILE
        - WEBCAM
        - URL
        - SEARCH_PROVIDER
        - AKAMAI_LIVE
        - MANUAL_LIVE_STREAM
        - AKAMAI_UNIVERSAL_LIVE
        - LIVE_STREAM
        - LIVE_CHANNEL
        - RECORDED_LIVE
        - CLIP
        - KALTURA_RECORDED_LIVE
        - LECTURE_CAPTURE
        - LIVE_STREAM_ONTEXTDATA_CAPTIONS
        x-enumType: KalturaSourceType
      sourceTypeIn:
        type: string
      sourceTypeNotEqual:
        description: 'Enum Type: `KalturaSourceType`'
        enum:
        - limeLight.LIVE_STREAM
        - velocix.VELOCIX_LIVE
        - '1'
        - '2'
        - '5'
        - '6'
        - '29'
        - '30'
        - '31'
        - '32'
        - '33'
        - '34'
        - '35'
        - '36'
        - '37'
        - '42'
        type: string
        x-enumLabels:
        - LIMELIGHT_LIVE
        - VELOCIX_LIVE
        - FILE
        - WEBCAM
        - URL
        - SEARCH_PROVIDER
        - AKAMAI_LIVE
        - MANUAL_LIVE_STREAM
        - AKAMAI_UNIVERSAL_LIVE
        - LIVE_STREAM
        - LIVE_CHANNEL
        - RECORDED_LIVE
        - CLIP
        - KALTURA_RECORDED_LIVE
        - LECTURE_CAPTURE
        - LIVE_STREAM_ONTEXTDATA_CAPTIONS
        x-enumType: KalturaSourceType
      sourceTypeNotIn:
        type: string
    title: KalturaMediaEntryBaseFilter
    type: object
    x-abstract: true
  KalturaSearchItem:
    anyOf:
    - $ref: '#/definitions/KalturaCatalogItemAdvancedFilter'
    - $ref: '#/definitions/KalturaCategoryEntryAdvancedFilter'
    - $ref: '#/definitions/KalturaCategoryUserAdvancedFilter'
    - $ref: '#/definitions/KalturaContentDistributionSearchItem'
    - $ref: '#/definitions/KalturaEntryCaptionAdvancedFilter'
    - $ref: '#/definitions/KalturaEntryCaptionAssetSearchItem'
    - $ref: '#/definitions/KalturaEntryCuePointSearchFilter'
    - $ref: '#/definitions/KalturaEntryTranscriptAssetSearchItem'
    - $ref: '#/definitions/KalturaForensicWatermarkAdvancedFilter'
    - $ref: '#/definitions/KalturaIndexAdvancedFilter'
    - $ref: '#/definitions/KalturaQuizAdvancedFilter'
    - $ref: '#/definitions/KalturaSearchCondition'
    - $ref: '#/definitions/KalturaSearchOperator'
    - $ref: '#/definitions/KalturaViewHistoryUserEntryAdvancedFilter'
    - $ref: '#/definitions/KalturaWatchLaterUserEntryAdvancedFilter'
    - $ref: '#/definitions/KalturaBaseEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaDataEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaDocumentEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaExternalMediaEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveChannelCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveStreamAdminEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveStreamEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaMediaEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaMixEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaPlayableEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaPlaylistCompareAttributeCondition'
    - $ref: '#/definitions/KalturaBaseEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaDataEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaDocumentEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaExternalMediaEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaLiveChannelMatchAttributeCondition'
    - $ref: '#/definitions/KalturaLiveEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaLiveStreamAdminEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaLiveStreamEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaMediaEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaMixEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaPlayableEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaPlaylistMatchAttributeCondition'
    - $ref: '#/definitions/KalturaEntryIndexAdvancedFilter'
    - $ref: '#/definitions/KalturaSearchComparableCondition'
    - $ref: '#/definitions/KalturaSearchMatchCondition'
    - $ref: '#/definitions/KalturaDynamicObjectSearchItem'
    - $ref: '#/definitions/KalturaMetadataSearchItem'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaCatalogItemAdvancedFilter
        - KalturaCategoryEntryAdvancedFilter
        - KalturaCategoryUserAdvancedFilter
        - KalturaContentDistributionSearchItem
        - KalturaEntryCaptionAdvancedFilter
        - KalturaEntryCaptionAssetSearchItem
        - KalturaEntryCuePointSearchFilter
        - KalturaEntryTranscriptAssetSearchItem
        - KalturaForensicWatermarkAdvancedFilter
        - KalturaIndexAdvancedFilter
        - KalturaQuizAdvancedFilter
        - KalturaSearchCondition
        - KalturaSearchOperator
        - KalturaViewHistoryUserEntryAdvancedFilter
        - KalturaWatchLaterUserEntryAdvancedFilter
        - KalturaBaseEntryCompareAttributeCondition
        - KalturaDataEntryCompareAttributeCondition
        - KalturaDocumentEntryCompareAttributeCondition
        - KalturaExternalMediaEntryCompareAttributeCondition
        - KalturaLiveChannelCompareAttributeCondition
        - KalturaLiveEntryCompareAttributeCondition
        - KalturaLiveStreamAdminEntryCompareAttributeCondition
        - KalturaLiveStreamEntryCompareAttributeCondition
        - KalturaMediaEntryCompareAttributeCondition
        - KalturaMixEntryCompareAttributeCondition
        - KalturaPlayableEntryCompareAttributeCondition
        - KalturaPlaylistCompareAttributeCondition
        - KalturaBaseEntryMatchAttributeCondition
        - KalturaDataEntryMatchAttributeCondition
        - KalturaDocumentEntryMatchAttributeCondition
        - KalturaExternalMediaEntryMatchAttributeCondition
        - KalturaLiveChannelMatchAttributeCondition
        - KalturaLiveEntryMatchAttributeCondition
        - KalturaLiveStreamAdminEntryMatchAttributeCondition
        - KalturaLiveStreamEntryMatchAttributeCondition
        - KalturaMediaEntryMatchAttributeCondition
        - KalturaMixEntryMatchAttributeCondition
        - KalturaPlayableEntryMatchAttributeCondition
        - KalturaPlaylistMatchAttributeCondition
        - KalturaEntryIndexAdvancedFilter
        - KalturaSearchComparableCondition
        - KalturaSearchMatchCondition
        - KalturaDynamicObjectSearchItem
        - KalturaMetadataSearchItem
        type: string
    title: KalturaSearchItem
    type: object
    x-abstract: true
  KalturaLiveStreamEntryMatchAttributeCondition:
    allOf:
    - $ref: '#/definitions/KalturaSearchMatchAttributeCondition'
    description: "Auto-generated class.\n Used to search KalturaLiveStreamEntry attributes. Use KalturaLiveStreamEntryMatchAttribute enum to provide attribute name.\n/"
    properties:
      attribute:
        description: 'Enum Type: `KalturaLiveStreamEntryMatchAttribute`'
        enum:
        - adminTags
        - categoriesIds
        - creatorId
        - description
        - durationType
        - flavorParamsIds
        - groupId
        - id
        - name
        - referenceId
        - replacedEntryId
        - replacingEntryId
        - searchText
        - tags
        - userId
        type: string
        x-enumLabels:
        - ADMIN_TAGS
        - CATEGORIES_IDS
        - CREATOR_ID
        - DESCRIPTION
        - DURATION_TYPE
        - FLAVOR_PARAMS_IDS
        - GROUP_ID
        - ID
        - NAME
        - REFERENCE_ID
        - REPLACED_ENTRY_ID
        - REPLACING_ENTRY_ID
        - SEARCH_TEXT
        - TAGS
        - USER_ID
        x-enumType: KalturaLiveStreamEntryMatchAttribute
    title: KalturaLiveStreamEntryMatchAttributeCondition
    type: object
  KalturaAvnDistributionProviderBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaDistributionProviderFilter'
    anyOf:
    - $ref: '#/definitions/KalturaAvnDistributionProviderFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaAvnDistributionProviderFilter
        type: string
    title: KalturaAvnDistributionProviderBaseFilter
    type: object
    x-abstract: true
  KalturaFreewheelDistributionProviderFilter:
    allOf:
    - $ref: '#/definitions/KalturaFreewheelDistributionProviderBaseFilter'
    properties:
      orderBy:
        type: string
        x-enumLabels: []
        x-enumType: KalturaFreewheelDistributionProviderOrderBy
    title: KalturaFreewheelDistributionProviderFilter
    type: object
  KalturaPdfFlavorParamsBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaFlavorParamsFilter'
    anyOf:
    - $ref: '#/definitions/KalturaPdfFlavorParamsFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaPdfFlavorParamsFilter
        type: string
    title: KalturaPdfFlavorParamsBaseFilter
    type: object
    x-abstract: true
  KalturaBlackoutScheduleEventFilter:
    allOf:
    - $ref: '#/definitions/KalturaRecordScheduleEventBaseFilter'
    properties: {}
    title: KalturaBlackoutScheduleEventFilter
    type: object
  KalturaCuePointFilter:
    allOf:
    - $ref: '#/definitions/KalturaCuePointBaseFilter'
    anyOf:
    - $ref: '#/definitions/KalturaCuePointFilter'
    - $ref: '#/definitions/KalturaAdCuePointFilter'
    - $ref: '#/definitions/KalturaAnnotationFilter'
    - $ref: '#/definitions/KalturaAnswerCuePointFilter'
    - $ref: '#/definitions/KalturaCodeCuePointFilter'
    - $ref: '#/definitions/KalturaEventCuePointFilter'
    - $ref: '#/definitions/KalturaQuestionCuePointFilter'
    - $ref: '#/definitions/KalturaThumbCuePointFilter'
    discriminator: objectType
    properties:
      freeText:
        type: string
      objectType:
        enum:
        - KalturaCuePointFilter
        - KalturaAdCuePointFilter
        - KalturaAnnotationFilter
        - KalturaAnswerCuePointFilter
        - KalturaCodeCuePointFilter
        - KalturaEventCuePointFilter
        - KalturaQuestionCuePointFilter
        - KalturaThumbCuePointFilter
        type: string
      orderBy:
        enum:
        - +createdAt
        - +intId
        - +partnerSortValue
        - +startTime
        - +triggeredAt
        - +updatedAt
        - -createdAt
        - -intId
        - -partnerSortValue
        - -startTime
        - -triggeredAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - INT_ID_ASC
        - PARTNER_SORT_VALUE_ASC
        - START_TIME_ASC
        - TRIGGERED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - INT_ID_DESC
        - PARTNER_SORT_VALUE_DESC
        - START_TIME_DESC
        - TRIGGERED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaCuePointOrderBy
      userIdCurrent:
        description: 'Enum Type: `KalturaNullableBoolean`'
        enum:
        - -1
        - 0
        - 1
        type: integer
        x-enumLabels:
        - NULL_VALUE
        - FALSE_VALUE
        - TRUE_VALUE
        x-enumType: KalturaNullableBoolean
      userIdEqualCurrent:
        description: 'Enum Type: `KalturaNullableBoolean`'
        enum:
        - -1
        - 0
        - 1
        type: integer
        x-enumLabels:
        - NULL_VALUE
        - FALSE_VALUE
        - TRUE_VALUE
        x-enumType: KalturaNullableBoolean
    title: KalturaCuePointFilter
    type: object
  KalturaVendorDubbingCatalogItemBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaVendorCatalogItemFilter'
    anyOf:
    - $ref: '#/definitions/KalturaVendorDubbingCatalogItemFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaVendorDubbingCatalogItemFilter
        type: string
      targetLanguageEqual:
        description: 'Enum Type: `KalturaCatalogItemLanguage`'
        enum:
        - Arabic
        - Cantonese
        - Catalan
        - Chinese
        - Czech
        - Danish
        - Dutch
        - English
        - English (American)
        - English (British)
        - Finnish
        - French
        - French (Canada)
        - Gaelic (Scottish)
        - German
        - Greek
        - Hebrew
        - Hindi
        - Hungarian
        - Icelandic
        - Indonesian
        - Irish
        - Italian
        - Japanese
        - Korean
        - Malayalam
        - Mandarin Chinese
        - Norwegian
        - Polish
        - Portuguese
        - Portuguese (Brazil)
        - Romanian
        - Russian
        - Spanish
        - Spanish (Latin America)
        - Swedish
        - Taiwanese Mandarin
        - Tamil
        - Thai
        - Turkish
        - Ukrainian
        - Urdu
        - Vietnamese
        - Welsh
        - Zulu
        type: string
        x-enumLabels:
        - AR
        - YUE
        - CA
        - ZH
        - CS
        - DA
        - NL
        - EN
        - EN_US
        - EN_GB
        - FI
        - FR
        - FR_CA
        - GD
        - DE
        - EL
        - HE
        - HI
        - HU
        - IS
        - IN
        - GA
        - IT
        - JA
        - KO
        - ML
        - CMN
        - 'NO'
        - PL
        - PT
        - PT_BR
        - RO
        - RU
        - ES
        - ES_XL
        - SV
        - ZH_TW
        - TA
        - TH
        - TR
        - UK
        - UR
        - VI
        - CY
        - ZU
        x-enumType: KalturaCatalogItemLanguage
      targetLanguageIn:
        type: string
    title: KalturaVendorDubbingCatalogItemBaseFilter
    type: object
    x-abstract: true
  KalturaQuickPlayDistributionProfileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaConfigurableDistributionProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaQuickPlayDistributionProfileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaQuickPlayDistributionProfileFilter
        type: string
    title: KalturaQuickPlayDistributionProfileBaseFilter
    type: object
    x-abstract: true
  KalturaDeliveryProfileGenericSilverLightBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaDeliveryProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaDeliveryProfileGenericSilverLightFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaDeliveryProfileGenericSilverLightFilter
        type: string
    title: KalturaDeliveryProfileGenericSilverLightBaseFilter
    type: object
    x-abstract: true
  KalturaThumbCuePointBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaCuePointFilter'
    anyOf:
    - $ref: '#/definitions/KalturaThumbCuePointFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      descriptionLike:
        type: string
      descriptionMultiLikeAnd:
        type: string
      descriptionMultiLikeOr:
        type: string
      objectType:
        enum:
        - KalturaThumbCuePointFilter
        type: string
      subTypeEqual:
        description: 'Enum Type: `KalturaThumbCuePointSubType`'
        enum:
        - 1
        - 2
        type: integer
        x-enumLabels:
        - SLIDE
        - CHAPTER
        x-enumType: KalturaThumbCuePointSubType
      subTypeIn:
        type: string
      titleLike:
        type: string
      titleMultiLikeAnd:
        type: string
      titleMultiLikeOr:
        type: string
    title: KalturaThumbCuePointBaseFilter
    type: object
    x-abstract: true
  KalturaUnicornDistributionProfileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaConfigurableDistributionProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaUnicornDistributionProfileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaUnicornDistributionProfileFilter
        type: string
    title: KalturaUnicornDistributionProfileBaseFilter
    type: object
    x-abstract: true
  KalturaDeliveryProfileGenericHttpFilter:
    allOf:
    - $ref: '#/definitions/KalturaDeliveryProfileGenericHttpBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +updatedAt
        - -createdAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaDeliveryProfileGenericHttpOrderBy
    title: KalturaDeliveryProfileGenericHttpFilter
    type: object
  KalturaAssetParamsOutputFilter:
    allOf:
    - $ref: '#/definitions/KalturaAssetParamsOutputBaseFilter'
    properties:
      orderBy:
        type: string
        x-enumLabels: []
        x-enumType: KalturaAssetParamsOutputOrderBy
    title: KalturaAssetParamsOutputFilter
    type: object
  KalturaDrmProfileFilter:
    allOf:
    - $ref: '#/definitions/KalturaDrmProfileBaseFilter'
    anyOf:
    - $ref: '#/definitions/KalturaDrmProfileFilter'
    - $ref: '#/definitions/KalturaFairplayDrmProfileFilter'
    - $ref: '#/definitions/KalturaPlayReadyProfileFilter'
    - $ref: '#/definitions/KalturaWidevineProfileFilter'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaDrmProfileFilter
        - KalturaFairplayDrmProfileFilter
        - KalturaPlayReadyProfileFilter
        - KalturaWidevineProfileFilter
        type: string
      orderBy:
        enum:
        - +id
        - +name
        - -id
        - -name
        type: string
        x-enumLabels:
        - ID_ASC
        - NAME_ASC
        - ID_DESC
        - NAME_DESC
        x-enumType: KalturaDrmProfileOrderBy
    title: KalturaDrmProfileFilter
    type: object
  KalturaDropFolderFileFilter:
    allOf:
    - $ref: '#/definitions/KalturaDropFolderFileBaseFilter'
    anyOf:
    - $ref: '#/definitions/KalturaDropFolderFileFilter'
    - $ref: '#/definitions/KalturaFeedDropFolderFileFilter'
    - $ref: '#/definitions/KalturaWebexDropFolderFileFilter'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaDropFolderFileFilter
        - KalturaFeedDropFolderFileFilter
        - KalturaWebexDropFolderFileFilter
        type: string
      orderBy:
        enum:
        - +createdAt
        - +fileName
        - +fileSize
        - +fileSizeLastSetAt
        - +id
        - +parsedFlavor
        - +parsedSlug
        - +updatedAt
        - -createdAt
        - -fileName
        - -fileSize
        - -fileSizeLastSetAt
        - -id
        - -parsedFlavor
        - -parsedSlug
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - FILE_NAME_ASC
        - FILE_SIZE_ASC
        - FILE_SIZE_LAST_SET_AT_ASC
        - ID_ASC
        - PARSED_FLAVOR_ASC
        - PARSED_SLUG_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - FILE_NAME_DESC
        - FILE_SIZE_DESC
        - FILE_SIZE_LAST_SET_AT_DESC
        - ID_DESC
        - PARSED_FLAVOR_DESC
        - PARSED_SLUG_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaDropFolderFileOrderBy
    title: KalturaDropFolderFileFilter
    type: object
  KalturaCaptionAssetItemFilter:
    allOf:
    - $ref: '#/definitions/KalturaCaptionAssetFilter'
    properties:
      contentLike:
        type: string
      contentMultiLikeAnd:
        type: string
      contentMultiLikeOr:
        type: string
      endTimeGreaterThanOrEqual:
        type: integer
      endTimeLessThanOrEqual:
        type: integer
      labelEqual:
        type: string
      labelIn:
        type: string
      languageEqual:
        description: 'Enum Type: `KalturaLanguage`'
        enum:
        - Abaza
        - Abkhazian
        - Abnaki Western
        - Abure
        - Achang
        - Achinese
        - Achterhooks
        - Achumawi
        - Adioukrou
        - Adyghe; Adygei
        - Adynyamathanha
        - Afade
        - Afar
        - Afrikaans
        - Aghem
        - Aghul
        - Aguacateco
        - Aguaruna
        - Ainu (Japan)
        - Akkadian
        - Aklanon
        - Akum
        - Alabama
        - Albanian
        - Albanian (Gheg)
        - Albanian (Tosk)
        - Aleut
        - Algonquian languages
        - Algonquin
        - Altai (Southern)
        - Amharic
        - Angloromani
        - Apache (Jicarilla)
        - Apache (Western)
        - Arabic
        - Arabic (standard)
        - Arabic Tunisian Spoken
        - Aramaic
        - Aramaic Samaritan
        - Arapaho
        - Araucanian
        - Arikara
        - Armenian
        - Aromanian
        - Assamese
        - Assiniboine
        - Assyrian Neo-Aramaic
        - Asturian
        - Athapascan languages
        - Atikamekw
        - Awadhi
        - Aymara
        - Azerbaijani
        - Babine
        - Badaga
        - Bai
        - Balinese
        - Balochi Southern
        - Balti
        - Baluchi
        - Basa (Cameroon)
        - Bashkir
        - Basque
        - Bavarian
        - Beaver
        - Beja
        - Bemba (Zambia)
        - Bengali (Bangla)
        - Betawi
        - Bezhta
        - Bhili
        - Bhojpuri
        - Bhutani
        - Bihari
        - Bikol
        - Bini
        - Bishnupriya Manipuri
        - Bislama
        - Breton
        - Buginese
        - Bulgarian
        - Buriat
        - Burmese
        - Byelorussian (Belarusian)
        - Caddo
        - Cambodian
        - Cantonese
        - Carrier
        - Carrier Southern
        - Catalan
        - Catawba
        - Cayuga
        - Cebuano
        - Chagatai
        - Chaldean Neo-Aramaic
        - Cherokee
        - Cheyenne
        - Chickasaw
        - Chilcotin
        - Chinese
        - Chinook jargon
        - Chipewyan
        - Chippewa
        - Choctaw
        - Chor
        - Chukot
        - Cimbrian
        - Clallam Klallam
        - Cochimi
        - Cocopa
        - Colognian
        - Comanche
        - Comorian
        - Comox
        - Coptic
        - Corsican
        - Cree
        - Creek
        - Crimean Tatar
        - Croatian
        - Cupeo
        - Czech
        - Dakota
        - Danish
        - Dargwa
        - Dari (Persian)
        - Dari Zoroastrian
        - Dehu
        - Delaware
        - Dinka
        - Dogri (generic)
        - Dogrib
        - Dolgan
        - Dong
        - Duala
        - Dungan
        - Dutch
        - Dyula
        - E
        - Emilian
        - English
        - English (American)
        - English (British)
        - English Middle (1100-1500)
        - Erzya
        - Esperanto
        - Estonian
        - Even
        - Evenki
        - Faeroese
        - Fala
        - Fang (Equatorial Guinea)
        - Farsi
        - Fiji
        - Filipino
        - Finnish
        - Finnish (Tornedalen)
        - Fon
        - Franco-Prove
        - Frankish
        - French
        - French (Canada)
        - Frisian
        - Frisian Northern
        - Friulian
        - Fur
        - Ga
        - Gaelic (Manx)
        - Gaelic (Scottish)
        - Gagauz
        - Galician
        - Gan
        - Geez
        - Georgian
        - German
        - German Hutterite
        - German Pennsylvania
        - Gilbertese
        - Gilyak Nivkh
        - Gitxsan
        - Greek
        - Greek Ancient (to 1453)
        - Greenlandic
        - Guarani
        - Gujarati
        - Gwichin
        - Haida
        - Hainanese
        - Haisla
        - Hakka
        - Halkomelem
        - Han
        - Hani
        - Hausa
        - Hawaiian
        - Hebrew
        - Heiltsuk
        - Hidatsa
        - Hiligaynon
        - Hindi
        - Hmong
        - Hokkien
        - Hopi
        - Huizhou Chinese
        - Hungarian
        - Icelandic
        - Ikposo
        - Iloko
        - Inari Sami
        - Indonesian
        - Ingrian
        - Ingush
        - Interlingua
        - Interlingue
        - Inuinnaqtun
        - Inuktitut
        - Inupiak
        - Irish
        - Iroquoian languages
        - Italian
        - Itelmen
        - Japanese
        - Javanese
        - Jinyu Chinese
        - Jju
        - Judeo-Crimean Tatar
        - Judeo-Georgian
        - Jutish
        - Kabardian
        - Kabuverdianu
        - Kabyle
        - Kachchi
        - Kaikavian literary language (Kajkavian)
        - Kalmyk Oirat
        - Kannada
        - Kansa
        - Karachay-Balkar
        - Karagas
        - Karaim
        - Karakalpak
        - Karelian
        - Kashmiri
        - Kashubian
        - Kaska
        - Kawi
        - Kazakh
        - Khakas
        - Khalaj Turkic
        - Khanty
        - Khasi
        - Khmer Northern
        - Kickapoo
        - Kinyarwanda (Ruanda)
        - Kiowa
        - Kirghiz
        - Kirundi (Rundi)
        - Klingon tlhIngan-Hol
        - Kodava
        - Komi-Permyak
        - Konkani (generic)
        - Konkani (specific)
        - Konkani Goan
        - Korean
        - Koryak
        - Kosraean
        - Kotava
        - Kpelle
        - Kumiai
        - Kumyk
        - Kurdish
        - Kutenai
        - Kwakiutl
        - Laal
        - Ladin
        - Ladino
        - Lahnda
        - Lahu
        - Lak
        - Laki
        - Lakota
        - Laothian
        - Latin
        - Latvian (Lettish)
        - Laz
        - Lezghian
        - Ligurian
        - Lillooet
        - Limbu
        - Limburgish ( Limburger)
        - Lingala
        - Lithuanian
        - Lojban
        - Loma (Liberia)
        - Lombard
        - Low German Low Saxon
        - Lozi
        - Luba-Lulua
        - Lucumi
        - Ludian
        - Lule Sami
        - Lunda
        - Luo (Kenya and Tanzania)
        - Lushootseed
        - Luxembourgish (Letzeburgesch)
        - Macedonian
        - Madurese
        - Magahi
        - Maithili
        - Malagasy
        - Malay
        - Malayalam
        - Malecite-Passamaquoddy
        - Maltese
        - Manchu
        - Mandaic
        - Mandan
        - Mandarin Chinese
        - Mansi
        - Maori
        - Maranao
        - Marathi
        - Mari (Russia)
        - Marwari
        - Masai
        - Mayo
        - Meitei
        - Mende (Sierra Leone)
        - Menominee
        - Michif
        - Micmac
        - Min Bei Chinese
        - Min Dong Chinese
        - Minangkabau
        - Mingrelian
        - Mirandese
        - Mohawk
        - Moksha
        - Moldavian
        - Mon
        - Mongolian
        - Montagnais
        - Morisyen
        - Mossi
        - Mozarabic
        - Multilingual
        - Muong
        - Nama (Namibia)
        - Nanai
        - Naskapi
        - Nauru
        - Neapolitan
        - Nepali
        - Newari Nepal Bhasa
        - Nganasan
        - Nisgaa
        - Niuean
        - No linguistic content
        - Nogai
        - Norse Old
        - Northern Sotho Pedi Sepedi
        - Norwegian
        - Novial
        - Nyamwezi
        - Nyoro
        - Nyungah
        - Occitan
        - Ojibwa Central
        - Ojibwa Eastern
        - Ojibwa Northwestern
        - Ojibwa Severn
        - Ojibwa Western
        - Ojibwe, Ojibwa
        - Okanagan
        - Okinawan Central
        - Old English
        - Oneida
        - Onondaga
        - Oriya
        - Oromo (Afan, Galla)
        - Ottawa
        - Paipai
        - Palauan
        - Pampanga
        - Pangasinan
        - Papiamento
        - Pashto (Pushto)
        - Persian
        - Persian (Dari)
        - Pfaelzisch
        - Picard
        - Piedmontese
        - Pirah
        - Pitcairn-Norfolk
        - Plautdietsch
        - Polish
        - Pontic
        - Portuguese
        - Portuguese (Brazil)
        - Potawatomi
        - Prussian
        - Pulaar
        - Punjabi
        - Qashqai
        - Qawasqar
        - Quechua
        - Quich Central
        - Rapanui
        - Rarotongan
        - Reserved for local use.
        - Rhaeto-Romance
        - Romagnol
        - Romani Kalo Finnish
        - Romani Sinte
        - Romanian
        - Romanian Istro
        - Romanian Megleno
        - Romany
        - Runion Creole French
        - Russian
        - Rusyn
        - Saint Lucian Creole French
        - Sakha
        - Salar
        - Salish Straits
        - Salishan languages
        - Sami Kildin
        - Sami languages
        - Samoan
        - Sangro
        - Sanskrit
        - Santali
        - Saramaccan
        - Sardinian Sassarese
        - Saterland Frisian
        - Saxon Upper
        - Scots
        - Sechelt
        - Seediq
        - Sekani
        - Selkup
        - Seneca
        - Serbian
        - Serbo-Croatian
        - Seri
        - Sesotho
        - Setswana
        - Shawnee
        - Shona
        - Shor
        - Shoshoni
        - Shuswap
        - Sicilian
        - Sidamo
        - Siksika
        - Silesian
        - Sindhi
        - Sinhalese
        - Siswati
        - Skolt Sami
        - Slavey North
        - Slavey South
        - Slovak
        - Slovenian
        - Somali
        - Soninke
        - Sorbian Lower
        - Sorbian Upper
        - Southern Sami
        - Southern Tutchone
        - Spanish
        - Spanish (Latin America)
        - Sranan
        - Stoney
        - Sudovian
        - Sumerian
        - Sundanese
        - Svan
        - Swabian
        - Swahili (Kiswahili)
        - Swedish
        - Swedish Sign Language
        - Swiss German Alemannic Alsatian
        - Syriac
        - Tabassaran
        - Tachawit
        - Tachelhit
        - Tagalog
        - Tagbanwa
        - Tagish
        - Tahltan
        - Tai Na
        - Taiwanese Mandarin
        - Tajik
        - Talysh
        - Tamajaq Tawallammat
        - Tamasheq
        - Tamazight Central Atlas
        - Tamil
        - Tarahumara Central
        - Tat Muslim
        - Tatar
        - Telugu
        - Teo Chew
        - Tetum
        - Thai
        - Thai (Northern)
        - Thai Northeastern
        - Thompson
        - Tibetan
        - Tigre
        - Tigrinya
        - Tlingit
        - Toda
        - Tohono Oodham
        - Tok Pisin
        - Tonga
        - Tonga (Nyasa)
        - Tsez
        - Tsimshian
        - Tsonga
        - Tulu
        - Tumbuka
        - Tumzabt
        - Tupinamb
        - Turkana
        - Turkish
        - Turkish Ottoman
        - Turkmen
        - Tuscarora
        - Tuvalu
        - Tuvinian
        - Twi
        - Ubykh
        - Udi
        - Udmurt
        - Uighur
        - Ukrainian
        - Undefined
        - Urdu
        - Urum
        - Uzbek
        - Venetian
        - Veps
        - Vietnamese
        - Volapuk
        - Voro
        - Votic
        - Vro
        - Waorani
        - Waray (Philippines)
        - Welsh
        - Western Farsi
        - Western Neo-Aramaic
        - Wiyot
        - Wolof
        - Wu Chinese
        - Wymysorys
        - Xhosa
        - Yanesha
        - Yiddish
        - Yoruba
        - Zapotec Isthmus
        - Zarma
        - Zulu
        type: string
        x-enumType: KalturaLanguage
      languageIn:
        type: string
      partnerDescriptionLike:
        type: string
      partnerDescriptionMultiLikeAnd:
        type: string
      partnerDescriptionMultiLikeOr:
        type: string
      startTimeGreaterThanOrEqual:
        type: integer
      startTimeLessThanOrEqual:
        type: integer
    title: KalturaCaptionAssetItemFilter
    type: object
  KalturaPdfFlavorParamsFilter:
    allOf:
    - $ref: '#/definitions/KalturaPdfFlavorParamsBaseFilter'
    properties:
      orderBy:
        type: string
        x-enumLabels: []
        x-enumType: KalturaPdfFlavorParamsOrderBy
    title: KalturaPdfFlavorParamsFilter
    type: object
  KalturaLocationScheduleResourceBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaScheduleResourceFilter'
    anyOf:
    - $ref: '#/definitions/KalturaLocationScheduleResourceFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaLocationScheduleResourceFilter
        type: string
    title: KalturaLocationScheduleResourceBaseFilter
    type: object
    x-abstract: true
  KalturaMeetingScheduleEventFilter:
    allOf:
    - $ref: '#/definitions/KalturaMeetingScheduleEventBaseFilter'
    properties: {}
    title: KalturaMeetingScheduleEventFilter
    type: object
  KalturaSearchMatchAttributeCondition:
    allOf:
    - $ref: '#/definitions/KalturaAttributeCondition'
    anyOf:
    - $ref: '#/definitions/KalturaBaseEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaDataEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaDocumentEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaExternalMediaEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaLiveChannelMatchAttributeCondition'
    - $ref: '#/definitions/KalturaLiveEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaLiveStreamAdminEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaLiveStreamEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaMediaEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaMixEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaPlayableEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaPlaylistMatchAttributeCondition'
    description: '`abstract`'
    discriminator: objectType
    properties:
      not:
        type: boolean
      objectType:
        enum:
        - KalturaBaseEntryMatchAttributeCondition
        - KalturaDataEntryMatchAttributeCondition
        - KalturaDocumentEntryMatchAttributeCondition
        - KalturaExternalMediaEntryMatchAttributeCondition
        - KalturaLiveChannelMatchAttributeCondition
        - KalturaLiveEntryMatchAttributeCondition
        - KalturaLiveStreamAdminEntryMatchAttributeCondition
        - KalturaLiveStreamEntryMatchAttributeCondition
        - KalturaMediaEntryMatchAttributeCondition
        - KalturaMixEntryMatchAttributeCondition
        - KalturaPlayableEntryMatchAttributeCondition
        - KalturaPlaylistMatchAttributeCondition
        type: string
    title: KalturaSearchMatchAttributeCondition
    type: object
    x-abstract: true
  KalturaScheduledTaskProfileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaFilter'
    anyOf:
    - $ref: '#/definitions/KalturaScheduledTaskProfileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      createdAtGreaterThanOrEqual:
        type: integer
      createdAtLessThanOrEqual:
        type: integer
      idEqual:
        type: integer
      idIn:
        type: string
      lastExecutionStartedAtGreaterThanOrEqual:
        type: integer
      lastExecutionStartedAtLessThanOrEqual:
        type: integer
      lastExecutionStartedAtLessThanOrEqualOrNull:
        type: integer
      objectType:
        enum:
        - KalturaScheduledTaskProfileFilter
        type: string
      partnerIdEqual:
        type: integer
      partnerIdIn:
        type: string
      statusEqual:
        description: 'Enum Type: `KalturaScheduledTaskProfileStatus`'
        enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        type: integer
        x-enumLabels:
        - DISABLED
        - ACTIVE
        - DELETED
        - SUSPENDED
        - DRY_RUN_ONLY
        x-enumType: KalturaScheduledTaskProfileStatus
      statusIn:
        type: string
      systemNameEqual:
        type: string
      systemNameIn:
        type: string
      updatedAtGreaterThanOrEqual:
        type: integer
      updatedAtLessThanOrEqual:
        type: integer
    title: KalturaScheduledTaskProfileBaseFilter
    type: object
    x-abstract: true
  KalturaStorageProfileFilter:
    allOf:
    - $ref: '#/definitions/KalturaStorageProfileBaseFilter'
    anyOf:
    - $ref: '#/definitions/KalturaStorageProfileFilter'
    - $ref: '#/definitions/KalturaAmazonS3StorageProfileFilter'
    - $ref: '#/definitions/KalturaKontikiStorageProfileFilter'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaStorageProfileFilter
        - KalturaAmazonS3StorageProfileFilter
        - KalturaKontikiStorageProfileFilter
        type: string
      orderBy:
        enum:
        - +createdAt
        - +updatedAt
        - -createdAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaStorageProfileOrderBy
    title: KalturaStorageProfileFilter
    type: object
  KalturaDoubleClickDistributionProfileFilter:
    allOf:
    - $ref: '#/definitions/KalturaDoubleClickDistributionProfileBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +updatedAt
        - -createdAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaDoubleClickDistributionProfileOrderBy
    title: KalturaDoubleClickDistributionProfileFilter
    type: object
  KalturaWidevineFlavorParamsOutputFilter:
    allOf:
    - $ref: '#/definitions/KalturaWidevineFlavorParamsOutputBaseFilter'
    properties:
      orderBy:
        type: string
        x-enumLabels: []
        x-enumType: KalturaWidevineFlavorParamsOutputOrderBy
    title: KalturaWidevineFlavorParamsOutputFilter
    type: object
  KalturaBatchJobBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaFilter'
    anyOf:
    - $ref: '#/definitions/KalturaBatchJobFilter'
    - $ref: '#/definitions/KalturaBatchJobFilterExt'
    description: '`abstract`'
    discriminator: objectType
    properties:
      batchVersionEqual:
        type: integer
      batchVersionGreaterThanOrEqual:
        type: integer
      batchVersionLessThanOrEqual:
        type: integer
      createdAtGreaterThanOrEqual:
        type: integer
      createdAtLessThanOrEqual:
        type: integer
      entryIdEqual:
        type: string
      errNumberEqual:
        type: integer
      errNumberIn:
        type: string
      errNumberNotIn:
        type: string
      errTypeEqual:
        description: 'Enum Type: `KalturaBatchJobErrorTypes`'
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        type: integer
        x-enumLabels:
        - APP
        - RUNTIME
        - HTTP
        - CURL
        - KALTURA_API
        - KALTURA_CLIENT
        x-enumType: KalturaBatchJobErrorTypes
      errTypeIn:
        type: string
      errTypeNotIn:
        type: string
      estimatedEffortGreaterThan:
        type: integer
      estimatedEffortLessThan:
        type: integer
      executionAttemptsGreaterThanOrEqual:
        type: integer
      executionAttemptsLessThanOrEqual:
        type: integer
      finishTimeGreaterThanOrEqual:
        type: integer
      finishTimeLessThanOrEqual:
        type: integer
      idEqual:
        type: integer
      idGreaterThanOrEqual:
        type: integer
      jobSubTypeEqual:
        type: integer
      jobSubTypeIn:
        type: string
      jobSubTypeNotIn:
        type: string
      jobTypeEqual:
        description: 'Enum Type: `KalturaBatchJobType`'
        enum:
        - ReachInternal.ReachInternalQueueHandler
        - '0'
        - caption.convertcaptionasset
        - caption.parsemultilanguagecaptionasset
        - captionSearch.parseCaptionAsset
        - contentDistribution.DistributionDelete
        - contentDistribution.DistributionDisable
        - contentDistribution.DistributionEnable
        - contentDistribution.DistributionFetchReport
        - contentDistribution.DistributionSubmit
        - contentDistribution.DistributionSync
        - contentDistribution.DistributionUpdate
        - dropFolder.DropFolderContentProcessor
        - dropFolder.DropFolderWatcher
        - eventNotification.EventNotificationHandler
        - integration.Integration
        - reach.EntryVendorTasksCsv
        - reach.SyncReachCreditTask
        - scheduledTask.ScheduledTask
        - tagSearch.IndexTagsByPrivacyContext
        - tagSearch.TagResolve
        - virusScan.VirusScan
        - widevine.WidevineRepositorySync
        - '1'
        - '2'
        - '3'
        - '4'
        - '5'
        - '6'
        - '7'
        - '10'
        - '11'
        - '14'
        - '15'
        - '16'
        - '17'
        - '18'
        - '19'
        - '20'
        - '21'
        - '22'
        - '23'
        - '24'
        - '25'
        - '26'
        - '27'
        - '28'
        - '29'
        - '30'
        - '31'
        - '32'
        - '33'
        - '34'
        - '35'
        - '36'
        - '37'
        - '38'
        - '39'
        - '40'
        - '41'
        - '42'
        - '43'
        - '44'
        - '45'
        - '46'
        - '47'
        - '48'
        - '49'
        - '50'
        - '51'
        - '52'
        - '53'
        - '54'
        - '55'
        - '56'
        type: string
        x-enumLabels:
        - REACH_INTERNAL_QUEUE_HANDLER
        - CONVERT
        - CONVERT_CAPTION_ASSET
        - PARSE_MULTI_LANGUAGE_CAPTION_ASSET
        - PARSE_CAPTION_ASSET
        - DISTRIBUTION_DELETE
        - DISTRIBUTION_DISABLE
        - DISTRIBUTION_ENABLE
        - DISTRIBUTION_FETCH_REPORT
        - DISTRIBUTION_SUBMIT
        - DISTRIBUTION_SYNC
        - DISTRIBUTION_UPDATE
        - DROP_FOLDER_CONTENT_PROCESSOR
        - DROP_FOLDER_WATCHER
        - EVENT_NOTIFICATION_HANDLER
        - INTEGRATION
        - ENTRY_VENDOR_TASK_CSV
        - SYNC_REACH_CREDIT_TASK
        - SCHEDULED_TASK
        - INDEX_TAGS
        - TAG_RESOLVE
        - VIRUS_SCAN
        - WIDEVINE_REPOSITORY_SYNC
        - IMPORT
        - DELETE
        - FLATTEN
        - BULKUPLOAD
        - DVDCREATOR
        - DOWNLOAD
        - OOCONVERT
        - CONVERT_PROFILE
        - POSTCONVERT
        - EXTRACT_MEDIA
        - MAIL
        - NOTIFICATION
        - CLEANUP
        - SCHEDULER_HELPER
        - BULKDOWNLOAD
        - DB_CLEANUP
        - PROVISION_PROVIDE
        - CONVERT_COLLECTION
        - STORAGE_EXPORT
        - PROVISION_DELETE
        - STORAGE_DELETE
        - EMAIL_INGESTION
        - METADATA_IMPORT
        - METADATA_TRANSFORM
        - FILESYNC_IMPORT
        - CAPTURE_THUMB
        - DELETE_FILE
        - INDEX
        - MOVE_CATEGORY_ENTRIES
        - COPY
        - CONCAT
        - CONVERT_LIVE_SEGMENT
        - COPY_PARTNER
        - VALIDATE_LIVE_MEDIA_SERVERS
        - SYNC_CATEGORY_PRIVACY_CONTEXT
        - LIVE_REPORT_EXPORT
        - RECALCULATE_CACHE
        - LIVE_TO_VOD
        - COPY_CAPTIONS
        - CHUNKED_ENCODE_JOB_SCHEDULER
        - SERVER_NODE_MONITOR
        - USERS_CSV
        - CLIP_CONCAT
        - COPY_CUE_POINTS
        - EXPORT_CSV
        - REPORT_EXPORT
        - LIVE_ENTRY_ARCHIVE
        - STORAGE_UPDATE
        - STORAGE_PERIODIC_EXPORT
        - STORAGE_PERIODIC_PURGE
        - STORAGE_PERIODIC_DELETE_LOCAL
        - REACH_JOB_CLEANER
        x-enumType: KalturaBatchJobType
      jobTypeIn:
        type: string
      jobTypeNotIn:
        type: string
      lockVersionGreaterThanOrEqual:
        type: integer
      lockVersionLessThanOrEqual:
        type: integer
      objectType:
        enum:
        - KalturaBatchJobFilter
        - KalturaBatchJobFilterExt
        type: string
      partnerIdEqual:
        type: integer
      partnerIdIn:
        type: string
      partnerIdNotIn:
        type: string
      priorityEqual:
        type: integer
      priorityGreaterThanOrEqual:
        type: integer
      priorityIn:
        type: string
      priorityLessThanOrEqual:
        type: integer
      priorityNotIn:
        type: string
      queueTimeGreaterThanOrEqual:
        type: integer
      queueTimeLessThanOrEqual:
        type: integer
      statusEqual:
        description: 'Enum Type: `KalturaBatchJobStatus`'
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        type: integer
        x-enumLabels:
        - PENDING
        - QUEUED
        - PROCESSING
        - PROCESSED
        - MOVEFILE
        - FINISHED
        - FAILED
        - ABORTED
        - ALMOST_DONE
        - RETRY
        - FATAL
        - DONT_PROCESS
        - FINISHED_PARTIALLY
        - SUSPEND
        - SUSPEND_ALMOST_DONE
        x-enumType: KalturaBatchJobStatus
      statusIn:
        type: string
      statusNotIn:
        type: string
      updatedAtGreaterThanOrEqual:
        type: integer
      updatedAtLessThanOrEqual:
        type: integer
      urgencyGreaterThanOrEqual:
        type: integer
      urgencyLessThanOrEqual:
        type: integer
    title: KalturaBatchJobBaseFilter
    type: object
    x-abstract: true
  KalturaDeliveryProfileGenericRtmpFilter:
    allOf:
    - $ref: '#/definitions/KalturaDeliveryProfileGenericRtmpBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +updatedAt
        - -createdAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaDeliveryProfileGenericRtmpOrderBy
    title: KalturaDeliveryProfileGenericRtmpFilter
    type: object
  KalturaDeliveryProfileAkamaiHdsBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaDeliveryProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaDeliveryProfileAkamaiHdsFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaDeliveryProfileAkamaiHdsFilter
        type: string
    title: KalturaDeliveryProfileAkamaiHdsBaseFilter
    type: object
    x-abstract: true
  KalturaYouTubeDistributionProfileBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaConfigurableDistributionProfileFilter'
    anyOf:
    - $ref: '#/definitions/KalturaYouTubeDistributionProfileFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaYouTubeDistributionProfileFilter
        type: string
    title: KalturaYouTubeDistributionProfileBaseFilter
    type: object
    x-abstract: true
  KalturaAttributeCondition:
    allOf:
    - $ref: '#/definitions/KalturaSearchItem'
    anyOf:
    - $ref: '#/definitions/KalturaBaseEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaDataEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaDocumentEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaExternalMediaEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveChannelCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveStreamAdminEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaLiveStreamEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaMediaEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaMixEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaPlayableEntryCompareAttributeCondition'
    - $ref: '#/definitions/KalturaPlaylistCompareAttributeCondition'
    - $ref: '#/definitions/KalturaBaseEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaDataEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaDocumentEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaExternalMediaEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaLiveChannelMatchAttributeCondition'
    - $ref: '#/definitions/KalturaLiveEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaLiveStreamAdminEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaLiveStreamEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaMediaEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaMixEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaPlayableEntryMatchAttributeCondition'
    - $ref: '#/definitions/KalturaPlaylistMatchAttributeCondition'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaBaseEntryCompareAttributeCondition
        - KalturaDataEntryCompareAttributeCondition
        - KalturaDocumentEntryCompareAttributeCondition
        - KalturaExternalMediaEntryCompareAttributeCondition
        - KalturaLiveChannelCompareAttributeCondition
        - KalturaLiveEntryCompareAttributeCondition
        - KalturaLiveStreamAdminEntryCompareAttributeCondition
        - KalturaLiveStreamEntryCompareAttributeCondition
        - KalturaMediaEntryCompareAttributeCondition
        - KalturaMixEntryCompareAttributeCondition
        - KalturaPlayableEntryCompareAttributeCondition
        - KalturaPlaylistCompareAttributeCondition
        - KalturaBaseEntryMatchAttributeCondition
        - KalturaDataEntryMatchAttributeCondition
        - KalturaDocumentEntryMatchAttributeCondition
        - KalturaExternalMediaEntryMatchAttributeCondition
        - KalturaLiveChannelMatchAttributeCondition
        - KalturaLiveEntryMatchAttributeCondition
        - KalturaLiveStreamAdminEntryMatchAttributeCondition
        - KalturaLiveStreamEntryMatchAttributeCondition
        - KalturaMediaEntryMatchAttributeCondition
        - KalturaMixEntryMatchAttributeCondition
        - KalturaPlayableEntryMatchAttributeCondition
        - KalturaPlaylistMatchAttributeCondition
        type: string
      value:
        type: string
    title: KalturaAttributeCondition
    type: object
    x-abstract: true
  KalturaDeliveryProfileAkamaiAppleHttpManifestFilter:
    allOf:
    - $ref: '#/definitions/KalturaDeliveryProfileAkamaiAppleHttpManifestBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +updatedAt
        - -createdAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaDeliveryProfileAkamaiAppleHttpManifestOrderBy
    title: KalturaDeliveryProfileAkamaiAppleHttpManifestFilter
    type: object
  KalturaSearchMatchCondition:
    allOf:
    - $ref: '#/definitions/KalturaSearchCondition'
    properties:
      not:
        type: boolean
    title: KalturaSearchMatchCondition
    type: object
  KalturaActivitiBusinessProcessServerFilter:
    allOf:
    - $ref: '#/definitions/KalturaActivitiBusinessProcessServerBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +updatedAt
        - -createdAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaActivitiBusinessProcessServerOrderBy
    title: KalturaActivitiBusinessProcessServerFilter
    type: object
  KalturaTubeMogulSyndicationFeedBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaBaseSyndicationFeedFilter'
    anyOf:
    - $ref: '#/definitions/KalturaTubeMogulSyndicationFeedFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaTubeMogulSyndicationFeedFilter
        type: string
    title: KalturaTubeMogulSyndicationFeedBaseFilter
    type: object
    x-abstract: true
  KalturaDropFolderFilter:
    allOf:
    - $ref: '#/definitions/KalturaDropFolderBaseFilter'
    anyOf:
    - $ref: '#/definitions/KalturaDropFolderFilter'
    - $ref: '#/definitions/KalturaFeedDropFolderFilter'
    - $ref: '#/definitions/KalturaRemoteDropFolderFilter'
    - $ref: '#/definitions/KalturaFtpDropFolderFilter'
    - $ref: '#/definitions/KalturaSshDropFolderFilter'
    - $ref: '#/definitions/KalturaScpDropFolderFilter'
    - $ref: '#/definitions/KalturaSftpDropFolderFilter'
    - $ref: '#/definitions/KalturaWebexDropFolderFilter'
    - $ref: '#/definitions/KalturaZoomDropFolderFilter'
    discriminator: objectType
    properties:
      currentDc:
        description: 'Enum Type: `KalturaNullableBoolean`'
        enum:
        - -1
        - 0
        - 1
        type: integer
        x-enumLabels:
        - NULL_VALUE
        - FALSE_VALUE
        - TRUE_VALUE
        x-enumType: KalturaNullableBoolean
      objectType:
        enum:
        - KalturaDropFolderFilter
        - KalturaFeedDropFolderFilter
        - KalturaRemoteDropFolderFilter
        - KalturaFtpDropFolderFilter
        - KalturaSshDropFolderFilter
        - KalturaScpDropFolderFilter
        - KalturaSftpDropFolderFilter
        - KalturaWebexDropFolderFilter
        - KalturaZoomDropFolderFilter
        type: string
      orderBy:
        enum:
        - +createdAt
        - +id
        - +name
        - +updatedAt
        - -createdAt
        - -id
        - -name
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - ID_ASC
        - NAME_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - ID_DESC
        - NAME_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaDropFolderOrderBy
    title: KalturaDropFolderFilter
    type: object
  KalturaThumbCuePointFilter:
    allOf:
    - $ref: '#/definitions/KalturaThumbCuePointBaseFilter'
    properties:
      orderBy:
        enum:
        - +createdAt
        - +intId
        - +partnerSortValue
        - +startTime
        - +triggeredAt
        - +updatedAt
        - -createdAt
        - -intId
        - -partnerSortValue
        - -startTime
        - -triggeredAt
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - INT_ID_ASC
        - PARTNER_SORT_VALUE_ASC
        - START_TIME_ASC
        - TRIGGERED_AT_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - INT_ID_DESC
        - PARTNER_SORT_VALUE_DESC
        - START_TIME_DESC
        - TRIGGERED_AT_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaThumbCuePointOrderBy
    title: KalturaThumbCuePointFilter
    type: object
  KalturaLiveChannelMatchAttributeCondition:
    allOf:
    - $ref: '#/definitions/KalturaSearchMatchAttributeCondition'
    description: "Auto-generated class.\n Used to search KalturaLiveChannel attributes. Use KalturaLiveChannelMatchAttribute enum to provide attribute name.\n/"
    properties:
      attribute:
        description: 'Enum Type: `KalturaLiveChannelMatchAttribute`'
        enum:
        - adminTags
        - categoriesIds
        - creatorId
        - description
        - durationType
        - flavorParamsIds
        - groupId
        - id
        - name
        - referenceId
        - replacedEntryId
        - replacingEntryId
        - searchText
        - tags
        - userId
        type: string
        x-enumLabels:
        - ADMIN_TAGS
        - CATEGORIES_IDS
        - CREATOR_ID
        - DESCRIPTION
        - DURATION_TYPE
        - FLAVOR_PARAMS_IDS
        - GROUP_ID
        - ID
        - NAME
        - REFERENCE_ID
        - REPLACED_ENTRY_ID
        - REPLACING_ENTRY_ID
        - SEARCH_TEXT
        - TAGS
        - USER_ID
        x-enumType: KalturaLiveChannelMatchAttribute
    title: KalturaLiveChannelMatchAttributeCondition
    type: object
  KalturaFlavorAssetFilter:
    allOf:
    - $ref: '#/definitions/KalturaFlavorAssetBaseFilter'
    anyOf:
    - $ref: '#/definitions/KalturaFlavorAssetFilter'
    - $ref: '#/definitions/KalturaLiveAssetFilter'
    - $ref: '#/definitions/KalturaWidevineFlavorAssetFilter'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaFlavorAssetFilter
        - KalturaLiveAssetFilter
        - KalturaWidevineFlavorAssetFilter
        type: string
      orderBy:
        enum:
        - +createdAt
        - +deletedAt
        - +size
        - +updatedAt
        - -createdAt
        - -deletedAt
        - -size
        - -updatedAt
        type: string
        x-enumLabels:
        - CREATED_AT_ASC
        - DELETED_AT_ASC
        - SIZE_ASC
        - UPDATED_AT_ASC
        - CREATED_AT_DESC
        - DELETED_AT_DESC
        - SIZE_DESC
        - UPDATED_AT_DESC
        x-enumType: KalturaFlavorAssetOrderBy
    title: KalturaFlavorAssetFilter
    type: object
  KalturaTimeWarnerDistributionProviderBaseFilter:
    allOf:
    - $ref: '#/definitions/KalturaDistributionProviderFilter'
    anyOf:
    - $ref: '#/definitions/KalturaTimeWarnerDistributionProviderFilter'
    description: '`abstract`'
    discriminator: objectType
    properties:
      objectType:
        enum:
        - KalturaTimeWarnerDistributionProviderFilter
        type: string
    title: KalturaTimeWarnerDistributionProviderBaseFilter
    type: object
    x-abstract: true
  KalturaResponseProfileHolder:
    allOf:
    - $ref: '#/definitions/KalturaBaseResponseProfile'
    properties:
      id:
        description: Auto generated numeric identifier
        type: integer
      systemName:
        description: Unique system name
        type: string
    title: KalturaResponseProfileHolder
    type: object
  KalturaTVComDistributionProviderFilter:
    allOf:
[...]
