openapi: 3.2.0
info:
  title: Kaltura Search History API
  version: '1.0'
  description: 'Operations tagged searchHistory across 2 of this provider''s published API definitions: ott.openapi.json, ovp.openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://tvpapi-us-preprod.ott.kaltura.com/api_v3
- url: http://tvpapi-us-preprod.ott.kaltura.com/api_v3
- url: https://www.kaltura.com/api_v3
- url: http://www.kaltura.com/api_v3
security:
- ks: []
tags:
- name: searchHistory
paths:
  /service/searchhistory/action/clean:
    post:
      description: Clean the user’s search history
      operationId: searchHistory.clean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
      tags:
      - searchHistory
      x-kaltura-format: post
      x-kaltura-parameters:
      - filter
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OTTRequest'
              properties:
                filter:
                  $ref: '#/components/schemas/KalturaSearchHistoryFilter'
              type: object
      summary: Search history clean
      x-summary-source: derived
    servers:
    - url: https://tvpapi-us-preprod.ott.kaltura.com/api_v3
    - url: http://tvpapi-us-preprod.ott.kaltura.com/api_v3
  /service/searchhistory/action/delete:
    post:
      description: 'Delete a specific search history.

        Possible error code: 2032 - ItemNotFound'
      operationId: searchHistory.delete
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
      tags:
      - searchHistory
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OTTRequest'
              properties:
                id:
                  type: string
              type: object
      summary: Search history delete
      x-summary-source: derived
    servers:
    - url: https://tvpapi-us-preprod.ott.kaltura.com/api_v3
    - url: http://tvpapi-us-preprod.ott.kaltura.com/api_v3
  /service/searchhistory/action/list:
    post:
      description: Get user's last search requests
      operationId: searchHistory.list
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KalturaSearchHistoryListResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/KalturaSearchHistoryListResponse'
      tags:
      - searchHistory
      x-kaltura-format: post
      x-kaltura-parameters:
      - filter
      - pager
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OTTRequest'
              properties:
                filter:
                  $ref: '#/components/schemas/KalturaSearchHistoryFilter'
                pager:
                  $ref: '#/components/schemas/KalturaFilterPager'
              type: object
      summary: Search history list
      x-summary-source: derived
    servers:
    - url: https://tvpapi-us-preprod.ott.kaltura.com/api_v3
    - url: http://tvpapi-us-preprod.ott.kaltura.com/api_v3
  /service/searchhistory_searchhistory/action/delete:
    post:
      operationId: searchHistory.delete
      parameters:
      - $ref: '#/components/parameters/ks'
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/clientTag'
      - $ref: '#/components/parameters/partnerId'
      - $ref: '#/components/parameters/language'
      - $ref: '#/components/parameters/responseProfile'
      responses:
        '200':
          description: Success
      tags:
      - searchHistory
      x-kaltura-format: post
      x-kaltura-parameters:
      - searchTerm
      requestBody:
        content:
          application/json:
            schema:
              properties:
                searchTerm:
                  type: string
              required:
              - searchTerm
              type: object
      summary: Search history delete
      x-summary-source: derived
    servers:
    - url: https://www.kaltura.com/api_v3
    - url: http://www.kaltura.com/api_v3
  /service/searchhistory_searchhistory/action/list:
    post:
      operationId: searchHistory.list
      parameters:
      - $ref: '#/components/parameters/ks'
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/clientTag'
      - $ref: '#/components/parameters/partnerId'
      - $ref: '#/components/parameters/language'
      - $ref: '#/components/parameters/responseProfile'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KalturaESearchHistoryListResponse'
      tags:
      - searchHistory
      x-kaltura-format: post
      x-kaltura-parameters:
      - filter
      requestBody:
        content:
          application/json:
            schema:
              properties:
                filter:
                  $ref: '#/components/schemas/KalturaESearchHistoryFilter'
              type: object
      summary: Search history list
      x-summary-source: derived
    servers:
    - url: https://www.kaltura.com/api_v3
    - url: http://www.kaltura.com/api_v3
components:
  schemas:
    KalturaBookmarkFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Filtering Assets requests
      properties:
        assetIdIn:
          description: Comma separated list of assets identifiers
          type: string
        assetTypeEqual:
          description: 'Enum Type: `KalturaAssetType`


            Asset type'
          enum:
          - media
          - recording
          - epg
          type: string
          x-enumLabels:
          - MEDIA
          - RECORDING
          - EPG
          x-enumType: KalturaAssetType
        orderBy:
          enum:
          - POSITION_ASC
          - POSITION_DESC
          type: string
          x-enumLabels:
          - POSITION_ASC
          - POSITION_DESC
          x-enumType: KalturaBookmarkOrderBy
      title: KalturaBookmarkFilter
      type: object
    KalturaAssetHistoryFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        assetIdIn:
          description: Comma separated list of asset identifiers.
          type: string
        daysLessThanOrEqual:
          description: How many days back to return the watched media. If omitted, default to 7 days
          type: integer
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaAssetHistoryOrderBy
        statusEqual:
          description: "Enum Type: `KalturaWatchStatus`\n\nWhich type of recently watched media to include in the result – those that finished watching, those that are in progress or both.\n            If omitted or specified filter = all – return all types.\n            Allowed values: progress – return medias that are in-progress, done – return medias that finished watching."
          enum:
          - progress
          - done
          - all
          type: string
          x-enumLabels:
          - PROGRESS
          - DONE
          - ALL
          x-enumType: KalturaWatchStatus
        typeIn:
          description: "Comma separated list of asset types to search within.\n            Possible values: 0 – EPG linear programs entries, any media type ID (according to media type IDs defined dynamically in the system).\n            If omitted – all types should be included."
          type: string
      title: KalturaAssetHistoryFilter
      type: object
    KalturaDynamicOrderBy:
      description: Kaltura Asset Order
      properties:
        name:
          description: order by name
          type: string
        orderBy:
          description: 'Enum Type: `KalturaMetaTagOrderBy`


            order by meta asc/desc'
          enum:
          - META_ASC
          - META_DESC
          type: string
          x-enumLabels:
          - META_ASC
          - META_DESC
          x-enumType: KalturaMetaTagOrderBy
      title: KalturaDynamicOrderBy
      type: object
    KalturaFilter:
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      oneOf:
      - $ref: '#/components/schemas/KalturaRelatedObjectFilter'
      - $ref: '#/components/schemas/KalturaChannelsFilter'
      - $ref: '#/components/schemas/KalturaMediaFileFilter'
      - $ref: '#/components/schemas/KalturaImageFilter'
      - $ref: '#/components/schemas/KalturaImageTypeFilter'
      - $ref: '#/components/schemas/KalturaTagFilter'
      - $ref: '#/components/schemas/KalturaAssetStructFilter'
      - $ref: '#/components/schemas/KalturaCurrencyFilter'
      - $ref: '#/components/schemas/KalturaPersistedFilter'
      - $ref: '#/components/schemas/KalturaCollectionFilter'
      - $ref: '#/components/schemas/KalturaPricePlanFilter'
      - $ref: '#/components/schemas/KalturaPriceDetailsFilter'
      - $ref: '#/components/schemas/KalturaSubscriptionSetFilter'
      - $ref: '#/components/schemas/KalturaLanguageFilter'
      - $ref: '#/components/schemas/KalturaMetaFilter'
      - $ref: '#/components/schemas/KalturaCountryFilter'
      - $ref: '#/components/schemas/KalturaSearchHistoryFilter'
      - $ref: '#/components/schemas/KalturaConfigurationsFilter'
      - $ref: '#/components/schemas/KalturaReportFilter'
      - $ref: '#/components/schemas/KalturaConfigurationGroupTagFilter'
      - $ref: '#/components/schemas/KalturaConfigurationGroupDeviceFilter'
      - $ref: '#/components/schemas/KalturaHouseholdDeviceFilter'
      - $ref: '#/components/schemas/KalturaRegionFilter'
      - $ref: '#/components/schemas/KalturaUserAssetRuleFilter'
      - $ref: '#/components/schemas/KalturaParentalRuleFilter'
      - $ref: '#/components/schemas/KalturaExportTaskFilter'
      - $ref: '#/components/schemas/KalturaAssetCommentFilter'
      - $ref: '#/components/schemas/KalturaBookmarkFilter'
      - $ref: '#/components/schemas/KalturaSeriesRecordingFilter'
      - $ref: '#/components/schemas/KalturaProductPriceFilter'
      - $ref: '#/components/schemas/KalturaEntitlementFilter'
      - $ref: '#/components/schemas/KalturaTransactionHistoryFilter'
      - $ref: '#/components/schemas/KalturaUserRoleFilter'
      - $ref: '#/components/schemas/KalturaPaymentMethodProfileFilter'
      - $ref: '#/components/schemas/KalturaAssetHistoryFilter'
      - $ref: '#/components/schemas/KalturaRecordingContextFilter'
      - $ref: '#/components/schemas/KalturaRecordingFilter'
      - $ref: '#/components/schemas/KalturaHouseholdUserFilter'
      - $ref: '#/components/schemas/KalturaEngagementFilter'
      - $ref: '#/components/schemas/KalturaReminderFilter'
      - $ref: '#/components/schemas/KalturaFollowTvSeriesFilter'
      - $ref: '#/components/schemas/KalturaInboxMessageFilter'
      - $ref: '#/components/schemas/KalturaAnnouncementFilter'
      - $ref: '#/components/schemas/KalturaPersonalFeedFilter'
      - $ref: '#/components/schemas/KalturaTopicFilter'
      - $ref: '#/components/schemas/KalturaSubscriptionFilter'
      - $ref: '#/components/schemas/KalturaSocialCommentFilter'
      - $ref: '#/components/schemas/KalturaSocialFriendActivityFilter'
      - $ref: '#/components/schemas/KalturaSocialActionFilter'
      - $ref: '#/components/schemas/KalturaFavoriteFilter'
      - $ref: '#/components/schemas/KalturaOTTUserFilter'
      properties:
        objectType:
          enum:
          - KalturaRelatedObjectFilter
          - KalturaChannelsFilter
          - KalturaMediaFileFilter
          - KalturaImageFilter
          - KalturaImageTypeFilter
          - KalturaTagFilter
          - KalturaAssetStructFilter
          - KalturaCurrencyFilter
          - KalturaPersistedFilter
          - KalturaCollectionFilter
          - KalturaPricePlanFilter
          - KalturaPriceDetailsFilter
          - KalturaSubscriptionSetFilter
          - KalturaLanguageFilter
          - KalturaMetaFilter
          - KalturaCountryFilter
          - KalturaSearchHistoryFilter
          - KalturaConfigurationsFilter
          - KalturaReportFilter
          - KalturaConfigurationGroupTagFilter
          - KalturaConfigurationGroupDeviceFilter
          - KalturaHouseholdDeviceFilter
          - KalturaRegionFilter
          - KalturaUserAssetRuleFilter
          - KalturaParentalRuleFilter
          - KalturaExportTaskFilter
          - KalturaAssetCommentFilter
          - KalturaBookmarkFilter
          - KalturaSeriesRecordingFilter
          - KalturaProductPriceFilter
          - KalturaEntitlementFilter
          - KalturaTransactionHistoryFilter
          - KalturaUserRoleFilter
          - KalturaPaymentMethodProfileFilter
          - KalturaAssetHistoryFilter
          - KalturaRecordingContextFilter
          - KalturaRecordingFilter
          - KalturaHouseholdUserFilter
          - KalturaEngagementFilter
          - KalturaReminderFilter
          - KalturaFollowTvSeriesFilter
          - KalturaInboxMessageFilter
          - KalturaAnnouncementFilter
          - KalturaPersonalFeedFilter
          - KalturaTopicFilter
          - KalturaSubscriptionFilter
          - KalturaSocialCommentFilter
          - KalturaSocialFriendActivityFilter
          - KalturaSocialActionFilter
          - KalturaFavoriteFilter
          - KalturaOTTUserFilter
          type: string
        orderBy:
          description: order by
          type: string
      title: KalturaFilter
      type: object
    KalturaPriceDetailsFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        idIn:
          description: Comma separated price identifiers
          type: string
        orderBy:
          enum:
          - NAME_ASC
          type: string
          x-enumLabels:
          - NAME_ASC
          x-enumType: KalturaPriceDetailsOrderBy
      title: KalturaPriceDetailsFilter
      type: object
    KalturaSubscriptionFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        externalIdIn:
          description: Comma separated subscription external IDs to get the subscriptions by
          type: string
        mediaFileIdEqual:
          description: Media-file ID to get the subscriptions by
          type: integer
        orderBy:
          enum:
          - START_DATE_ASC
          - START_DATE_DESC
          type: string
          x-enumLabels:
          - START_DATE_ASC
          - START_DATE_DESC
          x-enumType: KalturaSubscriptionOrderBy
        subscriptionIdIn:
          description: Comma separated subscription IDs to get the subscriptions by
          type: string
      title: KalturaSubscriptionFilter
      type: object
    OTTRequest:
      properties:
        ks:
          type: string
        version:
          default: 3.6.287.20720
          type: string
      type: object
    KalturaRecordingFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Filtering recordings
      properties:
        filterExpression:
          description: KSQL expression
          type: string
        orderBy:
          enum:
          - TITLE_ASC
          - TITLE_DESC
          - START_DATE_ASC
          - START_DATE_DESC
          type: string
          x-enumLabels:
          - TITLE_ASC
          - TITLE_DESC
          - START_DATE_ASC
          - START_DATE_DESC
          x-enumType: KalturaRecordingOrderBy
        statusIn:
          description: Recording Statuses
          type: string
      title: KalturaRecordingFilter
      type: object
    KalturaFilterPager:
      description: The KalturaFilterPager object enables paging management to be applied upon service list actions
      properties:
        pageIndex:
          description: The page number for which {pageSize} of objects should be retrieved
          type: integer
        pageSize:
          description: The number of objects to retrieve. Possible range 1 ≤ value ≤ 50. If omitted or value &lt; 1 - will be set to 25. If a value &gt; 50 provided – will be set to 50
          type: integer
      title: KalturaFilterPager
      type: object
    KalturaCollectionFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Collection Filter
      properties:
        collectionIdIn:
          description: Comma separated collection IDs
          type: string
        mediaFileIdEqual:
          description: Media-file ID to get the subscriptions by
          type: integer
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaCollectionOrderBy
      title: KalturaCollectionFilter
      type: object
    KalturaCurrencyFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Currency filter
      properties:
        codeIn:
          description: Currency codes
          type: string
        orderBy:
          enum:
          - NAME_ASC
          - NAME_DESC
          - CODE_ASC
          - CODE_DESC
          type: string
          x-enumLabels:
          - NAME_ASC
          - NAME_DESC
          - CODE_ASC
          - CODE_DESC
          x-enumType: KalturaCurrencyOrderBy
      title: KalturaCurrencyFilter
      type: object
    KalturaHouseholdDeviceFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        deviceFamilyIdIn:
          description: Device family Ids
          type: string
        householdIdEqual:
          description: The identifier of the household
          type: integer
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaHouseholdDeviceOrderBy
      title: KalturaHouseholdDeviceFilter
      type: object
    KalturaRelatedObjectFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: '`abstract`


        Define KalturaRelatedObjectFilter'
      discriminator:
        propertyName: objectType
      oneOf:
      - $ref: '#/components/schemas/KalturaAggregationCountFilter'
      properties:
        objectType:
          enum:
          - KalturaAggregationCountFilter
          type: string
      title: KalturaRelatedObjectFilter
      type: object
    KalturaConfigurationGroupTagFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Configuration group tag filter
      properties:
        configurationGroupIdEqual:
          description: the ID of the configuration group for which to return related configurations group tags
          type: string
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaConfigurationGroupTagOrderBy
      title: KalturaConfigurationGroupTagFilter
      type: object
    KalturaPricePlanFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        idIn:
          description: Comma separated price plans identifiers
          type: string
        orderBy:
          enum:
          - CREATE_DATE_DESC
          type: string
          x-enumLabels:
          - CREATE_DATE_DESC
          x-enumType: KalturaPricePlanOrderBy
      title: KalturaPricePlanFilter
      type: object
    KalturaSeriesRecordingFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Filtering recordings
      properties:
        orderBy:
          enum:
          - START_DATE_ASC
          - START_DATE_DESC
          - ID_ASC
          - ID_DESC
          - SERIES_ID_ASC
          - SERIES_ID_DESC
          type: string
          x-enumLabels:
          - START_DATE_ASC
          - START_DATE_DESC
          - ID_ASC
          - ID_DESC
          - SERIES_ID_ASC
          - SERIES_ID_DESC
          x-enumType: KalturaSeriesRecordingOrderBy
      title: KalturaSeriesRecordingFilter
      type: object
    KalturaTransactionHistoryFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Transactions filter
      properties:
        endDateLessThanOrEqual:
          description: Filter transactions earlier than specific date
          type: integer
        entityReferenceEqual:
          description: 'Enum Type: `KalturaEntityReferenceBy`


            Reference type to filter by'
          enum:
          - user
          - household
          type: string
          x-enumLabels:
          - USER
          - HOUSEHOLD
          x-enumType: KalturaEntityReferenceBy
        orderBy:
          enum:
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          type: string
          x-enumLabels:
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          x-enumType: KalturaTransactionHistoryOrderBy
        startDateGreaterThanOrEqual:
          description: Filter transactions later than specific date
          type: integer
      title: KalturaTransactionHistoryFilter
      type: object
    KalturaEntitlementFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Entitlements filter
      properties:
        entityReferenceEqual:
          description: 'Enum Type: `KalturaEntityReferenceBy`


            Reference type to filter by'
          enum:
          - user
          - household
          type: string
          x-enumLabels:
          - USER
          - HOUSEHOLD
          x-enumType: KalturaEntityReferenceBy
        isExpiredEqual:
          description: Is expired
          type: boolean
        orderBy:
          enum:
          - PURCHASE_DATE_ASC
          - PURCHASE_DATE_DESC
          type: string
          x-enumLabels:
          - PURCHASE_DATE_ASC
          - PURCHASE_DATE_DESC
          x-enumType: KalturaEntitlementOrderBy
        productTypeEqual:
          description: 'Enum Type: `KalturaTransactionType`


            The type of the entitlements to return'
          enum:
          - ppv
          - subscription
          - collection
          type: string
          x-enumLabels:
          - PPV
          - SUBSCRIPTION
          - COLLECTION
          x-enumType: KalturaTransactionType
      title: KalturaEntitlementFilter
      type: object
    KalturaUserAssetRuleFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: User asset rule filter
      properties:
        assetIdEqual:
          description: Asset identifier to filter by
          type: integer
        assetTypeEqual:
          description: Asset type to filter by - 0 = EPG, 1 = media
          type: integer
        orderBy:
          enum:
          - NAME_ASC
          - NAME_DESC
          type: string
          x-enumLabels:
          - NAME_ASC
          - NAME_DESC
          x-enumType: KalturaUserAssetRuleOrderBy
      title: KalturaUserAssetRuleFilter
      type: object
    KalturaDeviceReportFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaReportFilter'
      description: Report filter
      properties:
        lastAccessDateGreaterThanOrEqual:
          description: Filter device configuration later than specific date
          type: integer
      title: KalturaDeviceReportFilter
      type: object
    KalturaSearchHistoryListResponse:
      allOf:
      - $ref: '#/components/schemas/KalturaListResponse'
      description: Search history wrapper
      properties:
        objects:
          items:
            $ref: '#/components/schemas/KalturaSearchHistory'
          type: array
      title: KalturaSearchHistoryListResponse
      type: object
    KalturaAnnouncementFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: order announcements
      properties:
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaAnnouncementOrderBy
      title: KalturaAnnouncementFilter
      type: object
    KalturaFollowTvSeriesFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        orderBy:
          enum:
          - START_DATE_DESC
          - START_DATE_ASC
          type: string
          x-enumLabels:
          - START_DATE_DESC
          - START_DATE_ASC
          x-enumType: KalturaFollowTvSeriesOrderBy
      title: KalturaFollowTvSeriesFilter
      type: object
    KalturaSearchHistoryFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaSearchHistoryOrderBy
      title: KalturaSearchHistoryFilter
      type: object
    KalturaReportFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: '`abstract`


        Report filter'
      discriminator:
        propertyName: objectType
      oneOf:
      - $ref: '#/components/schemas/KalturaDeviceReportFilter'
      properties:
        objectType:
          enum:
          - KalturaDeviceReportFilter
          type: string
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaReportOrderBy
      title: KalturaReportFilter
      type: object
    KalturaSeasonsReminderFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaReminderFilter'
      properties:
        epgChannelIdEqual:
          description: EPG channel ID
          type: integer
        seasonNumberIn:
          description: Comma separated season numbers
          type: string
        seriesIdEqual:
          description: Series ID
          type: string
      title: KalturaSeasonsReminderFilter
      type: object
    KalturaHouseholdUserFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        householdIdEqual:
          description: The identifier of the household
          type: integer
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaHouseholdUserOrderBy
      title: KalturaHouseholdUserFilter
      type: object
    KalturaSocialCommentFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        assetIdEqual:
          description: Asset ID to filter by
          type: integer
        assetTypeEqual:
          description: 'Enum Type: `KalturaAssetType`


            Asset type to filter by, currently only VOD (media)'
          enum:
          - media
          - recording
          - epg
          type: string
          x-enumLabels:
          - MEDIA
          - RECORDING
          - EPG
          x-enumType: KalturaAssetType
        createDateGreaterThan:
          description: The create date from which to get the comments
          type: integer
        orderBy:
          enum:
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          type: string
          x-enumLabels:
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          x-enumType: KalturaSocialCommentOrderBy
        socialPlatformEqual:
          description: 'Enum Type: `KalturaSocialPlatform`


            Comma separated list of social actions to filter by'
          enum:
          - IN_APP
          - FACEBOOK
          - TWITTER
          type: string
          x-enumLabels:
          - IN_APP
          - FACEBOOK
          - TWITTER
          x-enumType: KalturaSocialPlatform
      title: KalturaSocialCommentFilter
      type: object
    KalturaLanguageFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Language filter
      properties:
        codeIn:
          description: Language codes
          type: string
        orderBy:
          enum:
          - SYSTEM_NAME_ASC
          - SYSTEM_NAME_DESC
          - CODE_ASC
          - CODE_DESC
          type: string
          x-enumLabels:
          - SYSTEM_NAME_ASC
          - SYSTEM_NAME_DESC
          - CODE_ASC
          - CODE_DESC
          x-enumType: KalturaLanguageOrderBy
      title: KalturaLanguageFilter
      type: object
    KalturaEngagementFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaEngagementOrderBy
        sendTimeGreaterThanOrEqual:
          description: SendTime GreaterThanOrEqual
          type: integer
        typeIn:
          description: List of inbox message types to search within.
          type: string
      title: KalturaEngagementFilter
      type: object
    KalturaConfigurationGroupDeviceFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Configuration group device filter
      properties:
        configurationGroupIdEqual:
          description: the ID of the configuration group for which to return related configurations group devices
          type: string
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaConfigurationGroupDeviceOrderBy
      title: KalturaConfigurationGroupDeviceFilter
      type: object
    KalturaAggregationCountFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaRelatedObjectFilter'
      description: Kaltura Aggregation CountFilter
      properties:
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaAggregationCountOrderBy
      title: KalturaAggregationCountFilter
      type: object
    KalturaExportTaskFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Bulk export tasks filter
      properties:
        idIn:
          description: Comma separated tasks identifiers
          type: string
        orderBy:
          enum:
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          type: string
          x-enumLabels:
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          x-enumType: KalturaExportTaskOrderBy
      title: KalturaExportTaskFilter
      type: object
    KalturaTagFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        languageEqual:
          description: Language to filter by
          type: string
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaTagOrderBy
        tagEqual:
          description: Tag to filter by
          type: string
        tagStartsWith:
          description: Tag to filter by
          type: string
        typeEqual:
          description: Type identifier
          type: integer
      title: KalturaTagFilter
      type: object
    KalturaListResponse:
      description: Base list wrapper
      properties:
        totalCount:
          description: Total items
          type: integer
      title: KalturaListResponse
      type: object
    KalturaCountryFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Country filter
      properties:
        idIn:
          description: Country identifiers
          type: string
        ipEqual:
          description: Ip to identify the country
          type: string
        ipEqualCurrent:
          description: Indicates if to get the IP from the request
          type: boolean
        orderBy:
          enum:
          - NAME_ASC
          type: string
          x-enumLabels:
          - NAME_ASC
          x-enumType: KalturaCountryOrderBy
      title: KalturaCountryFilter
      type: object
    KalturaChannelsFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        idEqual:
          description: channel identifier to filter by
          type: integer
        nameEqual:
          description: Exact channel name to filter by
          type: string
        nameStartsWith:
          description: Channel name starts with (autocomplete)
          type: string
        orderBy:
          enum:
          - NONE
          - NAME_ASC
          - NAME_DESC
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          type: string
          x-enumLabels:
          - NONE
          - NAME_ASC
          - NAME_DESC
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          x-enumType: KalturaChannelsOrderBy
      title: KalturaChannelsFilter
      type: object
    KalturaSocialActionFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        actionTypeIn:
          description: Comma separated list of social actions to filter by
          type: string
        assetIdIn:
          description: Comma separated list of asset identifiers.
          type: string
        assetTypeEqual:
          description: 'Enum Type: `KalturaAssetType`


            Asset Type'
          enum:
          - media
          - recording
          - epg
          type: string
          x-enumLabels:
          - MEDIA
          - RECORDING
          - EPG
          x-enumType: KalturaAssetType
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaSocialActionOrderBy
      title: KalturaSocialActionFilter
      type: object
    KalturaUserRoleFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: User roles filter
      properties:
        currentUserRoleIdsContains:
          description: Indicates whether the results should be filtered by userId using the current
          type: boolean
        idIn:
          description: Comma separated roles identifiers
          type: string
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaUserRoleOrderBy
      title: KalturaUserRoleFilter
      type: object
    KalturaPersistedFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      oneOf:
      - $ref: '#/components/schemas/KalturaAssetFilter'
      properties:
        name:
          description: Name for the presisted filter. If empty, no action will be done. If has value, the filter will be saved and persisted in user&#39;s search history.
          type: string
        objectType:
          enum:
          - KalturaAssetFilter
          type: string
      title: KalturaPersistedFilter
      type: object
    KalturaMediaFileFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        assetIdEqual:
          description: Asset identifier to filter by
          type: integer
        idEqual:
          description: Asset file identifier to filter by
          type: integer
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaMediaFileOrderBy
      title: KalturaMediaFileFilter
      type: object
    KalturaSeriesReminderFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaReminderFilter'
      properties:
        epgChannelIdEqual:
          description: EPG channel ID
          type: integer
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaSeriesReminderOrderBy
        seriesIdIn:
          description: Comma separated series IDs
          type: string
      title: KalturaSeriesReminderFilter
      type: object
    KalturaOTTUserFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: OTT User filter
      properties:
        externalIdEqual:
          description: User external identifier
          type: string
        idIn:
          description: List of user identifiers separated by &#39;,&#39;
          type: string
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaOTTUserOrderBy
        usernameEqual:
          description: Username
          type: string
      title: KalturaOTTUserFilter
      type: object
    KalturaPaymentMethodProfileFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaPaymentMethodProfileOrderBy
        paymentGatewayIdEqual:
          description: Payment gateway identifier to list the payment methods for
          type: integer
      title: KalturaPaymentMethodProfileFilter
      type: object
    KalturaRecordingContextFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Filtering assets
      properties:
        assetIdIn:
          description: Comma separated asset ids
          type: string
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaRecordingContextOrderBy
      title: KalturaRecordingContextFilter
      type: object
    KalturaAssetReminderFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaReminderFilter'
      properties:
        orderBy:
          enum:
          - RELEVANCY_DESC
          - NAME_ASC
          - NAME_DESC
          - VIEWS_DESC
          - RATINGS_DESC
          - VOTES_DESC
          - START_DATE_DESC
          - START_DATE_ASC
          - LIKES_DESC
          type: string
          x-enumLabels:
          - RELEVANCY_DESC
          - NAME_ASC
          - NAME_DESC
          - VIEWS_DESC
          - RATINGS_DESC
          - VOTES_DESC
          - START_DATE_DESC
          - START_DATE_ASC
          - LIKES_DESC
          x-enumType: KalturaAssetReminderOrderBy
      title: KalturaAssetReminderFilter
      type: object
    KalturaAssetFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaPersistedFilter'
      properties:
        dynamicOrderBy:
          $ref: '#/components/schemas/KalturaDynamicOrderBy'
        orderBy:
          enum:
          - RELEVANCY_DESC
          - NAME_ASC
          - NAME_DESC
          - VIEWS_DESC
          - RATINGS_DESC
          - VOTES_DESC
          - START_DATE_DESC
          - START_DATE_ASC
          - LIKES_DESC
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          type: string
          x-enumLabels:
          - RELEVANCY_DESC
          - NAME_ASC
          - NAME_DESC
          - VIEWS_DESC
          - RATINGS_DESC
          - VOTES_DESC
          - START_DATE_DESC
          - START_DATE_ASC
          - LIKES_DESC
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          x-enumType: KalturaAssetOrderBy
      title: KalturaAssetFilter
      type: object
    KalturaMetaFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Meta filter
      properties:
        assetStructIdEqual:
          description: Filter Metas that are contained in a specific asset struct
          type: integer
        dataTypeEqual:
          description: 'Enum Type: `KalturaMetaDataType`


            Meta data type to filter by'
          enum:
          - STRING
          - MULTILINGUAL_STRING
          - NUMBER
          - BOOLEAN
          - DATE
          type: string
          x-enumLabels:
          - STRING
          - MULTILINGUAL_STRING
          - NUMBER
          - BOOLEAN
          - DATE
          x-enumType: KalturaMetaDataType
        idIn:
          description: Comma separated identifiers
          type: string
        multipleValueEqual:
          description: Filter metas by multipleValueEqual value
          type: boolean
        orderBy:
          enum:
          - NAME_ASC
          - NAME_DESC
          - SYSTEM_NAME_ASC
          - SYSTEM_NAME_DESC
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          - UPDATE_DATE_ASC
          - UPDATE_DATE_DESC
          type: string
          x-enumLabels:
          - NAME_ASC
          - NAME_DESC
          - SYSTEM_NAME_ASC
          - SYSTEM_NAME_DESC
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          - UPDATE_DATE_ASC
          - UPDATE_DATE_DESC
          x-enumType: KalturaMetaOrderBy
      title: KalturaMetaFilter
      type: object
    KalturaSocialFriendActivityFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        actionTypeIn:
          description: Comma separated list of social actions to filter by
          type: string
        assetIdEqual:
          description: Asset ID to filter by
          type: integer
        assetTypeEqual:
          description: 'Enum Type: `KalturaAssetType`


            Asset type to filter by, currently only VOD (media)'
          enum:
          - media
          - recording
          - epg
          type: string
          x-enumLabels:
          - MEDIA
          - RECORDING
          - EPG
          x-enumType: KalturaAssetType
        orderBy:
          enum:
          - NONE
          - UPDATE_DATE_DESC
          type: string
          x-enumLabels:
          - NONE
          - UPDATE_DATE_DESC
          x-enumType: KalturaSocialFriendActivityOrderBy
      title: KalturaSocialFriendActivityFilter
      type: object
    KalturaPersonalFeedFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        orderBy:
          enum:
          - RELEVANCY_DESC
          - NAME_ASC
          - NAME_DESC
          - VIEWS_DESC
          - RATINGS_DESC
          - VOTES_DESC
          - START_DATE_DESC
          - START_DATE_ASC
          type: string
          x-enumLabels:
          - RELEVANCY_DESC
          - NAME_ASC
          - NAME_DESC
          - VIEWS_DESC
          - RATINGS_DESC
          - VOTES_DESC
          - START_DATE_DESC
          - START_DATE_ASC
          x-enumType: KalturaPersonalFeedOrderBy
      title: KalturaPersonalFeedFilter
      type: object
    KalturaRegionFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        externalIdIn:
          description: List of comma separated regions external identifiers
          type: string
        orderBy:
          enum:
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          type: string
          x-enumLabels:
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          x-enumType: KalturaRegionOrderBy
      title: KalturaRegionFilter
      type: object
    KalturaFavoriteFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Favorite request filter
      properties:
        mediaIdIn:
          description: Media identifiers from which to filter the favorite assets
          type: string
        mediaTypeEqual:
          description: Media type to filter by the favorite assets
          type: integer
        orderBy:
          enum:
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          type: string
          x-enumLabels:
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          x-enumType: KalturaFavoriteOrderBy
        udidEqualCurrent:
          description: Indicates whether the results should be filtered by origin UDID using the current
          type: boolean
      title: KalturaFavoriteFilter
      type: object
    KalturaProductPriceFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        collectionIdIn:
          description: Comma separated collections identifiers
          type: string
        couponCodeEqual:
          description: Discount coupon code
          type: string
        fileIdIn:
          description: Comma separated media files identifiers
          type: string
        isLowest:
          description: A flag that indicates if only the lowest price of an item should return
          type: boolean
        orderBy:
          enum:
          - PRODUCT_ID_ASC
          - PRODUCT_ID_DESC
          type: string
          x-enumLabels:
          - PRODUCT_ID_ASC
          - PRODUCT_ID_DESC
          x-enumType: KalturaProductPriceOrderBy
        subscriptionIdIn:
          description: Comma separated subscriptions identifiers
          type: string
      title: KalturaProductPriceFilter
      type: object
    KalturaParentalRuleFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        entityReferenceEqual:
          description: 'Enum Type: `KalturaEntityReferenceBy`


            Reference type to filter by'
          enum:
          - user
          - household
          type: string
          x-enumLabels:
          - USER
          - HOUSEHOLD
          x-enumType: KalturaEntityReferenceBy
        orderBy:
          enum:
          - PARTNER_SORT_VALUE
          type: string
          x-enumLabels:
          - PARTNER_SORT_VALUE
          x-enumType: KalturaParentalRuleOrderBy
      title: KalturaParentalRuleFilter
      type: object
    KalturaSubscriptionSetFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        idIn:
          description: Comma separated identifiers
          type: string
        orderBy:
          enum:
          - NAME_ASC
          - NAME_DESC
          type: string
          x-enumLabels:
          - NAME_ASC
          - NAME_DESC
          x-enumType: KalturaSubscriptionSetOrderBy
        subscriptionIdContains:
          description: Comma separated subscription identifiers
          type: string
        typeEqual:
          description: 'Enum Type: `KalturaSubscriptionSetType`


            Subscription Type'
          enum:
          - SWITCH
          - DEPENDENCY
          type: string
          x-enumLabels:
          - SWITCH
          - DEPENDENCY
          x-enumType: KalturaSubscriptionSetType
      title: KalturaSubscriptionSetFilter
      type: object
    KalturaAssetCommentFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        assetIdEqual:
          description: Asset Id
          type: integer
        assetTypeEqual:
          description: 'Enum Type: `KalturaAssetType`


            Asset Type'
          enum:
          - media
          - recording
          - epg
          type: string
          x-enumLabels:
          - MEDIA
          - RECORDING
          - EPG
          x-enumType: KalturaAssetType
        orderBy:
          enum:
          - CREATE_DATE_DESC
          type: string
          x-enumLabels:
          - CREATE_DATE_DESC
          x-enumType: KalturaAssetCommentOrderBy
      title: KalturaAssetCommentFilter
      type: object
    KalturaSearchHistory:
      description: Search history info
      properties:
        action:
          description: '`readOnly`


            Kaltura OTT Service Action'
          readOnly: true
          type: string
        createdAt:
          description: '`readOnly`


            When search was performed'
          readOnly: true
          type: integer
        deviceId:
          description: '`readOnly`


            Unique Device ID'
          readOnly: true
          type: string
        filter:
          description: '`readOnly`


            Filter'
          readOnly: true
          type: string
        id:
          description: '`readOnly`


            Search ID'
          readOnly: true
          type: string
        language:
          description: '`readOnly`


            Search language'
          readOnly: true
          type: string
        name:
          description: '`readOnly`


            Search name'
          readOnly: true
          type: string
        service:
          description: '`readOnly`


            Kaltura OTT Service'
          readOnly: true
          type: string
      title: KalturaSearchHistory
      type: object
    KalturaAssetStructFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Filtering Asset Structs
      properties:
        idIn:
          description: Comma separated identifiers
          type: string
        isProtectedEqual:
          description: Filter Asset Structs by isProtectedEqual value
          type: boolean
        metaIdEqual:
          description: Filter Asset Structs that contain a specific meta id
          type: integer
        orderBy:
          enum:
          - NAME_ASC
          - NAME_DESC
          - SYSTEM_NAME_ASC
          - SYSTEM_NAME_DESC
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          - UPDATE_DATE_ASC
          - UPDATE_DATE_DESC
          type: string
          x-enumLabels:
          - NAME_ASC
          - NAME_DESC
          - SYSTEM_NAME_ASC
          - SYSTEM_NAME_DESC
          - CREATE_DATE_ASC
          - CREATE_DATE_DESC
          - UPDATE_DATE_ASC
          - UPDATE_DATE_DESC
          x-enumType: KalturaAssetStructOrderBy
      title: KalturaAssetStructFilter
      type: object
    KalturaTopicFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaTopicOrderBy
      title: KalturaTopicFilter
      type: object
    KalturaImageTypeFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        idIn:
          description: IDs to filter by
          type: string
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaImageTypeOrderBy
        ratioIdIn:
          description: Ratio IDs to filter by
          type: string
      title: KalturaImageTypeFilter
      type: object
    KalturaReminderFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      oneOf:
      - $ref: '#/components/schemas/KalturaAssetReminderFilter'
      - $ref: '#/components/schemas/KalturaSeriesReminderFilter'
      - $ref: '#/components/schemas/KalturaSeasonsReminderFilter'
      properties:
        objectType:
          enum:
          - KalturaAssetReminderFilter
          - KalturaSeriesReminderFilter
          - KalturaSeasonsReminderFilter
          type: string
      title: KalturaReminderFilter
      type: object
    KalturaImageFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        idIn:
          description: IDs to filter by
          type: string
        imageObjectIdEqual:
          description: ID of the object the is related to, to filter by
          type: integer
        imageObjectTypeEqual:
          description: 'Enum Type: `KalturaImageObjectType`


            Type of the object the image is related to, to filter by'
          enum:
          - MEDIA_ASSET
          - PROGRAM_ASSET
          - CHANNEL
          - CATEGORY
          - PARTNER
          - IMAGE_TYPE
          type: string
          x-enumLabels:
          - MEDIA_ASSET
          - PROGRAM_ASSET
          - CHANNEL
          - CATEGORY
          - PARTNER
          - IMAGE_TYPE
          x-enumType: KalturaImageObjectType
        isDefaultEqual:
          description: Filter images that are default on atleast on image type or not default at any
          type: boolean
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaImageOrderBy
      title: KalturaImageFilter
      type: object
    KalturaInboxMessageFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      properties:
        createdAtGreaterThanOrEqual:
          description: createdAtGreaterThanOrEqual
          type: integer
        createdAtLessThanOrEqual:
          description: createdAtLessThanOrEqual
          type: integer
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaInboxMessageOrderBy
        typeIn:
          description: List of inbox message types to search within.
          type: string
      title: KalturaInboxMessageFilter
      type: object
    KalturaConfigurationsFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFilter'
      description: Configuration filter
      properties:
        configurationGroupIdEqual:
          description: the ID of the configuration group for which to return related configurations
          type: string
        orderBy:
          enum:
          - NONE
          type: string
          x-enumLabels:
          - NONE
          x-enumType: KalturaConfigurationsOrderBy
      title: KalturaConfigurationsFilter
      type: object
    KalturaIdeticDistributionProfileFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaIdeticDistributionProfileBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaIdeticDistributionProfileOrderBy
      title: KalturaIdeticDistributionProfileFilter
      type: object
    KalturaScpDropFolder:
      allOf:
      - $ref: '#/components/schemas/KalturaSshDropFolder'
      properties: {}
      title: KalturaScpDropFolder
      type: object
    KalturaScheduledTaskProfile:
      properties:
        createdAt:
          description: '`readOnly`'
          readOnly: true
          type: integer
        description:
          type: string
        id:
          description: '`readOnly`'
          readOnly: true
          type: integer
        lastExecutionStartedAt:
          type: integer
        maxTotalCountAllowed:
          description: The maximum number of result count allowed to be processed by this profile per execution
          type: integer
        name:
          type: string
        objectFilter:
          $ref: '#/components/schemas/KalturaFilter_2'
        objectFilterEngineType:
          description: 'Enum Type: `KalturaObjectFilterEngineType`


            The type of engine to use to list objects using the given "objectFilter"'
          enum:
          - '1'
          - '2'
          type: string
          x-enumLabels:
          - ENTRY
          - ENTRY_VENDOR_TASK
          x-enumType: KalturaObjectFilterEngineType
        objectTasks:
          items:
            $ref: '#/components/schemas/KalturaObjectTask'
          type: array
        partnerId:
          description: '`readOnly`'
          readOnly: true
          type: integer
        status:
          description: 'Enum Type: `KalturaScheduledTaskProfileStatus`'
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: integer
          x-enumLabels:
          - DISABLED
          - ACTIVE
          - DELETED
          - SUSPENDED
          - DRY_RUN_ONLY
          x-enumType: KalturaScheduledTaskProfileStatus
        systemName:
          type: string
        updatedAt:
          description: '`readOnly`'
          readOnly: true
          type: integer
      title: KalturaScheduledTaskProfile
      type: object
    KalturaBusinessProcessAbortNotificationTemplate:
      allOf:
      - $ref: '#/components/schemas/KalturaBusinessProcessNotificationTemplate'
      properties: {}
      title: KalturaBusinessProcessAbortNotificationTemplate
      type: object
    KalturaAuditTrailBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaRelatedFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaAuditTrailFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        actionEqual:
          description: 'Enum Type: `KalturaAuditTrailAction`'
          enum:
          - CHANGED
          - CONTENT_VIEWED
          - COPIED
          - CREATED
          - DELETED
          - FILE_SYNC_CREATED
          - RELATION_ADDED
          - RELATION_REMOVED
          - VIEWED
          type: string
          x-enumLabels:
          - CHANGED
          - CONTENT_VIEWED
          - COPIED
          - CREATED
          - DELETED
          - FILE_SYNC_CREATED
          - RELATION_ADDED
          - RELATION_REMOVED
          - VIEWED
          x-enumType: KalturaAuditTrailAction
        actionIn:
          type: string
        auditObjectTypeEqual:
          description: 'Enum Type: `KalturaAuditTrailObjectType`'
          enum:
          - BatchJob
          - EmailIngestionProfile
          - FileSync
          - KshowKuser
          - Metadata
          - MetadataProfile
          - Partner
          - Permission
          - ReachProfile
          - UploadToken
          - UserLoginData
          - UserRole
          - accessControl
          - category
          - categoryEntry
          - conversionProfile2
          - entry
          - flavorAsset
          - flavorParams
          - flavorParamsConversionProfile
          - flavorParamsOutput
          - kshow
          - kuser
          - mediaInfo
          - moderation
          - roughcutEntry
          - syndicationFeed
          - thumbAsset
          - thumbParams
          - thumbParamsOutput
          - uiConf
          - widget
          type: string
          x-enumLabels:
          - BATCH_JOB
          - EMAIL_INGESTION_PROFILE
          - FILE_SYNC
          - KSHOW_KUSER
          - METADATA
          - METADATA_PROFILE
          - PARTNER
          - PERMISSION
          - REACH_PROFILE
          - UPLOAD_TOKEN
          - USER_LOGIN_DATA
          - USER_ROLE
          - ACCESS_CONTROL
          - CATEGORY
          - CATEGORY_ENTRY
          - CONVERSION_PROFILE_2
          - ENTRY
          - FLAVOR_ASSET
          - FLAVOR_PARAMS
          - FLAVOR_PARAMS_CONVERSION_PROFILE
          - FLAVOR_PARAMS_OUTPUT
          - KSHOW
          - KUSER
          - MEDIA_INFO
          - MODERATION
          - ROUGHCUT
          - SYNDICATION
          - THUMBNAIL_ASSET
          - THUMBNAIL_PARAMS
          - THUMBNAIL_PARAMS_OUTPUT
          - UI_CONF
          - WIDGET
          x-enumType: KalturaAuditTrailObjectType
        auditObjectTypeIn:
          type: string
        clientTagEqual:
          type: string
        contextEqual:
          description: 'Enum Type: `KalturaAuditTrailContext`'
          enum:
          - -1
          - 0
          - 1
          - 2
          type: integer
          x-enumLabels:
          - CLIENT
          - SCRIPT
          - PS2
          - API_V3
          x-enumType: KalturaAuditTrailContext
        contextIn:
          type: string
        createdAtGreaterThanOrEqual:
          type: integer
        createdAtLessThanOrEqual:
          type: integer
        entryIdEqual:
          type: string
        entryIdIn:
          type: string
        entryPointEqual:
          type: string
        entryPointIn:
          type: string
        idEqual:
          type: integer
        ipAddressEqual:
          type: string
        ipAddressIn:
          type: string
        ksEqual:
          type: string
        masterPartnerIdEqual:
          type: integer
        masterPartnerIdIn:
          type: string
        objectIdEqual:
          type: string
        objectIdIn:
          type: string
        objectType:
          enum:
          - KalturaAuditTrailFilter
          type: string
        parsedAtGreaterThanOrEqual:
          type: integer
        parsedAtLessThanOrEqual:
          type: integer
        partnerIdEqual:
          type: integer
        partnerIdIn:
          type: string
        relatedObjectIdEqual:
          type: string
        relatedObjectIdIn:
          type: string
        relatedObjectTypeEqual:
          description: 'Enum Type: `KalturaAuditTrailObjectType`'
          enum:
          - BatchJob
          - EmailIngestionProfile
          - FileSync
          - KshowKuser
          - Metadata
          - MetadataProfile
          - Partner
          - Permission
          - ReachProfile
          - UploadToken
          - UserLoginData
          - UserRole
          - accessControl
          - category
          - categoryEntry
          - conversionProfile2
          - entry
          - flavorAsset
          - flavorParams
          - flavorParamsConversionProfile
          - flavorParamsOutput
          - kshow
          - kuser
          - mediaInfo
          - moderation
          - roughcutEntry
          - syndicationFeed
          - thumbAsset
          - thumbParams
          - thumbParamsOutput
          - uiConf
          - widget
          type: string
          x-enumLabels:
          - BATCH_JOB
          - EMAIL_INGESTION_PROFILE
          - FILE_SYNC
          - KSHOW_KUSER
          - METADATA
          - METADATA_PROFILE
          - PARTNER
          - PERMISSION
          - REACH_PROFILE
          - UPLOAD_TOKEN
          - USER_LOGIN_DATA
          - USER_ROLE
          - ACCESS_CONTROL
          - CATEGORY
          - CATEGORY_ENTRY
          - CONVERSION_PROFILE_2
          - ENTRY
          - FLAVOR_ASSET
          - FLAVOR_PARAMS
          - FLAVOR_PARAMS_CONVERSION_PROFILE
          - FLAVOR_PARAMS_OUTPUT
          - KSHOW
          - KUSER
          - MEDIA_INFO
          - MODERATION
          - ROUGHCUT
          - SYNDICATION
          - THUMBNAIL_ASSET
          - THUMBNAIL_PARAMS
          - THUMBNAIL_PARAMS_OUTPUT
          - UI_CONF
          - WIDGET
          x-enumType: KalturaAuditTrailObjectType
        relatedObjectTypeIn:
          type: string
        requestIdEqual:
          type: string
        requestIdIn:
          type: string
        serverNameEqual:
          type: string
        serverNameIn:
          type: string
        statusEqual:
          description: 'Enum Type: `KalturaAuditTrailStatus`'
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-enumLabels:
          - PENDING
          - READY
          - FAILED
          x-enumType: KalturaAuditTrailStatus
        statusIn:
          type: string
        userIdEqual:
          type: string
        userIdIn:
          type: string
      title: KalturaAuditTrailBaseFilter
      type: object
      x-abstract: true
    KalturaESearchEntryBaseItem:
      allOf:
      - $ref: '#/components/schemas/KalturaESearchBaseItem'
      anyOf:
      - $ref: '#/components/schemas/KalturaESearchEntryOperator'
      - $ref: '#/components/schemas/KalturaESearchNestedOperator'
      - $ref: '#/components/schemas/KalturaESearchCaptionItem'
      - $ref: '#/components/schemas/KalturaESearchCuePointItem'
      - $ref: '#/components/schemas/KalturaESearchEntryMetadataItem'
      - $ref: '#/components/schemas/KalturaESearchCategoryEntryItem'
      - $ref: '#/components/schemas/KalturaESearchEntryItem'
      - $ref: '#/components/schemas/KalturaESearchUnifiedItem'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaESearchEntryOperator
          - KalturaESearchNestedOperator
          - KalturaESearchCaptionItem
          - KalturaESearchCuePointItem
          - KalturaESearchEntryMetadataItem
          - KalturaESearchCategoryEntryItem
          - KalturaESearchEntryItem
          - KalturaESearchUnifiedItem
          type: string
      title: KalturaESearchEntryBaseItem
      type: object
      x-abstract: true
    KalturaIdeticDistributionProvider:
      allOf:
      - $ref: '#/components/schemas/KalturaDistributionProvider'
      properties: {}
      title: KalturaIdeticDistributionProvider
      type: object
    KalturaCategoryUserAdvancedFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaSearchItem'
      properties:
        memberIdEq:
          type: string
        memberIdIn:
          type: string
        memberPermissionsMatchAnd:
          type: string
        memberPermissionsMatchOr:
          type: string
      title: KalturaCategoryUserAdvancedFilter
      type: object
    KalturaESearchCategoryParams:
      allOf:
      - $ref: '#/components/schemas/KalturaESearchParams'
      properties:
        searchOperator:
          $ref: '#/components/schemas/KalturaESearchCategoryOperator'
      title: KalturaESearchCategoryParams
      type: object
    KalturaVodScheduleEventFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaVodScheduleEventBaseFilter'
      properties: {}
      title: KalturaVodScheduleEventFilter
      type: object
    KalturaSyndicationDistributionProfile:
      allOf:
      - $ref: '#/components/schemas/KalturaDistributionProfile'
      properties:
        feedId:
          description: '`readOnly`'
          readOnly: true
          type: string
        xsl:
          type: string
      title: KalturaSyndicationDistributionProfile
      type: object
    KalturaIntelligentTaggingVendorTaskData:
      allOf:
      - $ref: '#/components/schemas/KalturaVendorTaskData'
      properties:
        assetId:
          description: '`insertOnly`


            Optional - The id of the caption asset object'
          type: string
      title: KalturaIntelligentTaggingVendorTaskData
      type: object
    KalturaPlaylistBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaBaseEntryFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaPlaylistFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaPlaylistFilter
          type: string
      title: KalturaPlaylistBaseFilter
      type: object
      x-abstract: true
    KalturaExportCsvJobData:
      allOf:
      - $ref: '#/components/schemas/KalturaJobData'
      anyOf:
      - $ref: '#/components/schemas/KalturaExportCsvJobData'
      - $ref: '#/components/schemas/KalturaEntryVendorTaskCsvJobData'
      - $ref: '#/components/schemas/KalturaMediaEsearchExportToCsvJobData'
      - $ref: '#/components/schemas/KalturaCategoriesCsvJobData'
      - $ref: '#/components/schemas/KalturaEntriesCsvJobData'
      - $ref: '#/components/schemas/KalturaUsersCsvJobData'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaExportCsvJobData
          - KalturaEntryVendorTaskCsvJobData
          - KalturaMediaEsearchExportToCsvJobData
          - KalturaCategoriesCsvJobData
          - KalturaEntriesCsvJobData
          - KalturaUsersCsvJobData
          type: string
        outputPath:
          description: The file location
          type: string
        sharedOutputPath:
          type: string
        userMail:
          description: The users email
          type: string
        userName:
          description: The users name
          type: string
      title: KalturaExportCsvJobData
      type: object
    KalturaRemoteDropFolder:
      allOf:
      - $ref: '#/components/schemas/KalturaDropFolder'
      anyOf:
      - $ref: '#/components/schemas/KalturaFtpDropFolder'
      - $ref: '#/components/schemas/KalturaMicrosoftTeamsDropFolder'
      - $ref: '#/components/schemas/KalturaScpDropFolder'
      - $ref: '#/components/schemas/KalturaSftpDropFolder'
      - $ref: '#/components/schemas/KalturaTrRdsDropFolder'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaFtpDropFolder
          - KalturaMicrosoftTeamsDropFolder
          - KalturaScpDropFolder
          - KalturaSftpDropFolder
          - KalturaTrRdsDropFolder
          type: string
      title: KalturaRemoteDropFolder
      type: object
      x-abstract: true
    KalturaBusinessProcessNotificationTemplateBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaEventNotificationTemplateFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaBusinessProcessNotificationTemplateFilter'
      - $ref: '#/components/schemas/KalturaBusinessProcessAbortNotificationTemplateFilter'
      - $ref: '#/components/schemas/KalturaBusinessProcessSignalNotificationTemplateFilter'
      - $ref: '#/components/schemas/KalturaBusinessProcessStartNotificationTemplateFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaBusinessProcessNotificationTemplateFilter
          - KalturaBusinessProcessAbortNotificationTemplateFilter
          - KalturaBusinessProcessSignalNotificationTemplateFilter
          - KalturaBusinessProcessStartNotificationTemplateFilter
          type: string
      title: KalturaBusinessProcessNotificationTemplateBaseFilter
      type: object
      x-abstract: true
    KalturaPodcastDistributionProfile:
      allOf:
      - $ref: '#/components/schemas/KalturaDistributionProfile'
      properties:
        feedId:
          description: '`readOnly`'
          readOnly: true
          type: string
        metadataProfileId:
          type: integer
        xsl:
          type: string
      title: KalturaPodcastDistributionProfile
      type: object
    KalturaESearchEntryMetadataItem:
      allOf:
      - $ref: '#/components/schemas/KalturaESearchEntryAbstractNestedItem'
      properties:
        metadataFieldId:
          type: integer
        metadataProfileId:
          type: integer
        xpath:
          type: string
      title: KalturaESearchEntryMetadataItem
      type: object
    KalturaRatingCountListResponse:
      allOf:
      - $ref: '#/components/schemas/KalturaListResponse_2'
      properties:
        objects:
          items:
            $ref: '#/components/schemas/KalturaRatingCount'
          type: array
      title: KalturaRatingCountListResponse
      type: object
    KalturaEvalBooleanField:
      allOf:
      - $ref: '#/components/schemas/KalturaBooleanField'
      description: Evaluates PHP statement, depends on the execution context
      properties:
        code:
          description: PHP code
          type: string
      title: KalturaEvalBooleanField
      type: object
    KalturaEmailNotificationCategoryRecipientJobData:
      allOf:
      - $ref: '#/components/schemas/KalturaEmailNotificationRecipientJobData'
      description: Job Data representing the provider of recipients for a single categoryId
      properties:
        categoryUserFilter:
          $ref: '#/components/schemas/KalturaCategoryUserFilter'
      title: KalturaEmailNotificationCategoryRecipientJobData
      type: object
    KalturaThumbAsset:
      allOf:
      - $ref: '#/components/schemas/KalturaAsset'
      anyOf:
      - $ref: '#/components/schemas/KalturaThumbAsset'
      - $ref: '#/components/schemas/KalturaTimedThumbAsset'
      discriminator:
        propertyName: objectType
      properties:
        height:
          description: '`readOnly`


            The height of the Flavor Asset'
          readOnly: true
          type: integer
        objectType:
          enum:
          - KalturaThumbAsset
          - KalturaTimedThumbAsset
          type: string
        status:
          description: '`readOnly`


            Enum Type: `KalturaThumbAssetStatus`


            The status of the asset'
          enum:
          - -1
          - 0
          - 1
          - 2
          - 3
          - 7
          - 9
          readOnly: true
          type: integer
          x-enumLabels:
          - ERROR
          - QUEUED
          - CAPTURING
          - READY
          - DELETED
          - IMPORTING
          - EXPORTING
          x-enumType: KalturaThumbAssetStatus
        thumbParamsId:
          description: '`insertOnly`


            The Flavor Params used to create this Flavor Asset'
          type: integer
        width:
          description: '`readOnly`


            The width of the Flavor Asset'
          readOnly: true
          type: integer
      title: KalturaThumbAsset
      type: object
    KalturaDeliveryProfileRtmpFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaDeliveryProfileRtmpBaseFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaDeliveryProfileRtmpFilter'
      - $ref: '#/components/schemas/KalturaDeliveryProfileGenericRtmpFilter'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaDeliveryProfileRtmpFilter
          - KalturaDeliveryProfileGenericRtmpFilter
          type: string
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaDeliveryProfileRtmpOrderBy
      title: KalturaDeliveryProfileRtmpFilter
      type: object
    KalturaGenericDistributionProviderListResponse:
      allOf:
      - $ref: '#/components/schemas/KalturaListResponse_2'
      properties:
        objects:
          items:
            $ref: '#/components/schemas/KalturaGenericDistributionProvider'
          type: array
      title: KalturaGenericDistributionProviderListResponse
      type: object
    KalturaStreamContainer:
      properties:
        channelIndex:
          type: integer
        channelLayout:
          type: string
        id:
          type: string
        label:
          type: string
        language:
          type: string
        trackIndex:
          type: integer
        type:
          type: string
      title: KalturaStreamContainer
      type: object
    KalturaCategoryUserFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaCategoryUserBaseFilter'
      properties:
        categoryDirectMembers:
          description: Return the list of categoryUser that are not inherited from parent category - only the direct categoryUsers.
          type: boolean
        freeText:
          description: Free text search on user id or screen name
          type: string
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaCategoryUserOrderBy
        relatedGroupsByUserId:
          description: Return a list of categoryUser that related to the userId in this field by groups
          type: string
      title: KalturaCategoryUserFilter
      type: object
    KalturaFacebookDistributionProfileBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaConfigurableDistributionProfileFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaFacebookDistributionProfileFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaFacebookDistributionProfileFilter
          type: string
      title: KalturaFacebookDistributionProfileBaseFilter
      type: object
      x-abstract: true
    KalturaMediaServerNodeFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaMediaServerNodeBaseFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaMediaServerNodeFilter'
      - $ref: '#/components/schemas/KalturaLiveClusterMediaServerNodeBaseFilter'
      - $ref: '#/components/schemas/KalturaLiveClusterMediaServerNodeFilter'
      - $ref: '#/components/schemas/KalturaWowzaMediaServerNodeFilter'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaMediaServerNodeFilter
          - KalturaLiveClusterMediaServerNodeBaseFilter
          - KalturaLiveClusterMediaServerNodeFilter
          - KalturaWowzaMediaServerNodeFilter
          type: string
        orderBy:
          enum:
          - +createdAt
          - +heartbeatTime
          - +updatedAt
          - -createdAt
          - -heartbeatTime
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - HEARTBEAT_TIME_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - HEARTBEAT_TIME_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaMediaServerNodeOrderBy
      title: KalturaMediaServerNodeFilter
      type: object
    KalturaTagListResponse:
      allOf:
      - $ref: '#/components/schemas/KalturaListResponse_2'
      properties:
        objects:
          items:
            $ref: '#/components/schemas/KalturaTag'
          type: array
      title: KalturaTagListResponse
      type: object
    KalturaMultiLingualString:
      description: A Multi Lingual String
      properties:
        language:
          description: The language of the value
          type: string
        value:
          description: Value
          type: string
      title: KalturaMultiLingualString
      type: object
    KalturaDoubleClickDistributionProfileFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaDoubleClickDistributionProfileBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaDoubleClickDistributionProfileOrderBy
      title: KalturaDoubleClickDistributionProfileFilter
      type: object
    KalturaFlavorAssetBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaAssetFilter_2'
      anyOf:
      - $ref: '#/components/schemas/KalturaFlavorAssetFilter'
      - $ref: '#/components/schemas/KalturaLiveAssetFilter'
      - $ref: '#/components/schemas/KalturaWidevineFlavorAssetFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        flavorParamsIdEqual:
          type: integer
        flavorParamsIdIn:
          type: string
        objectType:
          enum:
          - KalturaFlavorAssetFilter
          - KalturaLiveAssetFilter
          - KalturaWidevineFlavorAssetFilter
          type: string
        statusEqual:
          description: 'Enum Type: `KalturaFlavorAssetStatus`'
          enum:
          - -1
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          type: integer
          x-enumLabels:
          - ERROR
          - QUEUED
          - CONVERTING
          - READY
          - DELETED
          - NOT_APPLICABLE
          - TEMP
          - WAIT_FOR_CONVERT
          - IMPORTING
          - VALIDATING
          - EXPORTING
          x-enumType: KalturaFlavorAssetStatus
        statusIn:
          type: string
        statusNotIn:
          type: string
      title: KalturaFlavorAssetBaseFilter
      type: object
      x-abstract: true
    KalturaAssetResource:
      allOf:
      - $ref: '#/components/schemas/KalturaContentResource'
      description: Used to ingest media that is already ingested to Kaltura system as a different flavor asset in the past, the new created flavor asset will be ready immediately using a file sync of link type that will point to the existing file sync of the existing flavor asset.
      properties:
        assetId:
          description: ID of the source asset
          type: string
      title: KalturaAssetResource
      type: object
    KalturaCsvAdditionalFieldInfo:
      properties:
        fieldName:
          type: string
        xpath:
          type: string
      title: KalturaCsvAdditionalFieldInfo
      type: object
    KalturaImageFlavorParamsOutput:
      allOf:
      - $ref: '#/components/schemas/KalturaFlavorParamsOutput'
      properties:
        densityHeight:
          type: integer
        densityWidth:
          type: integer
        depth:
          type: integer
        sizeHeight:
          type: integer
        sizeWidth:
          type: integer
      title: KalturaImageFlavorParamsOutput
      type: object
    KalturaWebexDropFolderFile:
      allOf:
      - $ref: '#/components/schemas/KalturaDropFolderFile'
      properties:
        confId:
          type: string
        contentUrl:
          type: string
        description:
          type: string
        recordingId:
          type: integer
        webexHostId:
          type: string
      title: KalturaWebexDropFolderFile
      type: object
    KalturaLiveStats:
      anyOf:
      - $ref: '#/components/schemas/KalturaLiveStats'
      - $ref: '#/components/schemas/KalturaEntryLiveStats'
      - $ref: '#/components/schemas/KalturaEntryReferrerLiveStats'
      - $ref: '#/components/schemas/KalturaGeoTimeLiveStats'
      discriminator:
        propertyName: objectType
      properties:
        audience:
          type: integer
        avgBitrate:
          type: number
        bufferTime:
          type: integer
        dvrAudience:
          type: integer
        objectType:
          enum:
          - KalturaLiveStats
          - KalturaEntryLiveStats
          - KalturaEntryReferrerLiveStats
          - KalturaGeoTimeLiveStats
          type: string
        plays:
          type: integer
        secondsViewed:
          type: integer
        startEvent:
          type: integer
        timestamp:
          type: integer
      title: KalturaLiveStats
      type: object
    KalturaFlavorParamsOutput:
      allOf:
      - $ref: '#/components/schemas/KalturaFlavorParams'
      anyOf:
      - $ref: '#/components/schemas/KalturaFlavorParamsOutput'
      - $ref: '#/components/schemas/KalturaDocumentFlavorParamsOutput'
      - $ref: '#/components/schemas/KalturaImageFlavorParamsOutput'
      - $ref: '#/components/schemas/KalturaMediaFlavorParamsOutput'
      - $ref: '#/components/schemas/KalturaPdfFlavorParamsOutput'
      - $ref: '#/components/schemas/KalturaSwfFlavorParamsOutput'
      - $ref: '#/components/schemas/KalturaWidevineFlavorParamsOutput'
      discriminator:
        propertyName: objectType
      properties:
        commandLinesStr:
          type: string
        flavorAssetId:
          type: string
        flavorAssetVersion:
          type: string
        flavorParamsId:
          type: integer
        flavorParamsVersion:
          type: string
        objectType:
          enum:
          - KalturaFlavorParamsOutput
          - KalturaDocumentFlavorParamsOutput
          - KalturaImageFlavorParamsOutput
          - KalturaMediaFlavorParamsOutput
          - KalturaPdfFlavorParamsOutput
          - KalturaSwfFlavorParamsOutput
          - KalturaWidevineFlavorParamsOutput
          type: string
        readyBehavior:
          type: integer
      title: KalturaFlavorParamsOutput
      type: object
    KalturaVendorChapteringCatalogItem:
      allOf:
      - $ref: '#/components/schemas/KalturaVendorCatalogItem'
      properties: {}
      title: KalturaVendorChapteringCatalogItem
      type: object
    KalturaQuizUserEntryFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaQuizUserEntryBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaQuizUserEntryOrderBy
      title: KalturaQuizUserEntryFilter
      type: object
    KalturaFtpDropFolder:
      allOf:
      - $ref: '#/components/schemas/KalturaRemoteDropFolder'
      properties:
        host:
          type: string
        password:
          type: string
          x-inputType: password
        port:
          type: integer
        username:
          type: string
      title: KalturaFtpDropFolder
      type: object
    KalturaBulkUploadResult:
      anyOf:
      - $ref: '#/components/schemas/KalturaBulkUploadResult'
      - $ref: '#/components/schemas/KalturaBulkUploadResultCategory'
      - $ref: '#/components/schemas/KalturaBulkUploadResultCategoryEntry'
      - $ref: '#/components/schemas/KalturaBulkUploadResultCategoryUser'
      - $ref: '#/components/schemas/KalturaBulkUploadResultEntry'
      - $ref: '#/components/schemas/KalturaBulkUploadResultJob'
      - $ref: '#/components/schemas/KalturaBulkUploadResultScheduleEvent'
      - $ref: '#/components/schemas/KalturaBulkUploadResultScheduleResource'
      - $ref: '#/components/schemas/KalturaBulkUploadResultUser'
      - $ref: '#/components/schemas/KalturaBulkUploadResultUserEntry'
      - $ref: '#/components/schemas/KalturaBulkUploadResultVendorCatalogItem'
      discriminator:
        propertyName: objectType
      properties:
        action:
          description: 'Enum Type: `KalturaBulkUploadAction`'
          enum:
          - scheduleBulkUpload.CANCEL
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
          type: string
          x-enumLabels:
          - CANCEL
          - ADD
          - UPDATE
          - DELETE
          - REPLACE
          - TRANSFORM_XSLT
          - ADD_OR_UPDATE
          - ACTIVATE
          - REJECT
          - UPDATE_STATUS
          x-enumType: KalturaBulkUploadAction
        bulkUploadJobId:
          description: The id of the parent job
          type: integer
        bulkUploadResultObjectType:
          description: 'Enum Type: `KalturaBulkUploadObjectType`'
          enum:
          - bulkUploadFilter.JOB
          - scheduleBulkUpload.SCHEDULE_EVENT
          - scheduleBulkUpload.SCHEDULE_RESOURCE
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          type: string
          x-enumLabels:
          - JOB
          - SCHEDULE_EVENT
          - SCHEDULE_RESOURCE
          - ENTRY
          - CATEGORY
          - USER
          - CATEGORY_USER
          - CATEGORY_ENTRY
          - USER_ENTRY
          - VENDOR_CATALOG_ITEM
          x-enumType: KalturaBulkUploadObjectType
        errorCode:
          type: string
        errorDescription:
          type: string
        errorType:
          type: integer
        id:
          description: '`readOnly`


            The id of the result'
          readOnly: true
          type: integer
        lineIndex:
          description: The index of the line in the CSV
          type: integer
        objectErrorDescription:
          type: string
        objectId:
          type: string
        objectStatus:
          type: integer
        objectType:
          enum:
          - KalturaBulkUploadResult
          - KalturaBulkUploadResultCategory
          - KalturaBulkUploadResultCategoryEntry
          - KalturaBulkUploadResultCategoryUser
          - KalturaBulkUploadResultEntry
          - KalturaBulkUploadResultJob
          - KalturaBulkUploadResultScheduleEvent
          - KalturaBulkUploadResultScheduleResource
          - KalturaBulkUploadResultUser
          - KalturaBulkUploadResultUserEntry
          - KalturaBulkUploadResultVendorCatalogItem
          type: string
        partnerData:
          type: string
        partnerId:
          type: integer
        pluginsData:
          items:
            $ref: '#/components/schemas/KalturaBulkUploadPluginData'
          type: array
        rowData:
          description: The data as recieved in the csv
          type: string
        status:
          description: 'Enum Type: `KalturaBulkUploadResultStatus`'
          enum:
          - '1'
          - '2'
          - '3'
          type: string
          x-enumLabels:
          - ERROR
          - OK
          - IN_PROGRESS
          x-enumType: KalturaBulkUploadResultStatus
      title: KalturaBulkUploadResult
      type: object
    KalturaAnswerCuePointFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaAnswerCuePointBaseFilter'
      properties:
        orderBy:
          enum:
          - +createdAt
          - +intId
          - +partnerSortValue
          - +startTime
          - +triggeredAt
          - +updatedAt
          - -createdAt
          - -intId
          - -partnerSortValue
          - -startTime
          - -triggeredAt
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - INT_ID_ASC
          - PARTNER_SORT_VALUE_ASC
          - START_TIME_ASC
          - TRIGGERED_AT_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - INT_ID_DESC
          - PARTNER_SORT_VALUE_DESC
          - START_TIME_DESC
          - TRIGGERED_AT_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaAnswerCuePointOrderBy
      title: KalturaAnswerCuePointFilter
      type: object
    KalturaGoogleVideoSyndicationFeed:
      allOf:
      - $ref: '#/components/schemas/KalturaBaseSyndicationFeed'
      properties:
        adultContent:
          description: 'Enum Type: `KalturaGoogleSyndicationFeedAdultValues`'
          enum:
          - 'No'
          - 'Yes'
          type: string
          x-enumLabels:
          - 'NO'
          - 'YES'
          x-enumType: KalturaGoogleSyndicationFeedAdultValues
      title: KalturaGoogleVideoSyndicationFeed
      type: object
    KalturaImageFlavorParamsOutputFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaImageFlavorParamsOutputBaseFilter'
      properties:
        orderBy:
          type: string
          x-enumLabels: []
          x-enumType: KalturaImageFlavorParamsOutputOrderBy
      title: KalturaImageFlavorParamsOutputFilter
      type: object
    KalturaConferenceServerNodeBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaServerNodeFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaConferenceServerNodeFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaConferenceServerNodeFilter
          type: string
      title: KalturaConferenceServerNodeBaseFilter
      type: object
      x-abstract: true
    KalturaBatchJobFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaBatchJobBaseFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaBatchJobFilter'
      - $ref: '#/components/schemas/KalturaBatchJobFilterExt'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaBatchJobFilter
          - KalturaBatchJobFilterExt
          type: string
        orderBy:
          enum:
          - +createdAt
          - +estimatedEffort
          - +executionAttempts
          - +finishTime
          - +lockVersion
          - +priority
          - +queueTime
          - +status
          - +updatedAt
          - -createdAt
          - -estimatedEffort
          - -executionAttempts
          - -finishTime
          - -lockVersion
          - -priority
          - -queueTime
          - -status
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - ESTIMATED_EFFORT_ASC
          - EXECUTION_ATTEMPTS_ASC
          - FINISH_TIME_ASC
          - LOCK_VERSION_ASC
          - PRIORITY_ASC
          - QUEUE_TIME_ASC
          - STATUS_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - ESTIMATED_EFFORT_DESC
          - EXECUTION_ATTEMPTS_DESC
          - FINISH_TIME_DESC
          - LOCK_VERSION_DESC
          - PRIORITY_DESC
          - QUEUE_TIME_DESC
          - STATUS_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaBatchJobOrderBy
      title: KalturaBatchJobFilter
      type: object
    KalturaUiConfListResponse:
      allOf:
      - $ref: '#/components/schemas/KalturaListResponse_2'
      properties:
        objects:
          items:
            $ref: '#/components/schemas/KalturaUiConf'
          type: array
      title: KalturaUiConfListResponse
      type: object
    KalturaAttachmentAssetFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaAttachmentAssetBaseFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaAttachmentAssetFilter'
      - $ref: '#/components/schemas/KalturaTranscriptAssetFilter'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaAttachmentAssetFilter
          - KalturaTranscriptAssetFilter
          type: string
        orderBy:
          enum:
          - +createdAt
          - +deletedAt
          - +size
          - +updatedAt
          - -createdAt
          - -deletedAt
          - -size
          - -updatedAt
          type: string
          x-enumLabels:
          - CREATED_AT_ASC
          - DELETED_AT_ASC
          - SIZE_ASC
          - UPDATED_AT_ASC
          - CREATED_AT_DESC
          - DELETED_AT_DESC
          - SIZE_DESC
          - UPDATED_AT_DESC
          x-enumType: KalturaAttachmentAssetOrderBy
      title: KalturaAttachmentAssetFilter
      type: object
    KalturaHttpNotificationObjectData:
      allOf:
      - $ref: '#/components/schemas/KalturaHttpNotificationData'
      description: Evaluates PHP statement, depends on the execution context
      properties:
        apiObjectType:
          description: Kaltura API object type
          type: string
        code:
          description: PHP code
          type: string
        dataStringReplacements:
          items:
            $ref: '#/components/schemas/KalturaKeyValue'
          type: array
        format:
          description: 'Enum Type: `KalturaResponseType`


            Data format'
          enum:
          - 1
          - 2
          - 3
          - 4
          - 7
          - 8
          - 9
          type: integer
          x-enumLabels:
          - RESPONSE_TYPE_JSON
          - RESPONSE_TYPE_XML
          - RESPONSE_TYPE_PHP
          - RESPONSE_TYPE_PHP_ARRAY
          - RESPONSE_TYPE_HTML
          - RESPONSE_TYPE_MRSS
          - RESPONSE_TYPE_JSONP
          x-enumType: KalturaResponseType
        ignoreNull:
          description: Ignore null attributes during serialization
          type: boolean
      title: KalturaHttpNotificationObjectData
      type: object
    KalturaCaptionAssetBaseFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaAssetFilter_2'
      anyOf:
      - $ref: '#/components/schemas/KalturaCaptionAssetFilter'
      - $ref: '#/components/schemas/KalturaCaptionAssetItemFilter'
      description: '`abstract`'
      discriminator:
        propertyName: objectType
      properties:
        captionParamsIdEqual:
          type: integer
        captionParamsIdIn:
          type: string
        formatEqual:
          description: 'Enum Type: `KalturaCaptionType`'
          enum:
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          type: string
          x-enumLabels:
          - SRT
          - DFXP
          - WEBVTT
          - CAP
          - SCC
          x-enumType: KalturaCaptionType
        formatIn:
          type: string
        objectType:
          enum:
          - KalturaCaptionAssetFilter
          - KalturaCaptionAssetItemFilter
          type: string
        statusEqual:
          description: 'Enum Type: `KalturaCaptionAssetStatus`'
          enum:
          - -1
          - 0
          - 2
          - 3
          - 7
          - 9
          type: integer
          x-enumLabels:
          - ERROR
          - QUEUED
          - READY
          - DELETED
          - IMPORTING
          - EXPORTING
          x-enumType: KalturaCaptionAssetStatus
        statusIn:
          type: string
        statusNotIn:
          type: string
      title: KalturaCaptionAssetBaseFilter
      type: object
      x-abstract: true
    KalturaFtpDistributionProviderFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaFtpDistributionProviderBaseFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaFtpDistributionProviderFilter'
      - $ref: '#/components/schemas/KalturaFtpScheduledDistributionProviderFilter'
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          enum:
          - KalturaFtpDistributionProviderFilter
          - KalturaFtpScheduledDistributionProviderFilter
          type: string
        orderBy:
          type: string
          x-enumLabels: []
          x-enumType: KalturaFtpDistributionProviderOrderBy
      title: KalturaFtpDistributionProviderFilter
      type: object
    KalturaDeliveryProfileFilter:
      allOf:
      - $ref: '#/components/schemas/KalturaDeliveryProfileBaseFilter'
      anyOf:
      - $ref: '#/components/schemas/KalturaDeliveryProfileFilter'
      - $ref: '#/components/schemas/KalturaDeliveryProfileAkamaiAppleHttpManifestFilter'
      - $ref: '#/components/schemas/KalturaDeliveryProfileAkamaiHdsFilter'
      - $ref: '#/components/schemas/KalturaDeliveryProfileAkamaiHttpFilter'
      - $ref: '#/components/schemas/KalturaDeliveryProfileGenericAppleHttpFilter'
      - $ref: '#/components/schemas/KalturaDeliveryProfileGenericHdsFilter'
      - $ref: '#/components/schemas/KalturaDeliveryProfileGenericHttpFilter'
      - $ref: '#/components/schemas/KalturaDeliveryProfileGenericSilverLightFilter'
      - $ref: '#/components/schemas/KalturaDeliveryProfileLiveAppleHttpFilter'
      - $ref: '#/components/schemas/KalturaDeliveryProfileRtmpFilter'
      - $ref: '#/components/schemas/KalturaDeliveryProfileGenericRtmpFilter'
      discriminator:
        propertyName: objectType
      properties:
        isLive:
          description: 'Enum Type: `KalturaNullableBoolean`'
          enum:
          - -1
          - 0
          - 1
          type: integer
          x-enumLabels:
          - NULL_VALUE
          - FALSE_VALUE
          - TRUE_VALUE
          x-enumType: KalturaNullableBoolean
        objectType:
          enum:
          - KalturaDeliveryProfileFilter
          - KalturaDeliveryProfileAkamaiAppleHttpManifestFilter
          - KalturaDeliveryProfileAkamaiHdsFilter
          - KalturaDeliveryProfileAkamaiHttpFilter
          - KalturaDeliveryProfileGenericAppleHttpFilter
          - KalturaDeliveryProfileGenericHdsFilter
          - KalturaDeliveryProfileGenericHttpFilter
          - KalturaDeliveryProfileGenericSilverLightFilter
          - KalturaDeliveryProfileLiveAppleHttpFilter
          - KalturaDeliveryProfileRtmpFilter
          - KalturaDeliveryProfileGenericRtmpFilter
          type: string
        orderBy:
          enum:
          - +createdAt
          - +updatedAt
          - -createdAt
          - -updatedAt
          type: string
          x-enumLabels:
[...]
